
<div class="box">
    <!-- /.box-header -->
    <div class="box-body">
        <table id="dt_basic" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Account number</th>
                    <th>Account name</th>
                    <th>Currency</th>
                    <th style="width:180px;">Amount of money</th>
                    <th style="width:180px;">Available balances</th>
                    <th>Day</th>
                    <th style="width: 100px;">Administrator</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="javascript:;">21510003727</a></td>
                    <td>Nguyen Trong The</td>
                    <td>Baht</td>
                    <td>12.000.000</td>
                    <td>12.000.000</td>
                    <td>12/07/2016</td>
                    <td class="text-center">
                        <a href="javascript:;" class="btn hide-border"><i class="fa fa-pencil blue"></i></a>
                        <a href="javascript:;" class="btn hide-border"><i class="fa fa-history" aria-hidden="true"></i></a>
                    </td>
                </tr>

                <tr>
                    <td><a href="javascript:;">21510003727</a></td>
                    <td>Nguyen Duy Minh</td>
                    <td>Baht</td>
                    <td>12.000.000</td>
                    <td>12.000.000</td>
                    <td>12/07/2016</td>
                    <td class="text-center">
                        <a href="javascript:;" class="btn hide-border"><i class="fa fa-pencil blue"></i></a>
                        <a href="javascript:;" class="btn hide-border"><i class="fa fa-history" aria-hidden="true"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><a href="javascript:;">21510003727</a></td>
                    <td>VietinBank</td>
                    <td>Baht</td>
                    <td>12.000.000</td>
                    <td>12.000.000</td>
                    <td>12/07/2016</td>
                    <td class="text-center">
                        <a href="javascript:;" class="btn hide-border"><i class="fa fa-pencil blue"></i></a>
                        <a href="javascript:;" class="btn hide-border"><i class="fa fa-history" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
