@{
    ViewBag.Title = "Browse the order request of the order";
    var cultureJs = string.Format("{0}.js", UserState.Culture);
}

<section class="content-header">
    <h1>
        Browse the order request of the order
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Browse the order request of the order</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        @*<div class="col-sm-3 col-md-2">
                @Html.Partial("_WarehouseSidebar", EnumPage.ExportWarehouseApprovel)
            </div>
            <div class="col-sm-9 col-md-10">*@
        <div class="col-sm-12">
            <!-- Main content -->
            <div id="exportWarehouseApprovel">
                @Html.AntiForgeryToken()
                <div class="box box-primary">
                    <div class="box-body pad table-responsive">
                        <form data-bind="submit: search.bind($data, 1)" id="searchForm" method="get" role="form" class="form-inline">
                            <!-- ko if: window['warehouses'] -->
                            <div class="form-group">
                                <select data-bind="value: warehouseIdPath, options: warehouses, optionsValue:'idPath', optionsText:'name', optionsCaption:'-- Select archive --'" class="form-control"></select>
                            </div>
                            <!-- /ko -->
                            <div class="form-group">
                                <select data-bind="value: status, options: states, optionsValue:'id', optionsText: 'name', optionsCaption:'-- Select status --'" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <button type="button" class="btn btn-default pull-right" id="ExportWarehouseApprovel-date-btn">
                                        <span>
                                            <i class="fa fa-calendar"></i> Creation date
                                        </span>
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input data-bind="value: keyword" placeholder="Search ..." type="text" class="form-control" />
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary"><i data-bind="attr: {class: isLoading() ? 'fa fa-spinner fa-pulse' : 'fa fa-search'}" class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="body-table">
                        <div class="box">
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered tree">
                                        <thead>
                                            <tr>
                                                <th class="text-center w-40">#</th>
                                                <th class="text-center w-200" colspan="2">Customer</th>
                                                <th class="text-center w-150">Exhibition </th>
                                                <th class="text-center w-150">Money (Currency)</th>
                                                <th class="text-center w-150">Money service (Currency)</th>
                                                <th class="text-center w-150">Blackmail (Currency)</th>
                                                <th class="text-center w-150">Paid amount (Currency)</th>
                                                <th class="text-center w-150">Liabilities (Currency)</th>
                                                <th class="text-center w-200">Note</th>
                                                <th class="text-center w-150">Status</th>
                                                <th class="text-center w-80"></th>
                                            </tr>
                                        </thead>
                                        <!-- ko if: orders().length == 0 -->
                                        <tbody>
                                            <tr>
                                                <td colspan="11" class="text-center">There are no records</td>
                                            </tr>
                                        </tbody>
                                        <!-- /ko -->
                                        <!-- ko ifnot: orders().length == 0 -->
                                        <tbody data-bind="template: {name: 'exportWarehouseApprovelTemplate', foreach: orders}"></tbody>
                                        <!-- /ko -->
                                    </table>
                                </div>

                                <div class="row mt15">
                                    <div class="col-sm-6">
                                        <div id="sumaryPagerExportWarehouseApprovel" class="henry-paging mt5"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div id="pagerExportWarehouseApprovel"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.content -->
        </div>
    </div>
</section>

@*@Html.Partial("_ExportWarehouseApprovelModel")*@

@section Styles{
    <style>
        #ExportWarehouseApprovelAddModel, #walletDetailModal {
            padding: 0 10px !important;
        }

            #ExportWarehouseApprovelAddModel .modal-lg, #walletDetailModal .modal-lg {
                width: 90% !important;
            }

        .ui-front {
            z-index: 99999;
        }

        #ExportWarehouseApprovelAddModel input.decimal:focus {
            text-align: left !important;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
            @if (ViewBag.Warehouses != null)
            {
            <text>
        var warehouses = @Html.Raw(ViewBag.Warehouses);
        </text>
            }
        var states = @Html.Raw(ViewBag.States);
    </script>
    <script src="/Scripts/common/status.@cultureJs"></script>
    <script src="/Scripts/viewmodels/exportwarehouseapprovel/exportWarehouseApprovelModel.js"></script>
}

@using (Html.BeginScriptBlock())
{
    <script id="exportWarehouseApprovelTemplate" type="text/template">
        <!-- ko if: isFirst -->
        <tr class="bg-danger">
            <td data-bind="attr: {rowspan: customerOrderNo + showDetailNo() + 1, colspan: 2}">
                <ul class="tbl-list">
                    <li><i class="fa fa fa-user"></i> <b data-bind="text: customerFullName"></b></li>
                    <li>Email: <span data-bind="text: customerEmail"></span></li>
                    <li>Phone: <span data-bind="text: customerPhone"></span></li>
                    <li>Số dư: <span data-bind="text: formatNumberic(customerBalanceAvalible, 'N2')"></span> (Baht)</li>
                </ul>
            </td>
            <td></td>
            <td></td>
            <td data-bind="text: formatNumberic(customerTotalProductPrice, 'N2')" class="text-right"></td>
            <td data-bind="text: formatNumberic(customerTotalServicePrice, 'N2')" class="text-right"></td>
            <td data-bind="text: formatNumberic(customerTotal, 'N2')" class="text-right"></td>
            <td data-bind="text: formatNumberic(customerPayedPrice, 'N2')" class="text-right"></td>
            <td data-bind="text: formatNumberic(customerTotal - customerPayedPrice, 'N2')" class="text-right"></td>
            <td></td>
            <td></td>
            <td class="text-center"></td>
        </tr>
        <!-- /ko -->
        <tr class="bg-info">
            <td data-bind="text: $index() + 1, attr: {rowspan: isShowDetail() ?  2 : 1 }" class="text-center"></td>
            <td>
                <a data-bind="click: changeShowDetail" href="javascript:;" class="btn btn-xs btn-default pull-left mr10">
                    <i data-bind="attr: {class: isShowDetail() ? 'fa fa-minus' : 'fa fa-plus'}" class="fa fa-minus"></i>
                </a>
                <ul class="tbl-list">
                    <li><i class="fa fa fa-barcode"></i> <b data-bind="text: ReturnCode(orderCode)"></b></li>
                    <li>Package: <span data-bind="text: orderPackageNo"></span>/<span data-bind="text: orderTotalPackageNo"></span></li>
                    <li>@*Cân nặng: <span data-bind="text: formatNumberic(orderWeightActual, 'N2')"></span> (kg)*@</li>
                    <li>Dispatch note: <span data-bind="text: 'E' + exportWarehouseCode"></span></li>
                </ul>
            </td>
            <td data-bind="text: formatNumberic(orderTotalProductPrice, 'N2')" class="text-right"></td>
            <td data-bind="text: formatNumberic(orderTotalServicePrice, 'N2')" class="text-right"></td>
            <td data-bind="text: formatNumberic(orderTotal, 'N2')" class="text-right"></td>
            <td data-bind="text: formatNumberic(orderPayedPrice, 'N2')" class="text-right"></td>
            <td data-bind="text: formatNumberic(orderTotal - orderPayedPrice, 'N2')" class="text-right"></td>
            <td>
                <div data-bind="text: orderNote"></div>
                <!-- ko if: orderTotal - orderPayedPrice > customerBalanceAvalible -->
                <div class="color-red">Amount of money in the customer's account is not enough to complete the order</div>
                <!-- /ko -->
            </td>
            <td class="text-center">
                <!-- ko if: status == 0 -->
                <span class="label label-warning">Pending</span>
                <!-- /ko -->
                <!-- ko if: status == 1 -->
                <span class="label label-success">Approved</span>
                <!-- /ko -->
            </td>
            <td class="text-center">
                <button data-bind="disable: isSubmit() || status == 1 || orderPayedPrice >= orderTotal  || orderTotal - orderPayedPrice > customerBalanceAvalible, click: $root.approvel" type="button" class="btn btn-success">
                    <i data-bind="attr: {class: isSubmit() ? 'fa fa-spinner fa-pulse' : 'fa fa-check'}"></i>
                    Duyệt
                </button>
            </td>
        </tr>
        <!-- ko if: isShowDetail -->
        <tr>
            <td colspan="9" class="p0">
                <table class="table table-bordered m0">
                    <thead>
                        <tr>
                            <td class="text-center w50">#</td>
                            <td class="text-center w80">Package ID</td>
                            <td class="text-center w100">Waybill code</td>
                            <td class="text-center w200">Size (cm)</td>
                            <td class="text-center w100">Weight (kg)</td>
                            <td class="text-center w100">Weight converted (kg)</td>
                            <td class="text-center w100">Weight real (kg)</td>
                            <td class="text-center">Note</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: packages -->
                        <tr>
                            <td data-bind="text: $index() + 1" class="text-center"></td>
                            <td data-bind="text: 'P'+packageCode" class="text-center">
                                @*<a data-bind="text: 'P'+packageCode, click: $parents[1].showDetail.bind($data, packageId)" href="javascript:;"></a>*@
                            </td>
                            <td data-bind="text: packageTransportCode" class="text-center"></td>
                            <td data-bind="text: packageSize"></td>
                            <td data-bind="text: formatNumberic(packageWeight, 'N2')" class="text-right"></td>
                            <td data-bind="text: formatNumberic(packageWeightConverted, 'N2')" class="text-right"></td>
                            <td data-bind="text: formatNumberic(packageWeightActual, 'N2')" class="text-right"></td>
                            <td data-bind="text: note"></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-right">Total: </td>
                            <td data-bind="text: formatNumberic(orderWeight, 'N2')" class="text-right"></td>
                            <td data-bind="text: formatNumberic(orderWeightConverted, 'N2')" class="text-right"></td>
                            <td data-bind="text: formatNumberic(orderWeightActual, 'N2')" class="text-right"></td>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </tr>
        <!-- /ko -->
    </script>
}