@model List<Library.DbContext.Entities.Ward>

<option value="">--@Resource.Select_Ward--</option>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
}