 

@{
    ViewBag.Title = "Tạm dừng chức năng đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header{
    @Html.Partial("~/Views/Partial/_Header.cshtml")
}

<section class="forget-p">
    <h1 class="text-center">THÔNG BÁO TẠM DỪNG CHỨC NĂNG ĐĂNG KÝ</h1>
    <div class="forget-p-yanzheng">
        <img src="~/Images/DeleteDeposit.png" atl="" width="100" style="margin-top: 10px;" alt="" />
        <p class="text-center" style="padding: 20px 0; font-size: 16px;padding-bottom: 60px">

            Nếu quý khách có nhu cầu tìm hiểu hoặc sử dụng dịch vụ vui lòng gửi thông tin cho chúng tôi <a class="red-color" href="https://docs.google.com/forms/d/e/1FAIpQLSe3-KiW2odxxA7_5WG6MlmuUqhWshnmuMFhvquGwXChnHtRMA/viewform" target="_blank"> tại đây</a> !
            <br />

            <a href="https://docs.google.com/forms/d/e/1FAIpQLSe3-KiW2odxxA7_5WG6MlmuUqhWshnmuMFhvquGwXChnHtRMA/viewform" style="margin: 20px 0;" class="rs red-color" target="_blank">
                Gửi thông tin tại đây
            </a>
        </p>
    </div>
</section>