 

@{
    ViewBag.Title = Resource.Register_Compele;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header{
    @Html.Partial("~/Views/Partial/_Header.cshtml")
}

<section class="forget-p">
    <h1 class="text-center">@Resource.Home_RegisterSuccess</h1>
    <div class="forget-p-yanzheng">
        <img src="~/Images/success-icon-10.png" atl="" width="100" style="margin-top: 10px;" alt="" />
        <p class="text-center" style="padding: 50px 0; font-size: 16px;">
            @Resource.Home_RegisterContentSuccess
        </p>
    </div>
</section>