<div id="rechargeDetailModal" class="modal fade modal-dialog modal-p60" role="dialog">
    <div class="modal-body">
        <section class="importwarehouse">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="page-header">
                        <strong>TRANSACTION DETAILS</strong>
                        <span class="impornumber">Transaction code: <strong data-bind="text: rechargeBillModel().Code()"></strong></span>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row">
                <div class="col-xs-6">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <th>Date of implementation</th>
                                <td data-bind="text: moment(rechargeBillModel().Created()).format('DD/MM/YYYY hh:mm:ss A')"></td>
                            </tr>
                            <tr>
                                <th>Transaction type:</th>
                                <td><span data-bind="text: rechargeBillModel().TypeName(), css: rechargeBillModel().TypeClass()"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <th>Customer full name:</th>
                                <td data-bind="text: rechargeBillModel().CustomerName()"></td>
                            </tr>
                            <tr>
                                <th>Phone:</th>
                                <td data-bind="text: rechargeBillModel().CustomerPhone()"></td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td data-bind="text: rechargeBillModel().CustomerEmail()"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="alert alert-warning alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="false">&times;</button>
                            <h4><i class="icon fa fa-thumb-tack"></i>Staff notes!</h4>
                            <span data-bind="text: rechargeBillModel().Note()"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="importwarehouse">
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Customer ID</th>
                                <th class="text-center">Generated fluctuations</th>
                                <th class="text-center">Balance before transaction (Baht)</th>
                                <th class="text-center">Balance after transaction (Baht)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center" data-bind="text: rechargeBillModel().CustomerCode()"></td>
                                <td class="text-center"><strong data-bind="text: rechargeBillModel().CurrencyFluctuations"></strong></td>
                                <td class="text-center" data-bind="text: formatNumberic(rechargeBillModel().CurencyStart(), 'N2')"></td>
                                <!-- ko if: rechargeBillModel().Type() == 0 -->
                                <td class="text-center" style="color: blue">
                                    <i class="fa fa-caret-up"></i> <span data-bind="text: formatNumberic(rechargeBillModel().CurencyEnd(), 'N2')"></span>
                                </td>
                                <!-- /ko -->
                                <!-- ko if: rechargeBillModel().Type() == 1 -->
                                <td class="text-center" style="color: red">
                                    <i class="fa fa-caret-down"></i> <span data-bind="text: formatNumberic(rechargeBillModel().CurencyEnd(), 'N2')"></span>
                                </td>
                                <!-- /ko -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
        </section>
        <section class="importwarehouse">
            <div class="row signature">
                <div class="col-sm-4" align="center">
                    <h5><strong>The person making the ticket</strong></h5>
                    <span class="description">(Sign and write full name)</span>
                    <span class="name" data-bind="text: rechargeBillModel().UserName()"></span>
                </div>

                <div class="col-sm-4" align="center">
                    <h5><strong>Customer</strong></h5>
                    <span class="description">(Sign and write full name)</span>
                    <span class="name" data-bind="text: "></span>
                </div>

                <div class="col-sm-4" align="center">
                    <h5><strong>Chief accountant</strong></h5>
                    <span class="description">(Sign and write full name)</span>
                    <span class="name" data-bind="text: rechargeBillModel().UserApprovalName()"></span>
                </div>
            </div>
            <!-- /.row -->
        </section>
    </div>

    <div class="modal-footer">
        <a class="btn btn-primary"><i class="fa fa-print"></i> Print </a>
        <a class="btn btn-default" data-dismiss="modal">Close</a>
    </div>
</div>
