@{
    var statusFinish = (byte)OrderStatus.Finish;
    var statusOrder = (byte)OrderStatus.Order;
    var orderdetailCancel = (byte)OrderDetailStatus.Cancel;
    var orderdetailSuccess = (byte)OrderDetailStatus.Order;

    var orderPackage = (byte)OrderPackageStatus.ShopDelivery;

    var orderWait = (byte)OrderStatus.AreQuotes;
    var statusSuccess = (byte)OrderStatus.OrderSuccess;
    var statusWaitAccountant = (byte)OrderStatus.WaitAccountant;
    var reasonOther = (byte)OrderReasons.TheOtherReason;
    var deliveryShop = (byte)OrderStatus.DeliveryShop;
    var inWarehouse = (byte)OrderStatus.InWarehouse;
    var orderCancel = (byte)OrderStatus.Cancel;
}

<form id="orderCommerceModal">
    @Html.AntiForgeryToken()
    <div id="orderCommerceAddModal" class="modal fade modal-dialog modal-p90" tabindex="-1" data-backdrop="static" role="dialog">
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-9">
                    <h2 class="order-header">
                        <i class="fa fa-globe"></i> Code order : <strong data-bind="text:  ReturnCode(Code())" style="color: red"></strong>
                        <span data-bind="text: statusApp.order[Status()].Name, css: statusApp.order[Status()].Class"></span>
                    </h2>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-default pull-right ml15" data-dismiss="modal"><b>x</b></button>
                    <h2 class="order-header pull-right">
                        <small data-bind="text: 'Start Date :' + moment(Created()).format('DD/MM/YYYY')" class="pull-right"></small><br />
                        <!-- ko if: Status() !== @statusFinish-->
                        <small class="pull-right"> Completed: --/--/----</small>
                        <!-- /ko -->
                        <!-- ko if: Status() == @statusFinish-->
                        <small data-bind="text: 'Date of completion: ' + moment(LastUpdate()).format('DD/MM/YYYY')" class="pull-right"></small>
                        <!-- /ko -->
                    </h2>
                </div>
            </div>
            <div class="row importwarehouse">
                <div class="col-md-4">
                    <strong class="strong-title"> Customer Information </strong>
                    <div class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Customer :</label>
                                <div class="col-sm-8">
                                    <select data-bind="value: CustomerId" class="form-control customer-search-add-order" style="width: 100%;"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Phone:</label>
                                <div class="col-sm-8">
                                    <input data-bind="value: CustomerPhone" disabled="disabled" name="CustomerPhone" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Email:</label>
                                <div class="col-sm-8">
                                    <input data-bind="value: CustomerEmail" disabled="disabled" name="CustomerEmail" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Address :</label>
                                <div class="col-sm-8">
                                    <textarea data-bind="value: CustomerAddress" disabled="disabled" name="CustomerAddress" type="text" class="form-control" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <strong class="strong-title">More information</strong>
                    <div class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Website:<span class="color-red">*</span></label>
                                <div class="col-sm-8">
                                    <input data-bind="value: WebsiteName" disabled="disabled" name="WebsiteName" type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Shop:<span class="color-red">*</span></label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <select data-bind="value: ShopId" class="form-control shop-search" style="width: 100%;"></select>
                                        <a data-bind="click: showAddShop" href="javascript:;" class="input-group-addon btn-success"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Rate:</label>
                                <div class="col-sm-8">
                                    <input data-bind="value: ExchangeRate" disabled="disabled" name="ExchangeRate" type="text" class="form-control decimalCN">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Warehouse chooses:</label>
                                <div class="col-sm-8">
                                    <select class="form-control select-view mb10" style="width: 100%;" data-bind="options: listWarehouseVN, optionsText: 'Name', optionsValue: 'Id', value: WarehouseDeliveryId, optionsCaption: '-- Choose warehouse --', "></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Identifier code:</label>
                                <div class="col-sm-8">
                                    <label data-bind="text: codeOw" class="control-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-order">
                        <div class="box-header with-border">
                            <i class="fa fa-bullhorn"></i>
                            <h3 class="box-title">Note Customer</h3>
                        </div>
                        <div class="box-body">
                            <div>
                                <span data-bind="editable: UserNote, editableOptions: {name: 'userNote', pk: Id, url: '', type: 'textarea', title: 'Enter note', showbuttons: false, mode: 'inline', autotext: 'never', onblur: 'submit', emptytext: 'Not Entered'}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-order">
                        <div class="box-header with-border">
                            <i class="fa fa-bullhorn"></i>
                            <h3 class="box-title">Note Staff</h3>
                        </div>
                        <div class="box-body">
                            <div>
                                <span data-bind="editable: Note, editableOptions: {name: 'note', pk: Id, url: '', type: 'textarea', showbuttons: false, mode: 'inline', autotext: 'never', onblur: 'submit', emptytext: 'Not Entered'}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row importwarehouse">
                <div class="col-sm-12 invoice-col">
                    <div class="form-group">
                        <b class="strong-title">Service is in use: </b>
                        <div data-bind="foreach: listOrderService">
                            <label style="margin-right:10px;">
                                <!-- ko if: Checked == 0 -->
                                <a data-bind="click: (Mode == 1 || $parent.Status() > @deliveryShop) ? '' : $parent.updateService" href="javascript:;"><i style="font-size: 19px; margin: 4px; color:red" class="fa fa-square-o"></i><span data-bind="text: ServiceName"></span></a>
                                <br />
                                <span class="pull-right">0 Baht</span>
                                <!-- /ko -->
                                <!-- ko ifnot: Checked == 0 -->
                                <a data-bind="click: (Mode == 1 || $parent.Status() > @deliveryShop) ? '' : $parent.updateService" href="javascript:;"><i style="font-size: 19px; margin: 4px; color:forestgreen" class="fa fa-check-square-o"></i><span data-bind="text: ServiceName"></span></a>
                                <br />
                                <span data-bind="text: formatNumbericCN(TotalPrice, 'N2') + ' Baht'" class="pull-right"></span>
                                <!-- /ko -->
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row importwarehouse">
                <div class="col-xs-12 table-responsive">
                    <div data-bind="css: isDetailRending() == true? 'display-none' : ''">
                        <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>
                    <div data-bind="css: isDetailRending() == true? '' : 'display-none'" class="display-none">
                        <b class="strong-title">Detail order: <a data-bind="click: addOrderDetail" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add new</a></b>
                        <br />
                        <br />
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center">#</th>
                                    <th class="text-center"><i class="fa fa-image"></i>Image</th>
                                    <th class="text-center"><i class="fa fa-cube"></i> Product name</th>
                                    <th class="text-center"><i class="fa fa-exclamation-circle"></i>Property</th>
                                    <th class="text-center"><i class="fa fa-sticky-note-o"></i>Customer note</th>
                                    <th class="text-center" style="color: blue"><i class="fa fa-cubes"></i> Customer set</th>
                                    <th class="text-center" style="color: red"><i class="fa fa-money"></i> Price (CNY)</th>
                                    <th class="text-center" style="color: red"><i class="fa fa-superscript"></i> Total (CNY)</th>
                                    <th class="text-center"><i class="fa fa-file"></i> Note</th>
                                    <th class="text-center"><i class="fa fa-thumb-tack"></i> Status</th>
                                    <th class="text-center"><i class="fa fa-hand-pointer-o"></i> Action </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: {data: listDetail, afterRender: renderedHandler}">
                                <tr>
                                    <td class="text-center">
                                        <label>
                                            <input data-bind="checked: isCheck" type="checkbox" class="class-input-check" />
                                        </label>
                                    </td>
                                    <td data-bind="text: $index()+1" class="text-center"></td>
                                    <td class="text-center">
                                        <img data-bind="attr: { src: Image }" style="width: 40px; height: 40px;" alt="" /><br />
                                        <span data-bind="attr: { id: 'editableImg'+ Id}, editable: Image, editableOptions: {name: 'image', pk: Id, url: '', showbuttons: false, mode: 'inline', autotext: 'never', onblur: 'submit'}" class="editable-img"></span>
                                        <a data-bind="attr: { id: 'editableBtn'+ Id}" href="javascript:;">Edit</a>
                                    </td>
                                    <td>
                                        Product name: <span data-bind="editable: Name, editableOptions: {name: 'name', pk: Id, url: '', showbuttons: false, mode: 'inline', autotext: 'never', onblur: 'submit', emptytext: 'Not Enter'}"></span><br />
                                        Link: <span data-bind="attr: { id: 'editableLink'+ Id}, editable: Link, editableOptions: {name: 'link', pk: Id, url: '', showbuttons: false, mode: 'inline', autotext: 'never', onblur: 'submit', emptytext: 'Not Enter'}" class="editable-img"></span> <a data-bind="attr: { id: 'editableBtl'+ Id}" href="javascript:;">Edit</a><br />
                                        <a data-bind="attr: { href: Link}" href="javascript:;" target="_blank">view product</a>
                                    </td>
                                    <td>
                                        Color: <span data-bind="editable: Color, editableOptions: {name: 'color', pk: Id, url: '', showbuttons: false, mode: 'inline', autotext: 'never', onblur: 'submit', emptytext: 'Not Enter'}"></span><br />
                                       Size: <span data-bind="editable: Size, editableOptions: {name: 'size', pk: Id, url: '', showbuttons: false, mode: 'inline', autotext: 'never', onblur: 'submit', emptytext: 'Not Enter'}"></span>
                                    </td>
                                    <td>
                                        <span data-bind="editable: Note, editableOptions: {name: 'note', pk: Id, url: '', type: 'textarea', showbuttons: false, mode: 'inline', autotext: 'never', onblur: 'submit', emptytext: 'Not Enter'}"></span>
                                    </td>
                                    <td class="text-center">
                                        <input data-bind="isSelectedQuantity, value: Quantity, css: cssQuantity" class="text-right form-control decimalCN" type="text" />
                                    </td>
                                    <td class="text-center">
                                        <input data-bind="hasFocus: isSelectedPrice, value: Price, css: cssPrice" class="text-right form-control decimalCN" type="text" />
                                    </td>
                                    <td data-bind="text: TotalPrice" class="text-right"></td>
                                    <td>
                                        <span data-bind="editable: UserNote, editableOptions: {name: 'userNote', pk: Id, url: '', type: 'textarea', title: 'Enter note', showbuttons: false, mode: 'inline', autotext: 'never', onblur: 'submit', emptytext: 'Not Enter'}" style="resize: none; min-height: 20px;" data-autoresize></span>
                                    </td>
                                    <td class="text-center">
                                        <span data-bind="text: statusApp.orderDetail[Status].Name, css: statusApp.orderDetail[Status].Class"></span>
                                    </td>
                                    <td class="text-center">
                                        <a data-bind="click: $parent.deleteOrderDetail" href="javascript:;" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete  </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot data-bind="if: listDetail().length > 0">
                                <tr>
                                    <td colspan="4">
                                        Total select money : <b data-bind="text: totalPriceIsCheck"></b> CNY
                                    </td>
                                    <td colspan="5"></td>
                                    <td colspan="3">
                                        total money: <b data-bind="text: TotalPrice"></b> CNY
                                    </td>
                                </tr>
                            </tfoot>
                            <tfoot data-bind="if: listDetail().length == 0">
                                <tr>
                                    <td colspan="11">Order no details</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span><strong class="strong-title">Staff process:</strong></span>
                </div>
            </div>
            <div class="row importwarehouse">
                <div class="col-md-8">
                    <div class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <table class="table-view">
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <b>China warehouse</b>
                                                    <select class="form-control select-view mb10" style="width: 100%;" data-bind="options: listWarehouse, optionsText: 'Name', optionsValue: 'Id', value: WarehouseId, optionsCaption: '-- Chọn kho --', "></select>
                                                </td>
                                            </tr>

                                            <!-- ko if: !isAdd() -->
                                            <tr>
                                                <td colspan="2">
                                                    <!-- ko if: Status() < @statusWaitAccountant -->
                                                    <button data-bind="click: showContractCode, enable: isSubmit" class="btn btn-info mb10">
                                                        <i class="fa fa-plus"></i> Add the contract code
                                                    </button>
                                                    <!-- /ko -->
                                                    <!-- ko if: listContractCode().length > 0 -->
                                                    <br />
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center w-40">#</th>
                                                                <th class="text-center"><i class="fa fa-barcode"></i> Contract code</th>
                                                                <th class="text-center">
                                                                    <i class="fa fa-money"></i> Amount (CNY)<br />
                                                                    <i>Money Order + money ship</i>
                                                                </th>
                                                                <th class="text-center"><i class="fa fa-thumb-tack"></i> Status</th>
                                                                <th class="text-center w-40"><i class="fa fa-hand-pointer-o"></i> Action </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody data-bind="foreach: listContractCode">
                                                            <tr>
                                                                <td data-bind="text: $index()+1" class="text-center"></td>
                                                                <td class="text-center">
                                                                    <!-- ko if: Status <= 1 -->
                                                                    <input data-bind="value: ContractCode, hasFocus: isSelectedContractCode, css: cssContractCode, valueUpdate: 'blur'" class="form-control" />
                                                                    <!-- /ko -->
                                                                    <!-- ko ifnot: Status <= 1 -->
                                                                    <span data-bind="text: ContractCode"></span>
                                                                    <!-- /ko -->
                                                                </td>
                                                                <td class="text-center">
                                                                    <!-- ko if: Status <= 1 -->
                                                                    <input data-bind="value: TotalPrice, disable: isDisableTotalPrice, hasFocus: isSelectedTotalPrice, css: cssTotalPrice" class="text-right form-control decimalCN" />
                                                                    <!-- /ko -->
                                                                    <!-- ko ifnot: Status <= 1 -->
                                                                    <span data-bind="text: TotalPrice"></span>
                                                                    <!-- /ko -->
                                                                </td>
                                                                <td class="text-center">
                                                                    <span data-bind="text: statusApp.statusContractCode[Status].Name, css: statusApp.statusContractCode[Status].Class"></span>
                                                                </td>
                                                                <td class="text-center w-40">
                                                                    <!-- ko if: Status == 1 -->
                                                                    <a data-bind="click: $parent.reviewContractCode" href="javascript:;" class="btn btn-success btn-xs"><i class="fa fa-check"></i>Send </a>
                                                                    <!-- /ko -->
                                                                    <!-- ko if: Status == 0 -->
                                                                    <a data-bind="click: $parent.deleteContractCode" href="javascript:;" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a>
                                                                    <!-- /ko -->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- /ko -->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b> Customer payment</b></td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="text" class="text-right form-control decimalCN" data-bind="value: OrderExchange" autocomplete="off">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-secondary" type="button">đ</button>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- /ko -->
                                        </tbody>
                                    </table>

                                    <!-- /ko -->
                                </div>

                                <div class="col-md-6">
                                    <!-- ko if: Status() >= @statusOrder -->
                                    <table class="table-view">
                                        <thead>
                                            <tr>
                                            <tr>
                                                <th class="col-xs-3"></th>
                                                <th style="color: red">Company payment (CNY)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Money Order (H)</td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="text" disabled="disabled" class="text-right form-control decimalCN" data-bind="value: TotalPrice" autocomplete="off">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-secondary" type="button">CNY</button>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Shipping fee (S)</td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="text" class="text-right form-control decimalCN" data-bind="value: FeeShip, valueUpdate: 'blur', event: { blur: updateOrder}, disable: @statusWaitAccountant <= Status(), hasFocus: isSelectedFeeShip, css: cssFeeShip" autocomplete="off">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-secondary" type="button">CNY</button>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Total money (T=H+S)</td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="text" disabled="disabled" class="text-right form-control decimalCN" data-bind="value: TotalPriceCustomer" autocomplete="off">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-secondary" type="button">CNY</button>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Money paid</td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="text" disabled="disabled" class="text-right form-control" data-bind="value: TotalShop" autocomplete="off">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-secondary" type="button">CNY</button>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />

                                    <strong>
                                        <span data-bind="text: '(Rates apply for daily orders: 1 yuan = ' + ExchangeRate() + ' Baht)'"></span>
                                    </strong>
                                    <div class="p5" style="border-bottom: 1px solid #D2D6DE; width: 100%"></div>
                                    <div class="table-responsive">
                                        <table class="table-view">
                                            <tr>
                                                <td class="col-xs-6">Order money (Baht)</td>
                                                <td data-bind="text: TotalExchange" class="text-right"></td>
                                            </tr>
                                            <tr>
                                                <td>Total service charge (Baht)</td>
                                                <td data-bind="text: formatNumbericCN(totalPriceService(), 'N2')" class="text-right"></td>
                                            </tr>
                                            <tr>
                                                <td>Total provisional moneyBaht)</td>
                                                <td data-bind="text: Total" class="text-right"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="p5" style="border-bottom: 1px solid #D2D6DE; width: 100%"></div>
                                    <div class="table-responsive">
                                        <table class="table-view">
                                            <tr>
                                                <td>The company paid for the shop (Baht)</td>
                                                <td data-bind="text: TotalShopExchange" class="text-right"></td>
                                            </tr>
                                            <tr>
                                                <td>Other payment company (Baht) <a data-bind="click: showExchangeOther, text: titleExchangeOther" href="javascript:;"></a></td>
                                                <!-- ko ifnot: IsExchangeOther -->
                                                <td data-bind="text: orderExchangeOther() == undefined ? '--' : formatNumbericCN(orderExchangeOther(), 'N2')" class="text-right"></td>
                                                <!-- /ko -->
                                            </tr>
                                            <!-- ko if: IsExchangeOther -->
                                            <!-- ko foreach: listOrderExchage() -->
                                            <tr>
                                                <td data-bind="text: ModeName +' (Baht)'"></td>
                                                <td data-bind="text: formatNumbericCN(TotalPrice, 'N2')" class="text-right"></td>
                                            </tr>
                                            <!-- /ko -->
                                            <!-- /ko -->
                                            <tr>
                                                <td>Customer paid (Baht)</td>
                                                <td data-bind="text: OrderExchange" class="text-right"></td>
                                            </tr>
                                            <tr>
                                                <td><span data-bind="text: titleTotalCus"></span> (Baht)</td>
                                                <td data-bind="text: CashShortage" class="text-right" style="font-size: 18px; font-weight: 600; color: red"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ko if: !isAdd() -->
                <div data-bind="with: viewBoxChat" id="divShowBoxChat" class="col-md-4">
                    <div data-bind="template: { name: templateChatId }"></div>
                </div>
                <!-- /ko -->
            </div>
            <!-- ko if: Status() > @statusOrder -->
            <div class="row importwarehouse">
                <div class="col-xs-12">
                    <div class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input data-bind="value: codePackage, valueUpdate: 'afterkeydown', executeOnEnter: addPackage" type="text" class="form-control" placeholder="Enter transport code">
                                        <span class="input-group-btn">
                                            <button data-bind="click: addPackage, enable: isSubmit" class="btn btn-info" type="button">
                                                <!-- ko if: isSubmit()-->
                                                <i class="fa fa-check"></i>
                                                <!-- /ko -->
                                                <!-- ko if: !isSubmit()-->
                                                <i class="fa fa-spinner fa-pulse fa-fw"></i>
                                                <!-- /ko -->
                                                Add the tracking code
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center w-40">#</th>
                                        <th class="text-center"><i class="fa fa-file"></i> Note</th>
                                        <th class="text-center"><i class="fa fa-barcode"></i> package code</th>
                                        <th class="text-center w-300"><i class="fa fa-barcode"></i> waybill code</th>
                                        <th class="text-center w-300"><i class="fa fa-calendar"></i> Expected date of warehouse </th>
                                        <th class="text-center"><i class="fa fa-thumb-tack"></i> Status</th>
                                        <th class="text-center w-80"><i class="fa fa-hand-pointer-o"></i> Action </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: listPackageView">
                                    <tr>
                                        <td data-bind="text: $index()+1" class="text-center"></td>
                                        <td class="text-center">
                                            <textarea data-bind="value: Note" class="form-control" rows="2"></textarea>
                                        </td>
                                        <td data-bind="text: 'P' + Code" class="text-center"></td>
                                        <td class="text-center">
                                            <input data-bind="value: TransportCode" class="form-control" />
                                        </td>
                                        <td class="text-center">
                                            <!-- ko if: ForcastDate() !== '' -->
                                            <input data-bind="value: ForcastDate, valueUpdate: 'blur'" class="form-control datepicker" />
                                            <!-- /ko -->
                                        </td>
                                        <td class="text-center">
                                            <span data-bind="text: statusApp.orderPackage[Status].Name, css: statusApp.orderPackage[Status].Class"></span>
                                        </td>
                                        <td class="text-center">

                                            <!-- ko if: Status == @orderPackage -->
                                            <a data-bind="click: $parent.deletePackage" href="javascript:;" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a>
                                            <!-- /ko -->
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot data-bind="if: listPackageView().length == 0">
                                    <tr>
                                        <td colspan="7">There is currently no transport code!</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->

            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#historyCommerce">
                                <strong class="strong-title">Order history:</strong>
                                <span data-bind="click: checkShowHistory" href="javascript:;" class="pull-right btn btn-info btn-xs ml15">
                                    <!-- ko ifnot: isShowHistory -->
                                   View <i class="fa fa-chevron-down"></i>
                                    <!-- /ko -->
                                    <!-- ko if: isShowHistory -->
                                   Close <i class="fa fa-chevron-up"></i>
                                    <!-- /ko -->
                                </span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#logCommerce">
                                <span>
                                    <strong class="strong-title">Order history:</strong>
                                    <span data-bind="click: checkShowLog" class="pull-right btn btn-info btn-xs ml15">
                                        <!-- ko ifnot: isShowLog -->
                                       View <i class="fa fa-chevron-down"></i>
                                        <!-- /ko -->
                                        <!-- ko if: isShowLog -->
                                       Close <i class="fa fa-chevron-up"></i>
                                        <!-- /ko -->
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="historyCommerce" class="tab-pane fade in active">
                            <ul class="timeline timeline-inverse">
                                <!-- ko if: isShowHistory -->
                                <!-- ko foreach: listHistory -->
                                <li>
                                    <i data-bind="css: statusApp.order[Status].Ifa"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-calendar-check-o"></i> <span data-bind="text: moment(CreateDate).format('L LTS')"></span></span>
                                        <!-- ko if: UserFullName == null -->
                                        <h3 class="timeline-header no-border">
                                            <a data-bind="text: CustomerName + ': '" href="javascript:;"></a> <span data-bind="html: Content"></span>
                                        </h3>
                                        <!-- /ko -->
                                        <!-- ko ifnot: UserFullName == null -->
                                        <h3 class="timeline-header no-border">
                                            <a data-bind="text: UserFullName + ': '" href="javascript:;"></a> <span data-bind="html: Content"></span>
                                        </h3>
                                        <!-- /ko -->
                                    </div>
                                </li>
                                <!-- /ko -->
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                        <div id="logCommerce" class="tab-pane fade">
                            <!-- ko if: isShowLog -->
                            <table class="table table-bordered table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <th>Time </th>
                                        <th>The operator</th>
                                        <th>Title</th>
                                        <th>Content </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ko foreach: listLog -->
                                    <tr>
                                        <td>
                                            <span data-bind="text: moment(CreateDate).format('L LTS')"></span>
                                        </td>
                                        <td>
                                            <span data-bind="text: UserFullName"></span>
                                        </td>
                                        <td>
                                            <span data-bind="html: Content"></span>
                                        </td>
                                        <td>
                                            <!-- ko if: Type == 1 -->
                                            <table>
                                                <tr>
                                                    <td data-bind="foreach: JSON.parse(DataBefore)" class="p10">
                                                        <b data-bind="text: Name"></b>: <span data-bind="text: Value"></span><br />
                                                    </td>
                                                    <td class="p10"><i class="fa fa-long-arrow-right"></i></td>
                                                    <td data-bind="foreach: JSON.parse(DataAfter)">
                                                        <b data-bind="text: Name"></b>: <span data-bind="text: Value"></span><br />
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- /ko -->
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                </tbody>
                            </table>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!-- ko if: isAdd() -->
            <button data-bind="click: saveOrder" type="button" class="btn btn-success"><i class="fa fa-plus"></i> Add an order</button>
            <!-- /ko -->
            <!-- ko if: !isAdd() -->
            <!-- ko if: Status() == @statusOrder -->
            <button data-bind="click: orderSuccess" type="button" class="btn btn-success"><i class="fa fa-check"></i>Change</button>
            <!-- /ko -->
            <!-- /ko -->
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i></button>
        </div>

        <div id="shopAdd" class="modal fade modal-dialog modal-p50" tabindex="-1" role="dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-danger">Add new shop</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        Shop name<span class="color-red">*</span>
                        <input data-bind="value: ShopName" class="form-control" required />
                    </div>
                    <div class="col-md-6">
                        Link shop<span class="color-red">*</span>
                        <input data-bind="value: ShopLink" class="form-control" required />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-bind="click: submitShop, enable: isSubmit" type="button" class="btn btn-primary">
                    <!-- ko if: isSubmit()-->
                    <i class="fa fa-check"></i>
                    <!-- /ko -->
                    <!-- ko if: !isSubmit()-->
                    <i class="fa fa-spinner fa-pulse fa-fw"></i>
                    <!-- /ko -->
                    Confirm
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</form>
<style>
    .btn-success {
        background-color: #00a65a !important;
        border-color: #008d4c !important;
        color: white !important;
    }

        .btn-success.focus {
            color: #fff;
            background-color: #449d44 !important;
            border-color: #255625 !important;
        }

        .btn-success:hover {
            color: #fff;
            background-color: #449d44 !important;
            border-color: #398439 !important;
        }
</style>