@{
    Layout = null;

    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}


<div class="rs">
    <h3 class="text-center">ĐIỀU KHOẢN CUNG CẤP</h3>
    <h4 class="text-center" style="padding-bottom:20px;padding-top:20px;">Dịch Vụ Mua hàng trung gian - Nhập Hàng Hộ Từ Trung Quốc</h4>
    <hr>
    <p>
        Chào mừng Quý khách đến với <span class="span-color">LikeOrder.com</span>
        (viết tắt là: NHKD), website cung cấp Dịch vụ nhập hàng hộ từ các website bán hàng
        tại Trung Quốc. Để sử dụng dịch vụ, Quý khách phải xác nhận đã đọc, hiểu,
        và đồng ý với các điều khoản cung cấp dịch vụ được quy định sau đây:
    </p>

    <p><span class="bold red-color"> 1. GIỚI THIỆU DỊCH VỤ</span> </p>
    <p>
        Nhập hàng kinh doanh (viết tắt: NHKD) cung cấp dịch vụ Mua hàng hộ, là trung gian
        thực hiện việc Thanh toán và Vận chuyển đơn hàng của Người mua hàng ở Việt Nam
        với Người bán trên các website bán hàng ở Trung Quốc, thông qua công cụ đặt hàng
        tại địa chỉ
    </p>
    <p>
        <a href="https://chrome.google.com/webstore/detail/order-tool-for-nhaphangki/dkodpapicpniilofliibpjfahphljjnd" class="span-color"> https://chrome.google.com/webstore/detail/order-tool-for-nhaphangki/dkodpapicpniilofliibpjfahphljjnd </a>
    </p>
    <p>
        Thông qua website <a href="/@culture" class="span-color">http://LikeOrder.com</a> , Quý khách dễ
        dàng thực hiện việc đặt hàng từ các website bán hàng tại Trung Quốc, bằng tiếng Trung một
        cách dễ dàng.
    </p>
    <p>
        <span class="bold red-color">
            2. CÁCH THỨC MUA HÀNG VÀ THANH TOÁN<br>
        </span>
    </p>
    <p>
        <span class="bold red-color">
            2.1. Tài khoản mua hàng
        </span>
    </p>

    <p>
        Trước khi mua hàng, Quý khách cần phải đăng ký một tài khoản trên
        website <span class="span-color">LikeOrder.com</span> và cung cấp các thông tin cá nhân
        chính xác theo biểu mẫu đã quy định.
    <p />
    <p>
        - NHKD cam kết có trách nhiệm bảo vệ những thông tin người dùng, không được sử dụng cho mục đích nào khác ngoài hệ thống mà Quý khách đã đăng ký;<br>
    </p>
    <p>
        - Quý khách có trách nhiệm bảo vệ sự riêng tư đối với tài khoản của mình, NHKD không chịu trách nhiệm về việc sử dụng tài khoản mà các lỗi phát sinh từ phía người sử dụng.
    </p>
    <p>
        <span class="bold red-color">
            2.2. Phương thức mua hàng
        </span>
    </p>

    <p>
        Để mua hàng, Quý khách thực hiện việc đặt hàng trực tiếp trên website của Người bán tại
        Trung Quốc, sau đó, thông qua công cụ đặt hàng, NHKD sẽ ghi nhận và thực hiện việc
        thanh toán và vận chuyển về cho Quý khách.
    </p>
    <p>
        - Quý khách đặt mua hàng trực tiếp trên website của Người bán sau đó thanh toán tổng số tiền hàng cho NHKD;<br>
    </p>
    <p>
        - Phí vận chuyển sẽ được tính sau khi hàng về tới kho của NHKD, Quý khách cần thanh toán trước khi nhận hàng căn cứ vào trọng lượng thực tế của
        đơn hàng và bảng giá vận chuyển (<a href="/@culture/Home/FAQ" class="span-color">xem chi tiết</a>)
    </p>
    <p>
        <span class="bold red-color">
            3.CHÍNH SÁCH GIẢI QUYẾT KHIẾU NẠI
        </span>
    </p>

    <p>
        <span class="bold red-color">
            3.1.Thời gian thực hiện, tiếp nhận và xử lý khiếu nại:
        </span>
    </p>

    <p><b>Thời gian khách hàng gửi khiếu nại:</b> Trong vòng 48h kể từ khi nhận hàng.</p>
    <p><b>Cách thức gửi thông tin:</b> Quý khách sử dụng chức năng khiếu nại trên website</p>
    <p>Quý khách đăng nhập tài khoản, lựa chọn đơn hàng cần khiếu nại, lựa chọn trạng thái khiếu nại, lựa chọn link hàng cần khiếu nại sau đó điền thông tin, hình ảnh hàng bị hỏng, gãy, vỡ…, mã vận đơn, hóa đơn của nhà cung cấp dán trên bao gì hàng hóa…</p>
    <p>Quý khách cung cấp thông tin chính xác là cơ sở để chúng tôi hỗ trợ Quý khách khiếu nại với shop đạt hiệu quả cao.</p>
    <p><b>Hình thức liên lạc:</b> LikeOrder sẽ trao đổi với Quý khách thông qua điện thoại hoặc trao đổi trực tiếp trên phần khiếu nại của đơn hàng</p>
    <p>Thời gian chúng tôi tiếp nhận và xử lý khiếu nại: Khiếu nại của Quý khách sẽ được phản hồi trong vòng 1 ngày nếu khiếu nại của Quý khách liên quan tới các bộ phận nghiệp vụ của công ty.</p>
    <p>Nếu khiếu nại của Quý khách liên quan tới nhà cung cấp, phản hồi của chúng tôi sẽ gửi tới Quý khách trong vòng 3-4 ngày phụ thuộc vào sự hợp tác của nhà cung cấp.</p>
    <p><b>Thời gian xử lý khiếu nại dịch vụ phụ thuộc vào các yếu tố sau:</b></p>
    <p>-  Đối với các khiếu nại cần xác nhận thông tin hoặc làm việc với bên thứ ba gồm (nhà cung cấp, đơn vị vận chuyển…): LikeOrder sẽ  phải làm việc với các đơn vị này để có thông tin và xử lý khiếu nại.</p>
    <p>- Đối với các khiếu nại phát sinh từ lỗi dịch vụ của chính LikeOrder, chúng tôi sẽ xử lý trong vòng 03 ngày trong trường hợp không bị gián đoạn trong quá trình trao đổi &amp; liên lạc với Quý khách về các phương án xử lý. </p>
    <p>
        <span class="bold red-color">
            3.2.  Chính sách bồi thường
        </span>
    </p>

    <p><b>*  Trong trường hợp LikeOrder thực hiện không đúng cam kết dịch vụ mua hàng:</b></p>
    <p>- Chúng tôi bồi thường 100% giá trị tiền hàng &amp; phí mua hàng đối với các sản phẩm thiếu.</p>
    <p>- Hoặc thỏa thuận bồi thường với các sản phẩm mua sai yêu cầu. </p>
    <p><b>* Trong trường hợp LikeOrder thực hiện không đúng cam kết dịch vụ kiểm hàng:</b></p>
    <p>- Chúng tôi bồi thường 100% giá trị tiền hàng &amp; phí kiểm hàng đối với các sản phẩm thiếu;</p>
    <p>- Hoặc thỏa thuận bồi thường đối với các sản phẩm kiểm hàng không phát hiện được các lỗi sai theo quy định;</p>
    <p><b>* Trường hợp hàng hóa bị thất lạc do các nguyên nhân chủ quan của LikeOrder hoặc đơn vị vận chuyển: bồi thường 100% giá trị hàng hóa và các phí dịch vụ liên quan:</b></p>
    <p><b>* Trường hợp hàng hóa bị hư hỏng trong quá trình vận chuyển và Quý khách có sử dụng dịch vụ đóng kiện gỗ:</b></p>
    <p>- Chúng tôi hoàn 100% giá trị thiệt hại và phí đóng gói nếu lỗi phát sinh do LikeOrder không thực hiện đúng các yêu cầu đóng gói hợp lý của Quý khách;</p>
    <p>- Chúng tôi hoàn 100% giá trị thiệt hại và phí vận chuyển chênh lệch nếu lỗi phát sinh do LikeOrder không thực hiện đúng các yêu cầu vận chuyển hợp lý của Quý khách;</p>
    <p>- Hoặc thương lượng mức bồi thường/chia sẻ trong các trường hợp hỏng hóc không đáng có và không kiểm soát được trong quá trình vận chuyển</p>
    <p><b>* Trường hợp hàng hóa bị hư hỏng trong quá trình vận chuyển do Quý khách không sử dụng dịch vụ đóng kiện gỗ:</b></p>
    <p>- Chúng tôi thương lượng mức bồi thường/ chia sẻ với Quý khách đối với những trường hợp hỏng hóc không kiểm soát được trong quá trình vận chuyển.</p>
    <p>- Đối với những trường hợp hàng hóa dễ vỡ mà chúng tôi đã cảnh báo Quý khách, nếu hàng hóa của Quý khách vẫn bị hỏng hóc vì những lý do không kiểm soát được, Quý khách vui lòng chịu mọi tổn thất.</p>
    <p><b>* Đối với các đơn hàng ký gửi</b></p>
    <p>Do chúng tôi không trực tiếp giao dịch với nhà cung cấp của Quý khách, cũng không cung cấp dịch vụ kiểm hàng cho các đơn hàng ký gửi. Hàng hóa của Quý khách được Nhà cung cấp vận chuyển đến, chúng tôi chỉ nhận hàng theo số kiện Quý khách đã kê khai. Vì vậy chúng tôi sẽ không chịu trách nhiệm đối với tình trạng hư hỏng của hàng hoá.</p>
    <p>Trong trường hợp mất hàng, chúng tôi bồi thường cho Quý khách gấp 3 lần số tiền vận chuyển.</p>
    <p>
        <span class="bold red-color">
            3.3.Chính sách hỗ trợ đối với các khiếu nại không nằm trong phạm vi cam kết dịch vụ
        </span>
    </p>

    <p><b>* Hỗ trợ khiếu nại không nằm trong phạm vi cam kết dịch vụ của LikeOrder :</b></p>
    <p>Đối với các khiếu nại liên quan đến NCC khi NCC vi phạm điều khoản giao dịch hàng hóa (điều khoản giao dịch trên các website bán hàng); hoặc khiếu nại các đơn không sử dụng dịch vụ kiểm hàng, chúng tôi sẽ trực tiếp xử lý hoặc hỗ trợ Quý khách xử lý.</p>
    <p>LikeOrder yêu cầu Quý khách hợp tác cùng chúng tôi trong suốt thời gian xử lý khiếu nại NCC</p>

    <p><b>* Đối với các sản phẩm/hàng hóa là đồ điện tử :</b></p>
    <p>
        LikeOrder sẽ tiếp nhận xử lý các khiếu nại liên quan nứt,
        gãy sản phẩm. Chúng tôi không tiếp nhận và xử lý các khiếu nại liên quan đến hoạt động,
        chi tiết các bộ phận, bảo hành và chất lượng sản phẩm.
    </p>
    <p><b>* Trong một số trường hợp: </b></p>
    <p>
        LikeOrder sẽ yêu cầu Quý khách chủ động thực hiện khiếu nại với NCC,
        ví dụ như: Quý khác đã có thỏa thuận trước với NCC về sản phẩm, LikeOrder chỉ thanh toán tiền theo yêu cầu;
        Quý khách không đăng ký sử dụng dịch vụ kiểm hàng,…
    </p>
    <p>
        <span class="bold red-color">
            3.4. các lưu ý cần thiết
        </span>
    </p>

    <p>
        - LikeOrder thiết lập các mức phí trên cơ sở giảm thiểu tối đa chi phí nhập hàng đối với Quý khách hàng để
        tạo ra những lợi thế cạnh tranh. Với đặc thù có nhiều rủi ro khó kiểm soát trong hoạt động kiểm hàng số lượng lớn &amp;
        vận chuyển đường bộ theo các bao hàng như dễ móp méo hộp, chèn ép sản phẩm… Chúng tôi khuyến khích
        Quý khách lựa chọn hàng hóa,
        cách thức đóng gói/vận chuyển phù hợp và chia sẻ rủi ro với LikeOrder khi xảy ra thiệt hại ngoài mong muốn.
    </p>
    <p>
        - Việc đổi/trả hàng luôn chứa đựng nhiều rủi ro, LikeOrder không khuyến khích xử lý khiếu nại dịch vụ
        theo phương án đổi/trả hàng.
    </p>
    <p>
        - Trong quá trình xử lý các khiếu nại dịch vụ có liên quan đến NCC, LikeOrder sẽ yêu cầu sự hợp tác
        từ Quý khách để việc thực hiện khiếu nại được giải quyết nhanh chóng và chính xác.
    </p>
    <p>
        <span class="bold red-color">4.TỪ CHỐI HOẶC NGỪNG CUNG CẤP DỊCH VỤ </span>
    </p>

    <p>
        Trong các trường hợp sau, NHKD có quyền đơn phương từ chối cung cấp dịch vụ, bằng
        cách khóa tài khoản của Quý khách trên hệ thống mà không cần có sự đồng ý trước của Quý khách:
    </p>
    <p>

        - Đặt hàng với những thông tin giả mạo, thông tin liên hệ, địa chỉ, số điện thoại không đúng;
    </p>
    <p>
        - Có những yêu cầu không chính đáng, vượt ra ngoài phạm vi quản lý của NHKD và
        sai lệch về bản chất của dịch vụ Nhập hàng hộ;
    </p>
    <p>            -  Đăng tải hoặc cung cấp thông tin sai sự thật, với mục đích làm giảm uy tín của NHKD cho bên thứ ba;</p>
    <p>  -  Có hành vi gian lận khi nhận hàng hóa như: nhận đủ hàng nhưng lại kê khai thiếu để đòi bồi thường;</p>
    <p>
        -   Quý khách hoàn toàn có thể chủ động ngừng sử dụng dịch vụ của NHKD và rút nốt số
        tiền còn lại ra khỏi hệ thống.
    </p>
    <p>
        Trong trường hợp số dư trong tài khoản của Quý khách vẫn còn, NHKD sẽ hoàn
        trả lại cho Quý khách trước khi chấm dứt dịch vụ.
    </p>
</div>
