@{
    Layout = null;
}
<div class="rs">
    <h3 class="text-center">เงื่อนไขในการให้บริการ</h3>
    <h4 class="text-center" style="padding-bottom: 20px; padding-top: 20px;">
        ตัวแทนบริการการสั่งซื้อสินค้า และ ขนส่งสินค้าจากจีน
    </h4>
    <hr>
    <p>
        ยินดีต้อนรับเข้าสู่เว็บไซต์ <span class="span-color">
            LikeOrder.com
        </span>(เรียกสั้นๆ LOD) เป็นเว็บไซต์ให้บริการซื้อแทนลูกค้าสินค้าจากเว็บไซต์อีคอมเมิร์ซของจีน เพื่อเข้าใช้บริการของเรา กรุณายืนยันว่าคุณได้อ่านเข้าใจและตกลงกับเงื่อนไขในการให้บริการของเราตามที่ได้เขียนข้างล่าง
    </p>

    <p><span class="bold red-color">1. แนะนำบริการ</span> </p>
    <p>
        LikeOrder.com (เรียกสั้นๆ LOD) ทางเรา เป็นตัวแทนการสั่งซื้อสินค้า และ ขนส่งสินค้าจากจีน เป็นคนกลางที่ทำการชำระเงินและส่งออเดอร์ของลูกค้าคนไทยถึงผู้ขายบนเว็บไซต์อีคอมเมิร์ซของจีน ทั้งหมดได้ทำผ่านเครื่องมือที่เว็บไซต์ <a href="/th" class="bold red-color"> https://LikeOrder.com.</a>
</p>
    <p>
        <a href="https://chrome.google.com/webstore/detail/%E0%B9%80%E0%B8%84%E0%B8%A3%E0%B8%B7%E0%B9%88%E0%B8%AD%E0%B8%87%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%AA%E0%B8%B1%E0%B9%88%E0%B8%87%E0%B8%8B%E0%B8%B7%E0%B9%89%E0%B8%ADlikeord/apjnchoiielmahpmdoaijdoodohjlfmd" target="_blank" class="bold red-color"> https://chrome.google.com/webstore/detail/%E0%B9%80%E0%B8%84%E0%B8%A3%E0%B8%B7%E0%B9%88%E0%B8%AD%E0%B8%87%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%AA%E0%B8%B1%E0%B9%88%E0%B8%87%E0%B8%8B%E0%B8%B7%E0%B9%89%E0%B8%ADlikeord/apjnchoiielmahpmdoaijdoodohjlfmd </a>
    </p>
    <p>
        โดยการสั่งซื้อผ่านเว็บไซต์ <a href="/th" class="bold red-color">
            http://LikeOrder.com
        </a> คุณจะสั่งซื้อสินค้าสะดวกมากขึ้นจากจากหลายๆเว็บไซต์อีคอมเมิรซ์ของจีน
    </p>
    <p>
        <span class="bold red-color">
            2. วิธีสั่งซื้อและชำระเงิน<br />
        </span>
    </p>
    <p>
        <span class="bold red-color">
            2.1 สมัครสมาชิกใหม่
        </span>
    </p>

    <p>
    ก่อนที่จะสั่งซื้อคุณต้องสมัครสมาชิกที่เว็บไซต์
        <span class="bold red-color">
           LikeOrder.com
        </span> และต้องเขียนข้อมูลส่วนบุคคลที่ถูกต้องตามฟอร์มได้ระบุไว้ 
    <p />
    <p>
        - LOD ยืนยันจะรักษาเก็บข้อมูลของสมาชิกทุกคน ไม่เอาข้อมูลเหล่านี้ทำวัตถุประสงค์อื่น ๆ นอกจากระบบที่คุณเลือกใช้<br>
    </p>
    <p>
        - ลูกค้าจะเป็นฝ่ายรับผิดชอบกับการป้องกันความเป็นส่วนตัวของบัญชีสมาชิกของตัวเอง LOD จะไม่รับผิดชอบถ้าความผิดพลาดเกิดจากผู้ใช้
    </p>
    <p>
        <span class="bold red-color">
            2.2 วิธีสั่งซื้อ
        </span>
    </p>

    <p>
        - เพื่อการสั่งซื้อคุณจะจองสินค้าบนเว็บไซต์ของผู้ขายที่จีนหลังจากนั้นผ่านระบบ LODจะบันทึกและทำการชำระกับขนส่งสินค้าแทนผู้ซื้อ
    </p>
    <p>
        - ลูกค้าสั่งซื้อสินค้าโดยตรงบนเว็บไซต์ของผู้ขาย หลังจากนั้นลูกค้าจะชำระจำนวนเงินสินค้าให้LOD
    </p>
    <p>
        -ค่าขนส่งจะได้คิดหลังจากสินค้าเข้าถึงโกดังที่จีนของ LoD ลูกค้าจะต้องชำระเงินก่อนที่จะรับสินค้าตามน้ำหนักจริงของออเดอร์และอัตราค่าขนส่ง
        (<a href="/th/Home/Faq" class="bold red-color">ดูเพิ่มเติม</a>)
    </p>
    <p>
        <span class="bold red-color">
            3. นโยบายจัดการขอร้องเรียน
        </span>
    </p>

    <p>
        <span class="bold red-color">
            3.1. ระยะเวลาการรับและจัดการข้อร้องเรียน
        </span>
    </p>

    <p><b>ระยะเวลาให้ลูกค้าส่งข้อร้องเรียน :48 ชั่วโมงหลังจากที่ได้รับสินค้า </b></p>
    <p><b>วิธีส่งข้อร้องเรียน:</b> ลูกค้าจะใช้ฟังก์ชันข้อร้องเรียนบนเว็บไซต์</p>
    <p>บนเว็บไซต์ลูกค้าต้องเข้าสู่ระบบ เลือกออเดอร์ที่ต้องการเขียนข้อร้องเรียน เลือกสถานะของการร้องเรียน เลือกลิงค์สินค้าที่ต้องการร้องเรียน หลังจากนั้นเขียนข้อมูลรูปภาพของสินค้าที่มีความเสียหาย รหัสของใบตราส่งสินค้า ใบเสร็จของผู้จัดจำหน่ายได้แปะเอาไว้บนบรรจุภัณฑ์ของสินค้า</p>
    <p>ข้อมูลที่ครบถ้วนที่ลูกค้าให้ทางเราเป็นพื้นฐานที่ดีที่สุดในการส่งข้อร้องเรียนกับร้านค้า</p>
    <p><b>วิธีติดต่อ:</b> likeorder จะติดต่อกับลูกค้าผ่านทางโทรศัพท์หรือติดต่อโดยตรงบนส่วนจัดการข้อร้องเรียนของเว็บไซต์</p>
    <p>ระยะเวลารับและจัดการข้อร้องเรียน: ข้อร้องเรียนของลูกค้าจะได้รับการตอบสนองภายใน 1 วัน ถ้าข้อร้องเรียนของลูกค้าเกี่ยวข้องกับแผนกใดๆของทางบริษัท.</p>
    <p>ถ้าข้อร้องเรียนของลูกค้าเกี่ยวข้องกับผู้จัดจำหน่าย ทางบริษัทจะติดต่อกับลูกค้าภายใน 3 ถึง 4 วัน ขึ้นอยู่กับความร่วมมือของผู้จัดจำหน่าย</p>
    <p><b>ระยะเวลาจัดการข้อร้องเรียนขึ้นอยู่กับ :</b></p>
    <p>-สำหรับข้อร้องเรียนที่ต้องคอนเฟิร์มข้อมูลหรือต้องจัดการกับบุคคลที่สาม ( ผู้จัดจำหน่าย ผู้ขนส่ง...) Likeorder จะต้องทำงานกับหน่วยงานนี้ก่อน เพื่อจะได้มีข้อมูลเพิ่มเติมและรีบดำเนินการจัดการข้อร้องเรียน</p>
    <p>-สำหรับข้อร้องเรียนที่เกิดจากความผิดพลาดในการให้บริการของ Likeorder ทางบริษัทจะจัดการภายใน 3 วัน ในกรณีการแลกเปลี่ยนข้อมูลและการติดต่อกับลูกค้าจนสำเร็จ </p>
    <p>
        <span class="bold red-color">
            3.2. นโยบายชดใช้
        </span>
    </p>

    <p><b>* ในกรณีlikeorderไม่ทำตามข้อตกลงของบริการสั่งซื้อ:</b></p>
    <p>- เราจะชดใช้ 100% มูลค่าสินค้า & ค่าบริการสั่งซื้อสำหรับสินค้าที่ขาดไป.</p>
    <p>- หรือจะทำข้อตกลงชดใช้สินค้าซื้อผิด . </p>
    <p><b>* ในกรณีที่ Likeorder ไม่ทำตามข้อตกลงในบริการตรวจนับสินค้า:</b></p>
    <p>-เราจะชดใช้ 100% มูลค่าสินค้า & ค่าบริการตรวจนับสินค้าสำหรับสินค้าที่ขาดไป</p>
    <p>-หรือจะทำข้อตกลงชดใช้สำหรับสินค้าที่ได้รับการตรวจสอบแล้วยังมีความผิดพลาดตามกฎระเบียบที่ได้ระบุเอาไว้</p>
    <p><b>* ในกรณีสินค้าสูญหายเพราะ  Likeorder หรือหน่วยงานขนส่ง : ชดใช้ 100% มูลค่าสินค้า & และค่าบริการที่เกี่ยวข้อง</b></p>
    <p><b>* ในกรณีที่ลูกค้าเลือกใช้บริการตีลังไม้และสินค้าเกิดความเสียหายระหว่างการขนส่ง</b></p>
    <p>- ชดใช้ 100% มูลค่าเสียหายและค่าบริการแพ็คสินค้าถ้าความผิดพลาดเกิดจากเรื่อง Likeorder ไม่ทำตามการแพ็คสินค้าทีลูกค้าเรียกร้อง</p>
    <p>-  ชดใช้ 100% มูลค่าเสียหายและค่าบริการขนส่งถ้าความผิดพลาดเกิดจากเรื่อง Likeorder ไม่ทำตามการขนส่งตามความต้องการของลูกค้า</p>
    <p>-  หรือจะไม่ต้องใส่ได้ทำข้อตกลงระหว่างสองฝ่ายเพื่อพูดคุยสำหรับกรณีเกิดความเสียหายที่ไม่น่าจะเกิดขึ้นและในกรณีไม่ได้ควบคุมในการขนส่ง</p>
    <p><b>* ในกรณีสินค้าเกิดความเสียหายระหว่างการขนส่งและลูกค้าไม่ใช้บริการตีลังไม้:</b></p>
    <p>- จะมีการตกลงระหว่างสองฝ่ายในเรื่องชดใช้กับลูกค้า สำหรับกรณีไม่ได้ควบคุมในการขนส่ง</p>
    <p>- สำหรับกรณีสินค้าหาย แล้วทางบริษัทก็แจ้งลูกค้าไปแล้ว ในระหว่างการขนส่งถ้าสินค้าถูกเสียหายตรงไหน ลูกค้าจะต้องรับผิดชอบความเสียหายทั้งหมด</p>
    <p><b>* สำหรับออเดอร์ฝากเก็บสินค้าในสต๊อก</b></p>
    <p>ทางบริษัทไม่ใช่ผู้ติดต่อโดยตรงกับผู้จัดจำหน่ายของลูกค้า แล้วก็ไม่ได้ให้บริการตรวจนับสินค้ากับออเดอร์ฝากเก็บสินค้า เพราะฉะนั้น เมื่อสินค้าได้ผู้จำหน่ายของลูกค้าส่งมาทางเราแค่รับสินค้าตามจำนวนกล่องสินค้าที่ลูกค้าเขียนเอาไว้ ทางบริษัทเราจะไม่รับผิดชอบกับสถานะเสียหายของสินค้า</p>
    <p>ในกรณีหายสินค้า ทางบริษัทจะชดใช้ให้กับลูกค้าเป็น 3 เท่าจำนวนค่าขนส่ง</p>
    <p>
        <span class="bold red-color">
            3.3. นโยบายช่วยเหลือสำหรับข้อร้องเรียนไม่ได้อยู่ในขอบเขตการให้บริการ 
        </span>
    </p>

    <p><b>* การช่วยเหลือสำหรับข้อร้องเรียนไม่ได้อยู่ในขอบเขตการให้บริการ ของLikeorder ::</b></p>
    <p>สำหรับข้อร้องเรียนเกี่ยวกับผู้จำหน่ายเมื่อผู้จำหน่ายละเมิดเงื่อนไขธุรกรรม ( เงื่อนไขธุรกรรมอยู่บนเว็บไซต์ขายสินค้า) หรือข้อร้องเรียนไม่ใช้บริการตรวจนับสินค้า ทางบริษัทเราจะจัดการโดยตรงหรือช่วยเหลือลูกค้า</p>
    <p>Likeorder ขอให้ลูกค้าร่วมมือกับทางเราในระยะเวลาที่กำลังจัดการข้อร้องเรียนเกี่ยวกับผู้จำหน่าย</p>

    <p><b>* สำหรับสินค้าอิเล็กทรอนิกส์:</b></p>
    <p>
        Likeorder จะรับจัดการข้อร้องเรียนเกี่ยวกับรอยแตก หรือหัก เราจะไม่รับและจัดการข้อร้องเรียนเกี่ยวกับการทำงาน รายละเอียดของชิ้นส่วน การรับประกันหรือคุณภาพของสินค้า
    </p>
    <p><b>* ในบางกรณี: </b></p>
    <p>
        Likeorder จะต้องให้ลูกค้าร้องเรียนโดยตรงกับผู้จำหน่าย ยกตัวอย่าง ลูกค้ามีการติดต่อและข้อตกลงก่อนหน้านี้กับผู้จำหน่ายเกี่ยวกับเรื่องสินค้า เราแค่ชำระเงินตามความต้องการและลูกค้าไม่ได้ใช้บริการตรวจนับของทางเรา
    </p>
    <p>
        <span class="bold red-color">
            3.4 ข้อสังเกต
        </span>
    </p>

    <p>
         - Likeorder ตั้งราคามาตรฐาน  และมีส่วนลดค่าใช้จ่ายสำหรับลูกค้า เพื่อสร้างจุดเด่นในการแข่งขัน ด้วยปัญหาต่างๆ เช่น ความเสี่ยงในการตรวจนับที่ผิดพลาด การขนส่งที่จะเกิดปัญหา หรือ สินค้าเสียหาย ทางเราจะแนะนำลูกค้าให้เลือกสินค้า และ วิธีการแพ็คเก็จสินค้าที่ดีที่สุด และ ยินดีที่จะชดใช้ เมื่อเกิดความเสียหาย
    </p>
    <p>
        - การเปลี่ยนหรือคืนสินค้ามีความเสี่ยงเสมอ Likeorderไม่แนะนำวิธีจัดการข้อร้องเรียนบริการตามวิธีเปลี่ยนหรือคืนสินค้า
    </p>
    <p>
        -  ระหว่างเวลาจัดการข้อร้องเรียนบริการเกี่ยวกับผู้จัดจำหน่าย LODจะต้องการการร่วมมือจากลูกค้าเพื่อการจัดการข้อร้องเรียนได้ดำเนินเร็วที่สุด
    </p>
    <p>
        <span class="bold red-color">4. ปฏิเสธหรือหยุดให้บริการ</span>
    </p>

    <p>
        ในกรณีต่อไปนี้ LODมีสิทธิ์ปฏิเสธให้บริการด้วยวิธีล็อกบัญชีของลูกค้าบนระบบโดยไม่ต้องรอการยืนยันจากงลูกค้า
    </p>
    <p>

        -สั่งซื้อโดยข้อมูลปลอม ข้อมูลติดต่อ ที่อยู่ เบอร์โทรศัพท์ไม่มีจริง 
    </p>
    <p>
        - มีข้อเรียกร้องไร้เหตุผล ไม่อยู่ใต้ความควบคุมของ LODและไม่ถูกต้องกับบริการสั่งซื้อแทน
    </p>
    <p>            - โพสต์หรือให้ข้อมูลที่เป็นเท็จกับส่วนบุคคลที่สาม เพื่อทำชื่อเสียงของLOD เสียหาย</p>
    <p>  -ลูกค้าสามารถหยุดใช้บริการของLODโดยต้นเองและถอนเงินที่เหลือจากระบบ</p>
    <p>
       ในกรณียอดคงเหลือในบัญชีของลูกค้ายังมีอยู่ LODจะคืนให้ลูกค้าก่อนที่จะหยุดใช้บริการ
    </p>
    
</div>