<script type="text/html" id="debitOrder">
    <div class="box box-primary">
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <div class="row">
                    <section class="col-md-3 form-group">
                        <label for="ddlGroup">Search keyword</label>
                        <i class="fa fa-question-circle tooltips big-tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="You can perform searches by customer's account ID, account name, real name, phone number, email, .."></i>
                        <input class="form-control" placeholder="Transaction code, transaction note..." type="text" value="" data-bind="value: SearchDebitModal().Keyword">
                    </section>
                    <section class="col-md-3 form-group">
                        <label for="ddlPage">Creator (staff)</label>
                        <select class="form-control select-view" style="width: 100%;" data-bind="options: listUserToOffice, optionsText: 'FullName', optionsValue: 'Id', value: SearchDebitModal().UserId, optionsCaption: '- All-'"></select>
                    </section>
                    <section class="col-md-3 form-group">
                        <label for="ddlPage">Transaction type</label>
                        <select class="form-control select-view" style="width: 100%;" data-bind="options: listDebitType, optionsText: 'Text', optionsValue: 'Value', value: SearchDebitModal().Type"></select>
                    </section>
                    <section class="col-md-3 form-group">
                        <label for="ddlPage">Subject type</label>
                        <select class="form-control select-view" id="ddlPage" style="width: 100%;" data-bind="options: listSubjectType, optionsText: 'Text', optionsValue: 'Value', value: SearchDebitModal().SubjectId"></select>
                    </section>
                </div>
                <div class="row">
                    <section class="col-md-3 form-group">
                        <label for="ddlPage">Choose fund</label>
                        <div id="financeDebitSearch_tree"></div>
                    </section>
                   
                    <section class="col-md-3 form-group">
                        <label for="ddlPage">Account</label>
                        <div id="treasureDebitSearch_tree"></div>
                    </section>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button data-bind="click: clickSearch" class="btn btn-danger search-list"><i class="fa fa-search"></i>Search keyword</button>
                            @*<button data-bind="click: ExcelReport" class="btn btn-success"><i class="fa fa-file-excel-o"></i> Export report</button>*@
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12" id="body-table">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Debt list</h3>
                    <a data-bind="click: viewMoneyFundAddOrReturn" href="javascript:;" class="btn btn-danger pull-right"><i class="fa fa-minus"></i>Add payable</a>
                    <a data-bind="click: viewMoneyFundAddCollect" href="javascript:;" class="btn btn-success pull-right"><i class="fa fa-plus"></i>Add receivable</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- /page tabs -->
                    <div class="tabbable page-tabs">
                        <ul data-bind="foreach : listSystemDebit" class="nav nav-tabs">
                            <li data-bind="css: Class">
                                <a data-bind="attr: { href: '#tab' + Value, id: 'nav-tab' + Value}, click: function(){ $parent.clickTab(Value)}" data-toggle="tab">
                                    <span data-bind="text: Text"></span>
                                    <span data-bind="text: Total, css: ClassChild" class="label"></span>
                                </a>
                            </li>
                        </ul>

                        @*<ul class="nav nav-tabs">
                            <li class="active"><a href="#all-tasks" data-toggle="tab">Tất cả <span class="label label-danger">100</span></a></li>
                            <li><a href="#active" data-toggle="tab">Chờ thu</a></li>
                            <li><a href="#closed" data-toggle="tab">Hoàn tất thu</a></li>
                        </ul>*@
                        <div class="tab-content">
                            <!-- First tab -->
                            <div class="tab-pane active fade in" id="all-tasks">
                                <!-- Tasks table -->
                                <div class="box-body table-responsive no-padding">
                                    <div data-bind="css: isRending() == true? 'display-none' : ''">
                                        <div class="spinner">
                                            <div class="rect1"></div>
                                            <div class="rect2"></div>
                                            <div class="rect3"></div>
                                            <div class="rect4"></div>
                                            <div class="rect5"></div>
                                        </div>
                                    </div>
                                    <div data-bind="css: isRending() == true? '' : 'display-none'" class="display-none">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center w-35"></th>
                                                    <th class="text-center w-40">Chronological order</th>
                                                    <th class="text-center w-70">Debit ID</th>
                                                    <th class="w-100">Record date</th>
                                                    <th class="w-70">Subject name</th>
                                                    <th class="text-center w-70"> Order Exhibition </th>
                                                    
                                                    <th class="text-right text-green w-100">Receivable (Baht)</th>
                                                    <th class="text-right text-red w-100">Payable (Baht)</th>
                                                    <th class="text-center w-90">Status</th>
                                                    <th class="text-center w-100">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="template: { name: 'debitOrder-list', foreach: listDebitOrder }"></tbody>
                                            <tfoot data-bind="if: listDebitOrder().length == 0">
                                                <tr>
                                                    <td colspan="10">No Data</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        
                                    </div>
                                </div>
                                <!-- /tasks table -->

                                <div data-bind="if: listDebitOrder().length > 0" class="mt15">
                                    <div data-bind="html: pageTitle" class="pull-left"></div>

                                    <ul class="pagination pagination-sm no-margin pull-right">
                                        <li data-bind="if: pageStart">
                                            <a data-bind="click: function(){ setPage({Page: 1})}" href="javascript:;"><i class="fa fa-angle-double-left"></i></a>
                                        </li>
                                        <li data-bind="if: pageNext">
                                            <a data-bind="click: function(){ setPage({Page: (page - 3) < 1 ? 1 : (page - 3) })}" href="javascript:;">...</a>
                                        </li>
                                        <!-- ko foreach: listPage -->
                                        <li data-bind="css: Page == page ? 'active' :''  ">
                                            <a data-bind="text: Page, click: $parent.setPage" href="javascript:;"></a>
                                        </li>
                                        <!-- /ko -->
                                        <li data-bind="if: pagePrev">
                                            <a data-bind="click: function(){ setPage({Page: (page + 3) > pageTotal ? pageTotal: (page + 3) })}" href="javascript:;">...</a>
                                        </li>
                                        <li data-bind="if: pageEnd">
                                            <a data-bind="click: function(){ setPage({Page: pageTotal})}" href="javascript:;"><i class="fa fa-angle-double-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /first tab -->
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
</script>