@{
    ViewBag.Title = "Delivery slip";
}

<!-- Content Header (Page header) -->
<section class="content-header"></section>
<!-- Main content -->
<section class="invoice importwarehouse">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2 class="page-header">
                <strong>EXCHANGE QUOTES FOR DELIVERY</strong>
                <span class="impornumber">Slip number: <strong>EXP6896253</strong></span>
                <small>Export date: 02/10/2016</small>
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row importwarehouse">
        <!-- accepted payments column -->
        <div class="col-xs-6">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th width="25%">receiver: </th>
                        <td>Phạm Mai Hương</td>
                    </tr>
                    <tr>
                        <th>Phone :</th>
                        <td>0931223112</td>
                    </tr>
                    <tr>
                        <th>Address :</th>
                        <td>143 Nguyễn Bính - Đống Đa - Hà Nội - Vietnam</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th width="25%">Export at warehouse:</th>
                        <td>warehouse Nội Bài 1</td>
                    </tr>
                    <tr>
                        <th width="25%">Status:</th>
                        <td>Being delivered</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row importwarehouse">

        <div class="col-xs-12 table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Lading code ()</th>
                        
                        
                        
                        
                        
                        <th class="text-center">Transport code (internal)</th>
                        <th class="text-center">(Bag/Package) code</th>
                        <th class="text-center" style="color: green">Total weight</th>
                        <th class="text-center" style="color: blue">Total weight conversion</th>
                        <th class="text-center" style="color: red">Volume(m3)</th>
                        <th class="text-center">Transport fee (Baht)</th>
                        <th class="text-center" width="20%">Shipping note</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="text-center">MVDNB0102012919</td>
                        <td class="text-center">BH0102122</td>
                        <td class="text-center">22.00</td>
                        <td class="text-center">--</td>
                        <td class="text-center"></td>
                        <td class="text-center">22,000</td>
                        <td class="text-center">Fragile goods, recommended shipping carefully.</td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td class="text-center">MVDNB1242012002</td>
                        <td class="text-center">BH0102122</td>
                        <td class="text-center">22.00</td>
                        <td class="text-center">--</td>
                        <td class="text-center"></td>
                        <td class="text-center">500,000</td>
                        <td class="text-center">Fragile goods, recommended shipping carefully.</td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td class="text-center">MVDNB1242012002</td>
                        <td class="text-center">BH0102122</td>
                        <td class="text-center">22.00</td>
                        <td class="text-center">--</td>
                        <td class="text-center"></td>
                        <td class="text-center">35,000</td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <td class="text-center">4</td>
                        <td class="text-center">MVDNB0121212120</td>
                        <td class="text-center">BH0102122</td>
                        <td class="text-center">22.00</td>
                        <td class="text-center">--</td>
                        <td class="text-center"></td>
                        <td class="text-center">42,000</td>
                        <td class="text-center">Merchandise of many customers, when the goods on the package for guests.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-8">
            <div class="box box-default">
                <div class="box-header">
                    <i class="fa fa-bullhorn"></i>
                    <h3 class="box-title">Please note:</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="callout callout-success">
                        <p>
                            1. If the amount in your "E-wallet" is still sufficient, the shipping fee will be "deducted" into your electronic wallet on the system. E-wallet is officially deducted when you receive the e-wallet. <br />
                            2. If the balance in the electronic wallet in your account is not enough. Please pay cash to our courier.<br />
                            Thank you very much!
                        </p>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
            <label style="font-size: 23px; font-weight:400;">Total money</label>
            <div class="table-responsive">
                <label class="text-italic-pull-right">(Unit: Baht)</label>
                <table class="table table-bordered">
                    <tr>
                        <th style="width:60%">Transport fee (domestic):</th>
                        <td>500.000</td>
                    </tr>
                    <tr>
                        <th>Deduct e-wallet:</th>
                        <td>- 500.000</td>
                    </tr>
                    <tr>
                        <th>Total payment:</th>
                        <td>0</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <div class="row signature">
        <div class="col-sm-3" align="center">
            <h5><strong>Customer</strong></h5>
            <span class="description">(Sign and write full name)</span>
            <span class="name"></span>
        </div>

        <div class="col-sm-3" align="center">
            <h5><strong>Carrier</strong></h5>
            <span>(Sign and write full name)</span>
        </div>

        <div class="col-sm-3" align="center">
            <h5><strong>Warehouse keeper</strong></h5>
            <span>(Sign and write full name)</span>
        </div>

        <div class="col-sm-3" align="center">
            <h5><strong>Accountant</strong></h5>
            <span>(Sign and write full name)</span>
        </div>
    </div>
    <!-- /.row -->
    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <a href="@Url.Action("")" target="_blank" class="btn btn-default"><i class="fa fa-arrow-left"></i>List Delivery slip</a>
            <a class="btn btn-primary pull-right" style="margin-right: 5px;">
               <i class="fa fa-print"></i> Print coupon 
            </a>
        </div>
    </div>
</section>
<!-- /.content -->
<div class="clearfix"></div>
