
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header
{
    @Html.Partial("_Header2")
}
@section styles
 {
    <link href="~/Content/css/default.min.vs1.3.3.css" rel="stylesheet" /> 
}
<div id="about-us">
    <div class="about-us-banner">
        <div class="container">
            <h1>Làm cho việc bán hàng trở nên dễ dàng</h1>
            <p class="desc">Chúng tôi bắt đầu sứ mệnh này từ năm 2008 ...</p>
        </div>
    </div>
    <div class="about-us-intro">
        <div class="container">
            <p>
                DKT được thành lập năm 2008 với sứ mệnh
                <span>
                    <i class="icon-quote-left"></i>
                    Làm cho việc bán hàng trở nên dễ dàng
                    <i class="icon-quote-right"></i>
                </span>
                Bizweb.vn là sản phẩm chủ lực trong chiến lược lâu dài của chúng tôi cho sứ mệnh này. <br>
                Bizweb được phát triển đáp ứng tiêu chí: <i>"Thân thiện, dễ sử dụng ngay cả với người không có kỹ năng về Internet và phần mềm".</i><br><br>
                Với Bizweb việc bán hàng trực tuyến trở nên dễ dàng và hiệu quả hơn bao giờ hết. Dựa trên công nghệ điện toán đám mây, các công cụ hỗ trợ marketing trực tuyến thông minh, bạn chỉ mất 30s để bắt đầu bán hàng.
            </p>
        </div>
    </div>
    <div class="about-us-reason">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-5">
                <h3>Tại sao chúng tôi thực hiện sứ mệnh này? </h3>
                <p class="desc">
                    Thương mại điện tử Việt nam đang phát triển rất nhanh trong 5 năm trở lại đây. Việc mua bán hàng hóa trên Internet trở nên phổ biến và thực sự trở thành một cơ hội kinh doanh đầy tiềm năng cho doanh nghiệp, cửa hàng, cá nhân bán hàng.
                </p>
                <p class="desc">
                    Tuy vậy những khó khăn như: Hạn chế về công nghệ, chi phí đầu tư ban đầu, mất nhiều thời gian để bắt đầu bán hàng, không có kỹ năng về Internet Marketing... dẫn đến việc đầu tư cho việc bán hàng trực tuyến thiếu hiệu quả, ít khách hàng, lãng phí thời gian và tiền bạc. Chúng tôi nhận ra rằng, quá khó khăn để doanh nghiệp, cửa hàng, cá nhân có thể bán hàng trực tuyến hiệu quả. Bizweb đã ra đời với tất cả nỗ lực, ý chí và khát khao giúp cho việc bán hàng trở nên dễ dàng của DKT.
                </p>
                <p class="desc">
                    Chúng tôi hạnh phúc khi giờ đây có thể mang đến cho bạn một giải pháp hoàn chỉnh, giúp bạn bán hàng thật sự dễ dàng mà không phải đầu tư nhiều về công sức, thời gian cũng như tiền bạc.
                </p>
                <h4><img src="/Content/images/aboutus/img-about-us-intro.png"> <span>bạn có thể bắt đầu bán hàng sau 30s hoàn toàn miễn phí.</span></h4>
            </div>
        </div>
    </div>
    <div class="about-us-question">
        <div class="container">
            <h3>Bizweb - Giải pháp thiết kế web bán hàng Số 1 Việt Nam </h3>
            <p class="desc">Hãy để Bizweb đồng hành &amp; giúp bạn thành công trên internet. </p>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 text-right">
                    <h4 class="question">
                        Bạn muốn sản phẩm dịch vụ của mình dễ dàng được tìm kiếm và tiếp cận bởi đông đảo khách hàng tiềm năng?
                    </h4>
                    <h4 class="question">
                        Bạn muốn tăng doanh số bán hàng mà không tăng chi phí?
                    </h4>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 hidden-sm hidden-xs text-center">
                    <img src="/Content/images/aboutus/img-about-us-question.png">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 text-left">
                    <h4 class="question">
                        Bạn chưa có trang web hay bạn đã xây dựng web bán hàng nhưng không mang lại hiệu quả như mong muốn?
                    </h4>
                    <h4 class="question">
                        Bạn tốn chi phí và thời gian mà chưa tìm được giải pháp hiệu quả để bạn cụ thể hóa đầu tư thành lợi nhuận?
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us-statistic">
        <div class="container text-center">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md4">
                    <i class="icon-employee"></i>
                    <h4>500+ nhân viên</h4>
                    <p class="desc">Chúng tôi liên tục phát triển nguồn nhân lực để mang đến cho khách hàng sản phẩm và dịch vụ tốt nhất. </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md4">
                    <i class="icon-customer"></i>
                    <h4>23,000+ khách hàng</h4>
                    <p class="desc">Hơn 23,000 khách hàng đang tin tưởng sử dụng Bizweb </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md4">
                    <i class="icon-income"></i>
                    <h4>16,300+ Tỷ VNĐ</h4>
                    <p class="desc">Bizweb đã mang lại doanh thu trên 16,300 tỷ cho các khách hàng hoạt động trong hơn 30 lĩnh vục ở trong và ngoài nước </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="index-registration quick-registration new-registration">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 bottom-registration text-center">
            <h3 class="text-large text-center">Hơn 23,000 doanh nghiệp và chủ shop đang bán hàng như thế nào?</h3>
            <span>
                Đăng ký dùng thử miễn phí 15 ngày để khám phá
            </span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            <input style="font-weight : 300;" id="site_name_bottom" class="input-site-name hidden-xs" type="text" value="" placeholder="Nhập tên cửa hàng/doanh nghiệp của bạn" onkeypress="return onInputStoreName(event, this)">
            <a class="btn-registration banner-home-registration event-Bizweb-Free-Trial-form-open" onclick="openCreateStorePopup(this);" href="javascript:;">Dùng thử miễn phí</a>
        </div>
    </div>
</div>

