<script type="text/html" id="customer-report">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Potential customers today.</h3>
            <div class="box-tools pull-right">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default pull-right" id="daterange-btnday1">
                        <span>
                            <i class="fa fa-calendar"></i>Start Date
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>
                <button data-bind="click: ExcelPotentialCustomerReport" class="btn btn-xs btn-success"><i class="fa fa-file-excel-o"></i> Export report</button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="pad">
                        <div id="nhanvien1" style="min-width: 100px; height: 300px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Official customer today.</h3>
            <div class="box-tools pull-right">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default pull-right" id="daterange-btnday2">
                        <span>
                            <i class="fa fa-calendar"></i>Start Date
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>
                <button data-bind="click: ExcelGetCustomerReport" class="btn btn-xs btn-success"><i class="fa fa-file-excel-o"></i> Export report</button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="pad">
                        <div id="nhanvien2" style="min-width: 100px; height: 300px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Potential customers</h3>
            <div class="box-tools pull-right">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default pull-right" id="daterange-btnallday1">
                        <span>
                            <i class="fa fa-calendar"></i>Start Date
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>
                <button data-bind="click: ExcelGetPotentialCustomerOffStaffReport" class="btn btn-xs btn-success"><i class="fa fa-file-excel-o"></i> Export report</button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="pad">
                        <div id="nhanvien3" style="min-width: 100px; height: 300px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Official customer </h3>
            <div class="box-tools pull-right">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default pull-right" id="daterange-btnallday2">
                        <span>
                            <i class="fa fa-calendar"></i>Start Date
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>
                <button data-bind="click: ExcelGetCustomerOffStaffReport" class="btn btn-xs btn-success"><i class="fa fa-file-excel-o"></i> Export report</button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="pad">
                        <div id="nhanvien4" style="min-width: 100px; height: 300px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>
