<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Select customer</h3>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                <input type="text" class="form-control input-sm" placeholder="Customer ID...">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <div class="mailbox-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                <i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
            </div>
            <!-- /.btn-group -->
            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            <div class="pull-right">
                1-50/200
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                </div>
                <!-- /.btn-group -->
            </div>
            <!-- /.pull-right -->
        </div>
        <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
                <tbody>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td class="mailbox-star">
                            <a href="#"><i class="fa fa-star text-yellow"></i></a>
                        </td>
                        <td class="mailbox-name"><a href="read-mail.html">TCK010012012</a></td>
                        <td class="text-center">
                            <span class="label label-danger">Priority 1</span>
                        </td>
                        <td class="mailbox-subject">
                            <b>Nguyễn Ngọc Phan</b> - I need support on the issue......
                        </td>
                        <td class="mailbox-attachment"></td>
                        <td class="mailbox-subject"><a href="#">CSKH_001</a></td>
                        <td class="mailbox-date">5 minutes ago</td>
                        <td class="text-center">
                            <span class="label label-default">Waiting</span>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                        <td class="mailbox-name"><a href="read-mail.html">TCK010012012</a></td>
                        <td class="text-center">
                            <span class="label label-danger">Priority 1</span>
                        </td>
                        <td class="mailbox-subject">
                            <b>Nguyễn Ngọc Phan</b> - I need support on the issue......
                        </td>
                        <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                        <td class="mailbox-subject"><a href="#">CSKH_001</a></td>
                        <td class="mailbox-date">28 minutes ago</td>
                        <td class="text-center">
                            <span class="label label-danger">Cancelled</span>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                        <td class="mailbox-name"><a href="read-mail.html">TCK010012012</a></td>
                        <td class="text-center">
                            <span class="label label-danger">Priority 1</span>
                        </td>
                        <td class="mailbox-subject">
                            <b>Nguyễn Ngọc Phan</b> - I need support on the issue......
                        </td>
                        <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                        <td class="mailbox-subject"><a href="#">CSKH_001</a></td>
                        <td class="mailbox-date">11 hour ago</td>
                        <td class="text-center">
                            <span class="label label-default">Waiting</span>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                        <td class="mailbox-name"><a href="read-mail.html">TCK010012012</a></td>
                        <td class="text-center">
                            <span class="label label-default">Priority 2</span>
                        </td>
                        <td class="mailbox-subject">
                            <b>Nguyễn Ngọc Phan</b> - I need support on the issue......
                        </td>
                        <td class="mailbox-attachment"></td>
                        <td class="mailbox-subject"><a href="#">CSKH_001</a></td>
                        <td class="mailbox-date">15 hour ago</td>
                        <td class="text-center">
                            <span class="label label-default">Waiting</span>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                        <td class="mailbox-name"><a href="read-mail.html">TCK010012012</a></td>
                        <td class="text-center">
                            <span class="label label-danger">Priority 1</span>
                        </td>
                        <td class="mailbox-subject">
                            <b>Nguyễn Ngọc Phan</b> - I need support on the issue......
                        </td>
                        <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                        <td class="mailbox-subject"><a href="#">CSKH_001</a></td>
                        <td class="mailbox-date">Today</td>
                        <td class="text-center">
                            <span class="label label-success">Processed</span>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                        <td class="mailbox-name"><a href="read-mail.html">TCK010012012</a></td>
                        <td class="text-center">
                            <span class="label label-danger">Priority 1</span>
                        </td>
                        <td class="mailbox-subject">
                            <b>Nguyễn Ngọc Phan</b> - I need support on the issue......
                        </td>
                        <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                        <td class="mailbox-subject"><a href="#">--</a></td>
                        <td class="mailbox-date">2 days before</td>
                        <td class="text-center">
                            <span class="label label-default">Waiting</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- /.table -->
        </div>
        <!-- /.mail-box-messages -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
        <div class="mailbox-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                <i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
            </div>
            <!-- /.btn-group -->
            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            <div class="pull-right">
                1-50/200
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                </div>
                <!-- /.btn-group -->
            </div>
            <!-- /.pull-right -->
        </div>
    </div>
</div>