@{
    ViewBag.Title = "Guide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    
}
@section Header{
    @Html.Partial("~/Views/Partial/_Header.cshtml")
}

<section class="zy-main">

    <div id="tutorialbreadcrumb">
        <div class="container rs">
            <h2>quy định đặt hàng</h2>
            <p>
                Quy trình đặt hàng tại LikeOrder được minh họa chi <br>
                tiết qua các bước
            </p>
            <ul class="list-unstyled">

                <li style="padding-left: 100px;">
                    <a href="/CMS/Guide/Guide/#tutorialstep1">
                        <img src="~/Content/images/icon-guide/tutorial-icon1.png" alt="" />
                        <br>
                        Đăng kí tài khoản
                    </a>
                </li>
                <li>
                    <a href="/CMS/Guide/Guide/#tutorialstep2">
                        <img src="~/Content/images/icon-guide/tutorial-icon2.png" alt="" />
                        <br>
                        Cài đặt công cụ mua hàng
                    </a>
                </li>
                <li>
                    <a href="/CMS/Guide/Guide/#tutorialstep3">
                        <img src="~/Content/images/icon-guide/tutorial-icon3.png" alt="" />
                        <br>
                        Chọn hàng và thêm hàng vào giỏ
                    </a>
                </li>
                <li>
                    <a href="/CMS/Guide/Guide/#tutorialstep4">
                        <img src="~/Content/images/icon-guide/tutorial-icon4.png" alt="" />
                        <br>
                        Gửi đơn đặt hàng
                    </a>
                </li>
                <li>
                    <a href="/CMS/Guide/Guide/#tutorialstep5">
                        <img src="~/Content/images/icon-guide/tutorial-icon5.png" alt="" />
                        <br>
                        Đặt cọc tiền hàng
                    </a>
                </li>
                <li>
                    <a href="/CMS/Guide/Guide/#tutorialstep6">
                        <img src="~/Content/images/icon-guide/tutorial-icon6.png" alt="" />
                        <br>
                        Theo dõi đơn hàng
                    </a>
                </li>
                <li>
                    <a href="/CMS/Guide/Guide/#tutorialstep7">
                        <img src="~/Content/images/icon-guide/tutorial-icon7.png" alt="" />
                        <br>
                        Nhận hàng và thanh toán
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="turoialsteps">
        <div class="stepline"></div>
        <div id="tutorialstep1" class="turoialstep rs">
            <div class="container rs">
                <div class="row">
                    <div class="col-xs-6 col1">
                        <img src="~/Content/images/icon-guide/tutorial-img1.png" alt="" />
                    </div>
                    <div class="col-xs-6 col2">
                        <h3>Đăng kí tài khoản</h3>
                        <div>
                            Nhập các thông tin cá nhân bắt buộc vào ô, lưu ý nhập chính xác các thông tin để đảm bảo cho việc xác nhận và quản lí đơn hàng của bạn
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tutorialstep2" class="turoialstep rs">
            <div class="container rs">
                <div class="row">
                    <div class="col-xs-6 col1">
                        <h3>Cài đặt công cụ mua hàng</h3>
                        <div>
                            Click vào cài đặt công cụ đặt hàng của LikeOrder <br> <br>Sử dụng tốt nhất trên trình duyệt Chrome
                        </div>
                    </div>
                    <div class="col-xs-6 col2">
                        <img src="~/Content/images/icon-guide/tutorial-img2.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div id="tutorialstep3" class="turoialstep rs">
            <div class="container rs">
                <div class="row">
                    <div class="col-xs-6 col1">
                        <img src="~/Content/images/icon-guide/tutorial-img3.png" alt="" />
                    </div>
                    <div class="col-xs-6 col2">
                        <h3>Chọn hàng và thêm hàng vào giỏ</h3>
                        <div>
                            Truy cập vào các trang mua sắm Taobao.com, Tmall.com, 1688.com … chọn hàng và đợi hàng được thêm vào giỏ
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tutorialstep4" class="turoialstep rs">
            <div class="container rs">
                <div class="row">
                    <div class="col-xs-6 col1">
                        <h3>Gửi đơn đặt hàng</h3>
                        <div>
                            Quay lại Website của LikeOrder và kiểm tra giỏ hàng <br>Click vào “Gửi đơn hàng” để hoàn thành đơn hàng,<br> chờ xác nhận đặt hàng thành công
                        </div>
                    </div>
                    <div class="col-xs-6 col2">
                        <img src="~/Content/images/icon-guide/tutorial-img4.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div id="tutorialstep5" class="turoialstep rs">
            <div class="container rs">
                <div class="row">
                    <div class="col-xs-6 col1">
                        <img src="~/Content/images/icon-guide/tutorial-img5.png" alt="" />
                    </div>
                    <div class="col-xs-6 col2">
                        <h3>Đặt cọc tiền hàng</h3>
                        <div>
                            Kiểm tra đơn hàng và đặt cọc 50 -70% tiền hàng qua hình thức chuyển khoản hoặc trực tiếp
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tutorialstep6" class="turoialstep rs">
            <div class="container rs">
                <div class="row">
                    <div class="col-xs-6 col1">
                        <h3>Theo dõi đơn hàng</h3>
                        <div>
                            Đơn hàng của bạn được mua và vận chuyển theo chu trình sau:
                            <div class="numbers">
                                <p>Các sản phẩm được mua tại shop Trung Quốc, có mã vận đơn theo dõi </p>
                                <p> Vận chuyển hàng về kho Trung Quốc của LikeOrder, tiến hành đóng gỗ, chống thấm nếu khách hàng yêu cầu </p>
                                <p> Vận Chuyển hàng từ kho TRung Quốc về kho Việt Nam của LikeOrder </p>
                                <p>  Nhập kho Việt Nam, tiến hành kiểm tra sản phẩm, đếm số lượng </p>
                                <p> Thông báo chốt đơn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col2">
                        <img src="~/Content/images/icon-guide/tutorial-img6.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div id="tutorialstep7" class="turoialstep rs">
            <div class="container rs">
                <div class="row">
                    <div class="col-xs-6 col1">
                        <img src="~/Content/images/icon-guide/tutorial-img7.png" alt="" />
                    </div>
                    <div class="col-xs-6 col2">
                        <h3>Nhận hàng và thanh toán</h3>
                        <div>
                            Quý khách nhận được email chốt đơn và thông báo đến nhận hàng và thanh toán bằng chuyển khoản hoặc trực tiếp
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="hometutorial" class="rs">
        <span>Đặt hàng ngay</span> <a href="#" class="btn">Click vào đây</a>
    </div>

    <div class="modal fade" id="guestInfoModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">Nhập thông tin của bạn để được tư vấn</h3>
                </div>
                <div class="modal-body guestinfo">
                    <!-- content goes here -->
                    <form action="javascript:;" data-action="/Home/CreateGuest" method="post" id="createguestform">
                        <p>Vui lòng nhập các thông tin dưới đây để LikeOrder có thể hướng dẫn - tư vấn cho bạn nhanh nhất</p>
                        <div class="form-group">
                            <label for="guest_info_name">Tên của bạn</label>
                            <input type="text" class="form-control" name="name" id="guest_info_name" required="">
                        </div>
                        <div class="form-group">
                            <label for="guest_info_phone">Số điện thoại liên hệ</label>
                            <input type="text" class="form-control" name="phone" id="guest_info_phone" required="">
                        </div>
                        <div class="form-group">
                            <label for="guest_info_address">Địa chỉ</label>
                            <select name="address" id="guest_info_address" class="form-control">
                                <option value="Hà Nội">Hà Nội</option>
                                <option value="TP. Hồ Chí Minh">TP. Hồ Chí Minh</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">Đồng ý</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </form>
                </div>
                <div class="modal-body guestmessage" style="display:none">
                    <div class="alert alert-success">
                        Thông tin của bạn đã được lưu. Xin chân thành cảm ơn
                    </div>
                    <p class="text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>