<script type="text/html" id="liabilitycustomer-list">
    <tr>
        <td class="text-center">1</td>
        <td class="text-center">
            <a data-bind="click: viewMoneyFundDetail" href="javascript:;"><strong>CT012012</strong></a>
        </td>
        <td class="text-center">1 hour ago</td>
        <td class="text-center"><span class="label label-success">Deposit fund</span></td>
        <td class="text-green"><i class="fa fa-caret-up"></i> 6,000,000</td>
        <td class="text-center">Renminbi cash fund </td>
        <td class="text-center">Loading customer's deposits</td>
        <td class="text-center"><span class="label label-default">Waiting to be approved...</span></td>
        <td class="text-center">
            <a href="#" class="btn btn-sm btn-reddit btn-xs"><i class="fa fa-check"></i> Approved</a>
            <a href="#" class="btn btn-sm btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</a>
            <a href="#" class="btn btn-sm btn-danger btn-xs"><i class="fa fa-remove"></i> Delete </a>
        </td>
    </tr>
    <tr>
        <td class="text-center">2</td>
        <td class="text-center">
            <a data-bind="click: viewMoneyFundDetail" href="javascript:;"><strong>CT012013</strong></a>
        </td>
        <td class="text-center">1 hour ago</td>
        <td class="text-center"><span class="label label-danger">@*Chi tiền quỹ*@ Disburse fund</span></td>
        <td class="text-red"><i class="fa fa-caret-down"></i> 6,000,000</td>
        <td class="text-center">VND cash fund</td>
        <td class="text-center">@*Chi tiền mua vật tư công ty*@ Disburse money to buy company supplies</td>
        <td class="text-center"><span class="label label-default">Waiting to be approved</span></td>
        <td class="text-center">
            <a href="#" class="btn btn-sm btn-reddit btn-xs"><i class="fa fa-check"></i> Aprroved</a>
            <a href="#" class="btn btn-sm btn-primary btn-xs"><i class="fa fa-edit"></i>Edit</a>
            <a href="#" class="btn btn-sm btn-danger btn-xs"><i class="fa fa-remove"></i> Delete </a>
        </td>
    </tr>
</script>