<script type="text/html" id="reportAccount">

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">E-wallet balance over time</h3>
            <div class="box-tools pull-right">
                <button data-bind="click: ExcelReportAccount" class="btn btn-xs btn-success"><i class="fa fa-file-excel-o"></i> Export report</button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">
            <div class="row" style="padding-top: 10px; padding-left: 16px;">
                <section class="col-md-3 form-group">
                    <input class="form-control" placeholder="Customer name, phone number, email..." type="text" value="" data-bind="value: keyword">
                </section>
                <section class="col-md-3 form-group">
                    <button data-bind="click: clickSearch" class="btn btn-danger search-list"><i class="fa fa-search"></i> Search</button>
                </section>
                </div>
            <div class="row">
                <div class="col-md-12" style="padding: 10px 30px 20px 30px;">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="pull-left">
                                <a data-bind="click: btnPre" class="btn btn-default"><i class="fa fa-chevron-left"></i></a>
                                <a data-bind="click: btnCalendar" class="btn btn-default">
                                    <input type="text" class="form-control pull-right report-date" id="reportDate">
                                    <!-- ko if: selectDateReport() == 'week' -->
                                    <style>
                                        .datepicker-days tr:hover {
                                            background-color: #808080;
                                        }
                                    </style>
                                    <!-- /ko -->
                                    <i class="fa fa-calendar"></i>
                                </a>
                                <a data-bind="click: btnNext" class="btn btn-default"><i class="fa fa-chevron-right"></i></a>
                                <a data-bind="click: btnToday, text: titleToday" class="btn btn-default"></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h3 data-bind="text: reportTitle"></h3>
                        </div>
                        <div class="col-md-4">

                            <div class="pull-right">
                                <a data-bind="click: btnSelect.bind($data, 'day'), css: (selectDateReport() == 'day' ? 'btn btn-info' : 'btn btn-default')">Date</a>
                                <a data-bind="click: btnSelect.bind($data, 'week'), css: (selectDateReport() == 'week' ? 'btn btn-info' : 'btn btn-default')">Week</a>
                                <a data-bind="click: btnSelect.bind($data, 'month'), css: (selectDateReport() == 'month' ? 'btn btn-info' : 'btn btn-default')">Month</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div data-bind="css: isRending() == true? 'display-none' : ''">
                        <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>

                    <div class="pad display-none" data-bind="css: isRending() == true? '' : 'display-none'">
                        <div id="userAccount" style="min-width: 100%; min-height: 600px; margin: 0 auto"></div>
                    </div>
                </div>
                <div class="col-md-12" style="padding: 30px!important">
                    <div class="mt15">
                        <div data-bind="html: pageTitle" class="pull-left"></div>

                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li data-bind="if: pageStart">
                                <a data-bind="click: function(){ setPage({Page: 1})}" href="javascript:;"><i class="fa fa-angle-double-left"></i></a>
                            </li>
                            <li data-bind="if: pageNext">
                                <a data-bind="click: function(){ setPage({Page: (page - 3) < 1 ? 1 : (page - 3) })}" href="javascript:;">...</a>
                            </li>
                            <!-- ko foreach: listPage -->
                            <li data-bind="css: Page == page ? 'active' :''  ">
                                <a data-bind="text: Page, click: $parent.setPage" href="javascript:;"></a>
                            </li>
                            <!-- /ko -->
                            <li data-bind="if: pagePrev">
                                <a data-bind="click: function(){ setPage({Page: (page + 3) > pageTotal ? pageTotal: (page + 3) })}" href="javascript:;">...</a>
                            </li>
                            <li data-bind="if: pageEnd">
                                <a data-bind="click: function(){ setPage({Page: pageTotal})}" href="javascript:;"><i class="fa fa-angle-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</script>