<script type="text/html" id="fund-report">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">FUND CASHFLOWS</h3>
            <div class="box-tools pull-right">

                <button type="button" class="btn btn-info btn-xs" data-bind="click: FinanceFundExcelReport"><i class="fa fa-file-excel-o"></i> Export Excel</button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="pad">
                        <div id="financefund" style="min-width: 100%; height: 1000px; margin: 0 auto"></div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->
    </div>
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">DAILY CASHFLOWS</h3>
            <div class="box-tools pull-right">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default pull-right" id="daterange-btnpayreceiveday">
                        <span>
                            <i class="fa fa-calendar"></i>Start Date
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>
                <button type="button" class="btn btn-info btn-xs" data-bind="click: ExportExcelFund"><i class="fa fa-file-excel-o"></i> Export Excel</button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-body no-padding">
                        <div id="fundbill" style="min-width: 100%; height: 1000px; margin: 0 auto"></div>
                    </div>
                </div>
                @*<div class="col-md-6">
                    <div class="col-md-12" id="fundbill_add" style="min-width: 120px; height: 6%; margin: 0 auto"></div>
                    <div class="col-md-12" id="fundbill_minus" style="min-width: 120px; height: 6%; margin: 0 auto"></div>
                </div>*@
            </div>
        </div>
        @*<div class="box-footer">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <div class="description-block border-right">
                        <h3 class="description-header"></h3>
                        <span class="description-text">Sum Charge</span>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <div class="description-block border-right">
                        <h3 class="description-header"></h3>
                        <span class="description-text">Sum CHI TIỀN QUỸ</span>
                    </div>
                </div>
            </div>
        </div>*@
    </div>

</script>