<div id="liabilityTransportAddOrEdit" class="modal fade modal-dialog modal-p80" role="dialog">
            <div class="modal-body">
                <section class="importwarehouse">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h2 class="page-header">
                                <strong>CREATE DEPOSIT SLIP TO ELECTRONIC WALLET</strong>
                                <span class="impornumber">Slip number: <strong>CT012012</strong></span>
                                <small>Date of implementation: 02/10/2016</small>
                            </h2>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Input fund information </h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form class="form-horizontal">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-money"></i>
                                                    </div>
                                                    <select class="form-control input-lg select-view" style="width: 100%;">
                                                        <option selected="selected">- SELECT FUND -</option>
                                                        <option>VND cash fund</option>
                                                        <option>Renminbi cash fund</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <th>Account number:</th>
                                                                <td>10020310202022</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Representative:</th>
                                                                <td>Mã Trần Hiếu</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Phone:</th>
                                                                <td>0912931231</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Email:</th>
                                                                <td>hieutranma@gmail.com</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Enter the type of account</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form class="form-horizontal">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-usd"></i>
                                                    </div>
                                                    <select class="form-control input-lg select-view" style="width: 100%;">
                                                        <option selected="selected">- CHOOSE ENTRY-</option>
                                                        <option>Collect customer's deposits</option>
                                                        <option>Collect customer receivables</option>
                                                        <option>Collect from suppliers</option>
                                                        <option>Disburse money to buy goods</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-danger">
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form class="form-horizontal">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label text-red text-bold">Amount:</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-money"></i>
                                                    </div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label">Note:</label>
                                            <div class="col-sm-10">
                                                <textarea class="col-sm-9 form-control" rows="4" placeholder="Remittance note ..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger"><i class="fa fa-check"></i> Confirm</a>
                <a class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Close</a>
            </div>
</div>

@*<style>
        #rechargeAddOrEdit {
            padding: 0px 10px !important;
        }

            #rechargeAddOrEdit .modal-lg {
                width: 90% !important;
            }
    </style>*@