
@{
    ViewBag.Title = Resource.Home_Faq;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
@section styles{
    <style>
        .green {
            color: green;
        }

        .faq-content-msg > p {
            text-align: justify;
        }

        .faq-content-msg > div > p {
            text-align: justify;
        }

        .note-guide-faq > li {
            list-style: none;
            line-height: 30px;
        }

        p {
            text-align: justify;
        }

        .table-product > thead {
            background: #dd2727;
            color: #fff;
        }
    </style>
}

@section Header{
    @Html.Partial("~/Views/Partial/_Header.cshtml")

}

<section class="faq">
    @Html.Partial("~/Views/Home/FAQ/FAQ_" + culture + ".cshtml")
</section>

@section scripts{

    <script src="~/Content/js/tab-content.js"></script>
    <script src="~/Content/js/tab.js"></script>
    <script>
        document.getElementById("defaultOpen2").click();
    </script>
    <script>
      


        $(document).ready(function () {
            $("#gd1").show(); $("#gd2").show();
            $("#whoContent").show();
            $("#part2Content").show();

            $("#cach1").click(function () {
                $("#gd1").toggle();
            }); $("#cach2").click(function () {
                $("#gd2").toggle();
            }); $("#who").click(function () {
                $("#whoContent").toggle();
            }); $("#part2").click(function () {
                $("#part2Content").toggle();
            });
            $('#part2Content > div').hide();

            $('#part2Content a').each(function () {
                var obj = $(this);
                $(obj).click(function () {
                    $(obj).parent().next().toggle();
                });
            });

            var tmpArr = location.href.split('#');
            if (tmpArr.length === 2) {
                $('.faq-nav-box ul li').each(function () {
                    var obj = $(this).find('a');
                    if ($(obj).attr('idata') === tmpArr[1]) {
                        $(obj).click();
                        $(obj).attr('abc', 'active-faq');
                    }
                });
                $('.tabcontent').each(function () {
                    if ($(this).attr('id') === tmpArr[1]) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
            else {
                $('.faq-nav-box #defaultOpen').click();
                $('.tabcontent').each(function (idx) {
                    if (idx === 0) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    } 
                });
                $('.faq-nav-box ul li:eq(0) a').addClass('active-faq');
            }

        });
    </script>




}