<script type="text/html" id="warehousewarning-list">
    <tr>
        <td class="text-center">1</td>
        <td class="text-center">
            <a href="@Url.Action("Detail")"><strong>IMP010012012</strong></a>
        </td>
        <td class="text-center"><i class="fa fa-clock-o"></i> 4 hours ago</td>
        <td class="text-center"><a href="#"><strong>20</strong></a></td>
        <td class="text-center">China warehouse</td>
        <td class="text-center">
            <a href="#"><strong>Nguyễn Văn An</strong></a>
        </td>
        <td class="text-center">
            <span class="label label-success">Recently created</span>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-sm btn-primary btn-xs"><i class="fa fa-edit"></i>Edit</a>
            <a href="#" class="btn btn-sm btn-danger btn-xs"><i class="fa fa-trash"></i> Delete </a>
        </td>
    </tr>

</script>