<div id="packageDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <section class="importwarehouse">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h2 class="page-header">
                                <strong>DETAILED INFORMATION</strong>
                                <span class="impornumber">Transport code: <strong data-bind="text: packingModel().Code()"></strong></span>
                            </h2>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <th>Transport code:</th>
                                        <td>
                                            MVĐ0912391031
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Expected inventory:</th>
                                        <td>12/9/2016</td>
                                    </tr>
                                    <tr>
                                        <th>Ordered goods:</th>
                                        <td>ORD1212313</td>
                                    </tr>
                                    <tr>
                                        <th>Located in the warehouse:</th>
                                        <td>China warehouse 1</td>
                                    </tr>
                                    <tr>
                                        <th>Location in stock:</th>
                                        <td>Khu vực 1</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <th>Customer full name:</th>
                                        <td>
                                            Nguyễn Mai Nhi
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Phone:</th>
                                        <td>0987312112</td>
                                    </tr>
                                    <tr>
                                        <th>Email:</th>
                                        <td>nguyenmainhi@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th>Located in the warehouse:</th>
                                        <td>China warehouse 1</td>
                                    </tr>
                                    <tr>
                                        <th>Location in stock:</th>
                                        <td>Place Zone 1 - Waiting to move on HN</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary"><i class="fa fa-print"></i>Print </a>
                <a class="btn btn-default" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

<style>
    #packageDetailModal {
        padding: 0px 10px !important;
    }

        #packageDetailModal .modal-lg {
            width: 90% !important;
        }
</style>