<div class="modal fade modal-dialog modal-sm" id="orderServiceOtherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="fa fa-money"></i> Expenses incurred</h4>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center w50">Numerical order</th>
                    <th class="text-center">Type of fee</th>
                    <th class="text-center">Code order</th>
                    <th class="text-center">Amount of money (CNY)</th>
                    <th class="text-center">Note</th>
                    <th class="text-center w50"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: items">
                <tr>
                    <td data-bind="text: $index() + 1" class="text-center"></td>
                    <td>
                        <select data-bind="value: mode" class="form-control">
                            <option value="0">Shipping fee</option>
                            <option value="1">Forklift fee</option>
                        </select>
                    </td>
                    <td><input data-bind="value: orderCode" class="form-control" /></td>
                    <td><input data-bind="value: value" class="form-control decimal text-right" /></td>
                    <td><textarea data-bind="value: note" class="form-control" rows="4"></textarea></td>
                    <td class="text-center"><a data-bind="click: $parent.remove" class="btn btn-xs btn-danger" href="javascript:;"><i class="fa fa-times"></i> Delete  </a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" colspan="5">
                        <a data-bind="click: add" href="javascript:;" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Additional charges fee</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
