<script type="text/html" id="report-index">
    <div class="tab-content-fade">
        <div class="col-static1">
            <div class="dashboard-stat green-meadow">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="1349" data-bind="text: CountOrder"></span>
                    </div>
                    <div class="desc">@Resource.Dashboard_DOrder</div>
                </div>
            </div>
        </div>

        @*<div class="col-static1">
                <div class="dashboard-stat blue-steel ">
                    <div class="visual">
                        <i class="fa fa-bar-chart-o"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="1349" data-bind="text: CountSource"></span>
                        </div>
                        <div class="desc">
                          @Resource.Dashboard_CreateSourcing
                        </div>
                    </div>
                </div>
            </div>*@

        <div class="col-static1">
            <div class="dashboard-stat yellow-casablanca ">
                <div class="visual">
                    <i class="fa fa-line-chart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="1349" data-bind="text: CountDeposit"></span>
                    </div>
                    <div class="desc">
                        @Resource.Dashboard_DDeposit
                    </div>
                </div>
            </div>
        </div>

        <div class="col-static1">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="1349" data-bind="text: CountComplate"></span>
                    </div>
                    <div class="desc">
                        @Resource.Dashboard_Ticket
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>