<div class="box">
    <div class="box-header">
        <h3 class="box-title">List of warehouses</h3>

        <button type="submit" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add new warehouse</button>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Mã layout</th>
                        <th class="text-center">Tên Layout</th>
                        <th class="text-center">Thuộc kho</th>
                        <th class="text-center">Describe</th>
                        <th class="text-center">Hag Tag</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="text-center">
                            <a href="#"><strong>Z</strong></a>
                        </td>
                        <td class="text-center">Zone</td>
                        <td class="text-center">Kho đường láng</td>
                        <td>Kho đựng hàng thường, nhỏ</td>
                        <td class="text-center">dolanh, tulanh</td>
                        <td class="text-center">
                            <span class="label label-success">Đang sử dụng</span>
                        </td>
                        <td class="text-center">
                            <a href="#" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Edit</a>
                            <a href="#" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.box-body -->
</div>

