@{
    ViewBag.Title = "Warehouse layout list";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
       Warehouse layout list
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Inventory report</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-primary">
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <div class="row">
                    <section class="col-md-4 form-group">
                          <label for="ddlGroup">Keyword search </label>
                        <i class="fa fa-question-circle tooltips big-tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="You can perform search by Layout ID, Layout name,..."></i>
                        <input class="form-control" id="SearchInfo_Keyword" name="SearchInfo.Keyword" placeholder="Layout ID, Layout name,..." type="text" value="">
                    </section>
                    <section class="col-md-4 form-group">
                        <label for="ddlWarehouse">Belong to warehouse</label>
                        <select class="form-control select-view" id="ddlWarehouse" style="width: 100%;">
                            <option value="1" selected="selected">- All -</option>
                            <option value="2">Vietnam</option>
                            <option value="4">China</option>
                        </select>
                    </section>
                    <section class="col-md-4 form-group">
                        <label for="ddlPage">Status</label>
                        <select class="form-control select-view" id="ddlPage" style="width: 100%;">
                            <option value="10" selected="selected">- All -</option>
                            <option value="25">Active</option>
                            <option value="50">Stop operations</option>
                            <option value="100">Deleted</option>
                        </select>
                    </section>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-danger"><i class="fa fa-search"></i> Search</button>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12" id="body-table">
            @Html.Partial("_LayoutTypeList")
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->
