<div id="orderSourcingDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Lookup source detail information</h4>
            </div>
            <div class="modal-body">
                <!-- title row -->
                <div class="row">
                    <div class="col-xs-9">
                        <h2 class="order-header">
                            <i class="fa fa-globe"></i> Code orders: <strong style="color: red">ORD6896253</strong>
                            <span class="label label-default">Waiting</span>
                        </h2>
                    </div>
                    <div class="col-xs-3">
                        <h2 class="order-header">
                            <small class="pull-right">Innitiated date: 02/09/2016</small><br />
                            <small class="pull-right">Date of completion: 02/10/2016</small>
                        </h2>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- info row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <i class="fa fa-bullhorn"></i>
                                <h3 class="box-title">Guest notes</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="callout callout-info">
                                    <p>
                                        I want to import teddy bear that embraces this heart. His request was to import only the teddy bear and accessories made of sewing, using English, leaving the embroidery in the middle, while the inner core of the inner self was made for the stuffed workers. To reduce the cost of import and reduce shipment charge to Vietnam Sub-category, get address 79 Ngoc Hoi, Hoang Mai District, Hanoi (Lua Huu Phuc Co., Ltd) 0915491899
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <div class="row importwarehouse">
                    <!-- accepted payments column -->
                    <div class="col-xs-4">
                        <strong>Account information</strong>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr>
                                    <th>Full name :</th>
                                    <td><span class="label label-danger">VIP 1</span> USE0120120102 - Nguyễn Ngọc Phan</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>hanoibanhcuon@almasaeedstudio.com</td>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <td>0912349258</td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td>312 Nguyễn Phong Sắc, Đống đa, Hà Nội</td>
                                </tr>
                            </table>
                        </div>

                    </div>

                    <!-- /.col -->
                    <div class="col-xs-4">
                        <strong>Payer Information</strong>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr>
                                    <th>Full name :</th>
                                    <td>USE0120120102 - Nguyễn Ngọc Phan</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>hanoibanhcuon@almasaeedstudio.com</td>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <td>0912349258</td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td>312 Nguyễn Phong Sắc, Đống đa, Hà Nội</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <strong>More information</strong>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr>
                                    <th>Shop name</th>
                                    <td><a href="#"><strong>义乌市雅然电子商务商行</strong></a></td>
                                </tr>
                                <tr>
                                    <th>Exchange rate is applied</th>
                                    <td>1 NDT = 3.410 Baht</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="row importwarehouse">
                    <div class="col-sm-12 invoice-col">
                        <div class="form-group">
                            <b>Service is in use: </b>
                            <label>
                                <input type="checkbox" class="minimal" checked> Tallying service
                            </label>
                            <label>
                                <input type="checkbox" class="minimal"> Wood baling services
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- Table row -->
                <div class="row importwarehouse">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center"> Product name</th>
                                    <th class="text-center">Bank</th>
                                    <th>Product Description</th>
                                    <th>Property</th>
                                    <th>Country</th>
                                    <th class="text-center" style="color: blue">Order customer</th>
                                    <th class="text-center" style="color: red">Product price (NDT)</th>
                                    <th class="text-center" style="color: red">Total (NDT)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td><a href="#">Leather shoes</a></td>
                                    <td class="text-center">Fashion</td>
                                    <td>This product is quite good material. You put careful attention</td>
                                    <td><a href="#">Size: 20, Color: Blue</a></td>
                                    <td><a href="#">China</a></td>
                                    <td class="text-center">3,500</td>
                                    <td class="text-center">50.00</td>
                                    <td class="text-center">35,000.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Image</label>
                            <div class="col-sm-10">
                                <div class="timeline-item">
                                    <div class="timeline-body">
                                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-xs-12">
                        <span><strong>Order staff handle:</strong></span>
                    </div>
                </div>
                <div class="row importwarehouse">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Contract ID</th>
                                    <th class="text-center">Transport code</th>
                                    <th class="text-center">Total value (NDT)</th>
                                    <th class="text-center" style="color: red">Bargain Shop (NDT)</th>
                                    <th class="text-center" style="color: red">Paid for shop (NDT)</th>
                                    <th class="text-center" style="color: red">The rest must be paid (NDT)</th>
                                    <th class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center"><strong>227165151863</strong></td>
                                    <td class="text-center">227165151863, 227165151863, 227165151863, 227165151863</td>
                                    <td class="text-center">350.00</td>
                                    <td class="text-center">300.00</td>
                                    <td class="text-center">
                                        100.00
                                    </td>
                                    <td class="text-center">
                                        50.00
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">Order finished</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-xs-9">
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-3">
                        <p class="lead">Date of payment: 2/22/2014</p>
                        (Price applies to daily orders: 1 yuan = 3,410 Baht)
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <tr>
                                    <th style="width:60%">Cost of goods sold:</th>
                                    <td>24.000.000</td>
                                </tr>
                                <tr>
                                    <th>Deposit:</th>
                                    <td>2.000.000</td>
                                </tr>
                                <tr>
                                    <th>Service charge:</th>
                                    <th>Service rate:</th>
                                    <td>250.000</td>
                                </tr>
                                <tr>
                                    <th>Total shipping fee:</th>
                                    <td>100.000</td>
                                </tr>
                                <tr>
                                    <th style="width:50%">Deposit:</th>
                                    <td>- 12.000.000</td>
                                </tr>
                                <tr>
                                    <th>Remaining paid:</th>
                                    <td>15.500.000</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>

                <!-- /.row -->
                <!-- this row will not appear when printing -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"><i class="fa fa-print"></i> Get the application</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<style>
    #orderSourcingDetailModal {
        padding: 0px 10px !important;
    }

        #orderSourcingDetailModal .modal-lg {
            width: 90% !important;
        }
</style>