
@{
    ViewBag.Title = "DesignWebsite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header
 {
    @Html.Partial("_Header")
}

@section styles
 {
    <link href="~/Content/css-marketing/sell_at_website.min.css" rel="stylesheet" />

}
<div class="ld-thietkewebsitebanhang">
    <div class="thietkewebsitebanhang-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 title">
                    <h1>ออกแบบเอง<br>เว็บไซต์ขายสินค้าภายใน 1 นาที</h1>
                    <p class="desc">หลายร้านค้าและนักธุรกิจเชื่อมั่นในEziwebshop.com</p>
                    <a class="btn-registration" href="https://docs.google.com/forms/d/e/1FAIpQLSdKdRFC-CPzPXqXYC38397zBF98j8ER2C6IcU0vqhOnB62PIg/viewform">ลองใช้ฟรี</a>
                </div>
                <div class="col-md-6 image-banner">
                    <img src="/Content/images/landing/thietkewebsitebanhang-banner-image.png">
                </div>
            </div>
        </div>
    </div>
    <div class="thietkewebsitebanhang-block-1">
        <div class="container">
            <h2>ทำไมร้านค้าและนักธุรกิจเป็นพันเชื่อถือและเลือกEziwebshopเพื่อออกแบบเว็บไซต์ขายสินค้า</h2>
            <div class="row">
                <div class="swiper-container swiper-container-horizontal">
                    <div class="swiper-wrapper" style="transform: translate3d(-2340px, 0, 0); transition-duration: 0;">
                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="2" style="width: 585px;">
                            <div class="block-info">
                                <img src="/Content/images/landing/thietkewebsitebanhang-block-1-index-3.jpg">
                                <h3>เพราะเว็บไซต์จะช่วยให้สร้างชื่อเสียงของแบรนด์</h3>
                                <p class="desc">
                                    เมื่อเว็บไซต์ขายสินค้าดูมีความเชียวชาญช่วยเหลือลูกค้าสั่งซื้อสะดวกขึ้น จะทำให้ลูกค้าประทับใจและมั่นใจในสินค้ากับแบรนด์ของคุณมากขึ้น
                                </p>
                            </div>
                        </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="3" style="width: 585px;">
                            <div class="block-info">
                                <img src="/Content/images/landing/thietkewebsitebanhang-block-1-index-4.jpg">
                                <h3>เพราะเว็บไซต์ช่วยบริการลูกค้า 24/7</h3>
                                <p class="desc">
                                    เมื่อขายสินค้าบนเว็บไซต์ลูกค้าสามารถดูและสั่งซื้อตอนไหนก็ได้ คุณสามารถให้คำปรึกษาแก่ลูกค้า 24/7 จากนั้นยอดขายของคุณจะเพิ่มขึ้นเยอะ
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide" data-swiper-slide-index="0" style="width: 585px;">
                            <div class="block-info">
                                <img src="/Content/images/landing/thietkewebsitebanhang-block-1-index-1.jpg">
                                <h3>เพราะว่า 70%ลูกค้าณตอนนี้สั่งซื้อสินค้าบนเว็บไซต์</h3>
                                <p class="desc">
                                    แม้ว่าตอนนี้งานขายสินค้าที่เครื่องข่ายสังคมกำลังเป็นนิยม โดดเด่นมากที่สุดคือFacebook และ Line
                                    แต่ตามการวิเคราะห์ของMooreลูกค้าส่วนใหญ่ยังเลือกเว็บไซต์เป็นแหล่งซื้อสินค้าที่มีความน่าเชื่อถือมากที่สุด
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1" style="width: 585px;">
                            <div class="block-info">
                                <img src="/Content/images/landing/thietkewebsitebanhang-block-1-index-2.jpg">
                                <h3>เพราะเว็บไซต์เป็นศูนย์การโฆษณา</h3>
                                <p class="desc">
                                    ด้วยความมั่นคงและรักษาความปลอดภัยของข้อมูล กิจกรรมโฆษณาออนไลน์ต้องใช้เว็บไซต์เป็นศูนย์กลาง ออกแบบเว็บไซต์ขายสินค้าจะทำให้งาน SEOมีผลมากที่สุด
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="2" style="width: 585px;">
                            <div class="block-info">
                                <img src="/Content/images/landing/thietkewebsitebanhang-block-1-index-3.jpg">
                                <h3>เพราะเว็บไซต์จะช่วยให้สร้างชื่อเสียงของแบรนด์</h3>
                                <p class="desc">
                                    เมื่อเว็บไซต์ขายสินค้าดูมีความเชียวชาญช่วยเหลือลูกค้าสั่งซื้อสะดวกขึ้น จะทำให้ลูกค้าประทับใจและมั่นใจในสินค้ากับแบรนด์ของคุณมากขึ้น
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
                <div class="swiper-button-prev hidden-xs">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
                <div class="swiper-button-next hidden-xs">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="thietkewebsitebanhang-block-2">
        <div class="container">
            <h2>ออกแบบเว็บไซต์ขายสินค้าภายใน 1 นาที</h2>
            <p class="desc">ไม่ต้องเป็นผู้เชียวชาญ คุณสามารถสร้างเว็บไซต์ของตัวเองกลับEziwebshop</p>
        </div>
        <div class="swiper-container hidden visible-lg swiper-container-horizontal">
            <div class="swiper-wrapper" style="transform: translate3d(-5709px, 0, 0); transition-duration: 0;">
                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="3" style="width: 1903px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 block-info">
                                <i class="icon-connect"></i>
                                <h3>อัตโนมัติเชื่อมต่อกับหน่วยงานอื่นๆ<br>ส่งสินค้า ชำระเงินออนไลน์</h3>
                                <p class="desc">
                                    Eziwebshopสนับสนุนให้แก่เว็บไซต์อีคอมเมิร์ซงานเชื่อมต่อกับหน่วยงานชำระระดับต้นต้นเหมือนPaypal, Napas, OnePay... ช่วยให้ลูกค้าสามารถชำระอย่างรวดเร็วบนเว็บไซต์24/7
                                    นอกจากนั้นเว็บไซต์Eziwebshopยังเชื่อมต่อกับบริษัทขนส่งช่วยให้คุณประหยัดราคาขนส่ง
                                </p>
                                <a class="btn-registration" onclick="openCreateStorePopup(this, null, false, 'kenhwebsite');" href="javascript:;">สมัครตอนนี้</a>
                            </div>
                            <div class="col-md-6 block-image">
                                <img class="block-image-4" src="~/Content/images/lanling/iPhone-web-design-inspiration-3.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-swiper-slide-index="0" style="width: 1903px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 block-info">
                                <i class="icon-time"></i>
                                <h3>ออกแบบเว็บไซต์ขายสินค้าภายใน 1 นาที</h3>
                                <p class="desc">
                                    โดย Eziwebshop คุณไม่ต้องรู้จักงานออกแบบเว็บไซต์และต่างๆ แต่คุณก็สามารถออกแบบเว็บไซต์ขายสินค้าภายใน 1 นาที
                                    เว็บไซต์ขายสินค้าEziwebshop ให้สต็อกอินเตอร์เฟซใหญ่โต ช่วยให้คุณสามารถแก้ไขและเปลี่ยนอินเตอร์เฟซตามความต้องการของตัวเอง
                                    สต็อก App ของ Eziwebshop จะช่วยให้คุณเพิ่มยูทิลิตี้ให้แก่เว็บไซต์เหมือน SMS  marketing, email marketing, และสร้างโปรแกรมโปรโมชั่น ...
                                </p>
                                <a class="btn-registration" onclick="openCreateStorePopup(this, null, false, 'kenhwebsite');" href="javascript:;">สมัครตอนนี้</a>
                            </div>
                            <div class="col-md-6 block-image">
                                <img class="block-image-1" src="/Content/images/landing/thietkewebsitebanhang-block-2-image-1.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1" style="width: 1903px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 block-info block-info-2">
                                <i class="icon-theme"></i>
                                <h3>2000+ อินเตอร์เฟซResponsiveสวยงาม</h3>
                                <p class="desc">
                                    สต็อกอินเตอร์เฟซของ Eziwebshopได้ลงทุนทำอย่างละเอียดและมีความหลากหลาย
                                    ด้วย 2000+ อินเตอร์เฟซEziwebshop สามารถใช้สำหรับ 30 ประเภทธุรกิจต่างกัน
                                    สำคัญที่สุด อินเตอร์เฟซทั้งหมดได้ออกแบบด้วยเทคโนโลยีResponsive  เพราะฉะนั้นเว็บไซต์สามารถใช้งานได้ทุกอุปกรณ์เทคโนโลยี
                                </p>
                                <a class="btn-registration" onclick="openCreateStorePopup(this, null, false, 'kenhwebsite');" href="javascript:;">สมัครตอนนี้</a>
                            </div>
                            <div class="col-md-6 block-image">
                                <img class="block-image-2" src="~/Content/images/lanling/ecommerce-landing-1page-design.png" alt="" width="550" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="2" style="width: 1903px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 block-info">
                                <i class="icon-mobile"></i>
                                <h3>ความเร็วในการเข้าถึงเว็บไซต์ต่ำกว่า 1 วินาที<br>เว็บไซต์ใช้งานได้ดีในโทรศัพท์มือถือ</h3>
                                <p class="desc">
                                    เว็บไซต์ต่างๆของEziwebshopมีความเร็วในการเข้าถึงเว็บไซต์ต่ำกว่า 1 วินาที มันจะทำให้ลูกค้าสบายเมื่อสั่งซื้อบนเว็บไซต์ แล้วก็ทำให้เว็บไซต์ได้ google ประเมินระดับสูง
                                    Eziwebshopมีการออกแบบใช้เฉพาะๆสมาร์ทโฟนและแท็บเล็ต.
                                </p>
                                <a class="btn-registration" onclick="openCreateStorePopup(this, null, false, 'kenhwebsite');" href="javascript:;">สมัครตอนนี้</a>
                            </div>
                            <div class="col-md-6 block-image">
                                <img class="block-image-3" src="~/Content/images/landing/dribbble-24_1x.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="3" style="width: 1903px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 block-info">
                                <i class="icon-connect"></i>
                                <h3>อัตโนมัติเชื่อมต่อกับหน่วยงานอื่นๆ<br>ส่งสินค้า ชำระเงินออนไลน์</h3>
                                <p class="desc">
                                    Eziwebshopสนับสนุนให้แก่เว็บไซต์อีคอมเมิร์ซงานเชื่อมต่อกับหน่วยงานชำระระดับต้นต้นเหมือนPaypal, Napas, OnePay... ช่วยให้ลูกค้าสามารถชำระอย่างรวดเร็วบนเว็บไซต์24/7
                                    นอกจากนั้นเว็บไซต์Eziwebshopยังเชื่อมต่อกับบริษัทขนส่งช่วยให้คุณประหยัดราคาขนส่ง
                                </p>
                                <a class="btn-registration" onclick="openCreateStorePopup(this, null, false, 'kenhwebsite');" href="javascript:;">สมัครตอนนี้</a>
                            </div>
                            <div class="col-md-6 block-image">
                                <img class="block-image-4" src="~/Content/images/lanling/iPhone-web-design-inspiration-3.jpg" alt="" width="490" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="width: 1903px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 block-info">
                                <i class="icon-time"></i>
                                <h3>ออกแบบเว็บไซต์ขายสินค้าภายใน 1 นาที</h3>
                                <p class="desc">
                                    ไม่ต้องเป็นผู้เชียวชาญ คุณสามารถสร้างเว็บไซต์ของตัวเองกลับEziwebshop
                                </p>
                                <a class="btn-registration" onclick="openCreateStorePopup(this, null, false, 'kenhwebsite');" href="javascript:;">สมัครตอนนี้</a>
                            </div>
                            <div class="col-md-6 block-image">
                                <img class="block-image-1" src="/Content/images/landing/thietkewebsitebanhang-block-2-image-1.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigation">
                <div class="container">
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
                    <div class="swiper-button-prev hidden-xs">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </div>
                    <div class="swiper-button-next hidden-xs">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-mobile hidden-lg">
            <div class="container">
                <div class="block-info">
                    <div class="title">
                        <h3>ออกแบบเว็บไซต์ขายสินค้าภายใน 1 นาที</h3>
                        <i class="fa fa-plus hidden" aria-hidden="true"></i>
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                        <p>
                            โดย Eziwebshop คุณไม่ต้องรู้จักงานออกแบบเว็บไซต์และต่างๆ แต่คุณก็สามารถออกแบบเว็บไซต์ขายสินค้าภายใน 1 นาที
                            เว็บไซต์ขายสินค้าEziwebshop ให้สต็อกอินเตอร์เฟซใหญ่โต ช่วยให้คุณสามารถแก้ไขและเปลี่ยนอินเตอร์เฟซตามความต้องการของตัวเอง
                            สต็อก App ของ Eziwebshop จะช่วยให้คุณเพิ่มยูทิลิตี้ให้แก่เว็บไซต์เหมือน SMS  marketing, email marketing, และสร้างโปรแกรมโปรโมชั่น
                        </p>
                    </div>
                </div>
                <div class="block-info">
                    <div class="title">
                        <h3>2000+ อินเตอร์เฟซResponsiveสวยงาม</h3>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <i class="fa fa-minus hidden" aria-hidden="true"></i>
                    </div>
                    <div class="content hidden">
                        <p>
                            สต็อกอินเตอร์เฟซของ Eziwebshopได้ลงทุนทำอย่างละเอียดและมีความหลากหลาย
                            ด้วย 2000+ อินเตอร์เฟซEziwebshop สามารถใช้สำหรับ 30 ประเภทธุรกิจต่างกัน
                            สำคัญที่สุด อินเตอร์เฟซทั้งหมดได้ออกแบบด้วยเทคโนโลยีResponsive  เพราะฉะนั้นเว็บไซต์สามารถใช้งานได้ทุกอุปกรณ์เทคโนโลยี
                        </p>
                    </div>
                </div>
                <div class="block-info">
                    <div class="title">
                        <h3>ความเร็วในการเข้าถึงเว็บไซต์ต่ำกว่า 1 วินาที</h3>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <i class="fa fa-minus hidden" aria-hidden="true"></i>
                    </div>
                    <div class="content hidden">
                        <p>
                            เว็บไซต์ต่างๆของEziwebshopมีความเร็วในการเข้าถึงเว็บไซต์ต่ำกว่า 1 วินาที มันจะทำให้ลูกค้าสบายเมื่อสั่งซื้อบนเว็บไซต์ แล้วก็ทำให้เว็บไซต์ได้ google ประเมินระดับสูง
                            Eziwebshopมีการออกแบบใช้เฉพาะๆสมาร์ทโฟนและแท็บเล็ต
                        </p>
                    </div>
                </div>
                <div class="block-info">
                    <div class="title">
                        <h3>ช่วยงานSEOอย่างดีที่สุด</h3>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <i class="fa fa-minus hidden" aria-hidden="true"></i>
                    </div>
                    <div class="content hidden">
                        <p>
                            ไม่ต้องเป็นผู้เชียวชาญในงานSEO คุณยังสามารถทำให้เว็บไซต์ของคุณขึ้นเป็นระดับต้นของ google
                            ออกแบบเว็บไซต์มาตรฐาน SEO กับ Eziwebshop ไม่ใช่ช่วยให้งานSEOมีผลดีที่สุดในแต่ละรายการ แต่ยังSEOในแต่ละหน้าของรายละเอียดสินค้า
                            คุณสามารถเปลี่ยนแท็ก หัวข้อ(Title), รายละเอียดสินค้า (Meta Description) และ URL ในเว็บไซต์ เพิ่มแท็ก ALT ของรูปภาพ
                            นอกจากนั้นเว็บไซต์ขายสินค้าของEziwebshopยังสนับสนุนApp SEO ให้คุณสามารถตั้งค่าและดูแลSEOให้แก่เว็บไซต์ของคุณอย่างรวดเร็วและสะดวกขึ้น
                        </p>
                    </div>
                </div>

                <div class="block-info">
                    <div class="title">
                        <h3>ทำไมงานโฆษณามีผลมากขึ้น</h3>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <i class="fa fa-minus hidden" aria-hidden="true"></i>
                    </div>
                    <div class="content hidden">
                        <p>
                            นอกจากงาน SEOที่จะช่วยให้ลูกค้ารู้จักเว็บไซต์ของคุณอย่างธรรมชาติ เว็บไซต์Eziwebshopยังช่วยให้คุณโฆษณาเสียค่าใช้จ่ายผ่านGoogle Adwords หรือ Facebook Ads
                            วิธีนี้จะช่วยให้สินค้าของคุณเข้าถึงกลุ่มลูกค้ามีประสิทธิภาพทันที
                        </p>
                    </div>
                </div>
                <div class="text-center">
                    <a class="btn-registration" href="https://docs.google.com/forms/d/e/1FAIpQLSdKdRFC-CPzPXqXYC38397zBF98j8ER2C6IcU0vqhOnB62PIg/viewform">สมัครตอนนี้</a>
                </div>
            </div>
        </div>

        <div class="scroll-down hidden visible-lg">
            <a href="javascript:;" class="scroll-down-button">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="thietkewebsitebanhang-block-3">
        <div class="container">
            <div class="row">
                <p class="desc">ทำยังไงให้มีร้อยออเดแร์ต่อวันจากเว็บไซต์ ?</p>
                <h2>เว็บไซต์ขายสินค้าของEziwebshop ช่วยให้คุณทำSEOและโฆษณาที่มีผลที่สุด</h2>
                <div class="clearfix">
                    <div class="col-md-5 block-image hidden visible-lg">
                        <img src="/Content/images/landing/thietkewebsitebanhang-block-3-image-1.png">
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 block-info">
                        <ul>
                            <li>
                                <i class="icon-arrow"></i>
                                <h3>ช่วยงานSEOอย่างดีที่สุด</h3>
                                <p>
                                    ไม่ต้องเป็นผู้เชียวชาญในงานSEO คุณยังสามารถทำให้เว็บไซต์ของคุณขึ้นเป็นระดับต้นของ google
                                    ออกแบบเว็บไซต์มาตรฐาน SEO กับ Eziwebshop ไม่ใช่ช่วยให้งานSEOมีผลดีที่สุดในแต่ละรายการ แต่ยังSEOในแต่ละหน้าของรายละเอียดสินค้า
                                    คุณสามารถเปลี่ยนแท็ก หัวข้อ(Title), รายละเอียดสินค้า (Meta Description) และ URL ในเว็บไซต์ เพิ่มแท็ก ALT ของรูปภาพ
                                    นอกจากนั้นเว็บไซต์ขายสินค้าของEziwebshopยังสนับสนุนApp SEO ให้คุณสามารถตั้งค่าและดูแลSEOให้แก่เว็บไซต์ของคุณอย่างรวดเร็วและสะดวกขึ้น
                                </p>
                            </li>
                            <li>
                                <i class="icon-arrow"></i>
                                <h3>ทำไมงานโฆษณามีผลมากขึ้น</h3>
                                <p>
                                    นอกจากงาน SEOที่จะช่วยให้ลูกค้ารู้จักเว็บไซต์ของคุณอย่างธรรมชาติ เว็บไซต์Eziwebshopยังช่วยให้คุณโฆษณาเสียค่าใช้จ่ายผ่านGoogle Adwords หรือ Facebook Ads
                                    วิธีนี้จะช่วยให้สินค้าของคุณเข้าถึงกลุ่มลูกค้ามีประสิทธิภาพทันที
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thietkewebsitebanhang-block-4">
        <div class="container">
            <h2>ขายสินค้าทั่วอินเตอร์เน็ตกับEziwebshop</h2>
            <p class="desc">
                คุณสามารถขายสินค้าผ่านหลายช่องทางที่ต้องการ
            </p>
            <div class="animation-element slide-left testimonial hidden visible-lg">
                <div class="wrap-content">
                    <img class="line-vector" src="/Content/images/landing/line-vertor-animation.png" alt="">
                    <a href="#" target="_blank">
                        <img class="adayroi-img" src="/Content/images/landing/img-adayroi-ldbztkwbh.png" alt="">
                    </a>
                    <a href="/" target="_blank">
                        <img class="websitekhac-img" src="/Content/images/landing/img-websitekhac-ldbztkwbh.png" alt="">
                    </a>
                    <a href="/" target="_blank">
                        <img class="sendo-img" src="/Content/images/landing/img-sendo-ldbztkwbh.png" alt="">
                    </a>
                    <a href="/" target="_blank">
                        <img class="face-img" src="/Content/images/landing/img-face-ldbztkwbh.png" alt="">
                    </a>
                    <a href="/" target="_blank">
                        <img class="pos-img" src="/Content/images/landing/img-pos-ldbztkwbh.png" alt="">
                    </a>
                    <a href="/" target="_blank">
                        <img class="zalo-img" src="/Content/images/landing/img-zalo-ldbztkwbh.png" alt="">
                    </a>
                    <a href="/" target="_blank">
                        <img class="bizweb-img" src="/Content/images/landing/img-bizweb-ldbztkwbh.png" alt="">
                    </a>
                    <img class="khachhang-img faa-pulse animated" src="/Content/images/landing/img-khachhang-ldbztkwbh.png" alt="">
                </div>
            </div>
        </div>
        <div class="text-center hidden-lg">
            <img src="/Content/images/landing/line-vertor-tablet.png" class="hidden-xs" alt="">
            <img src="/Content/images/landing/line-vertor-tablet.png" class="hidden-sm hidden-md" alt="">
        </div>

        <div class="scroll-down hidden visible-lg">
            <a href="javascript:;" class="scroll-down-button">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="thietkewebsitebanhang-block-5">
        <div class="container">
            <p class="desc">เทคโนโลยีโดดเด่นและคุณสมบัติแตกต่างกับอันอื่น</p>
            <h2>
                ออกแบบเว็บไซต์ขายสินค้า Eziwebshopช่วยให้คุณขายสินค้า24/7
            </h2>
            <div class="row hidden-xs">
                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 block-info">
                    <ul>
                        <li class="first">
                            <h3>มีซอฟต์แวร์chatlive</h3>
                            <p class="desc">
                                เว็บไซต์ต่างๆของEziwebshop ได้มีซอฟต์แวร์chatliveระดับต้นๆอย่าง Zopim, Subiz ...,  ทำให้คุณสามารถคุยกับลูกค้าตลอดเวลา
                            </p>
                        </li>
                        <li class="second">
                            <h3>สั่งซื้อแบบอัตโนมัติ</h3>
                            <p class="desc">
                                ลูกค้าสามารถสั่งซื้อบนเว็บไซต์ทุกเวลา
                                ขั้นตอนอัตโนมัติสั่งซื้อจะช่วยให้ลูกค้าสั่งซื้ออย่างง่ายๆด้วยไม่กี่ขั้นตอนง่ายๆ โดยไม่ต้องโทรหาหรือส่งข้อความให้เจ้าของร้านค้า
                            </p>
                        </li>
                        <li class="third">
                            <h3>App Eziwebshopเมื่อใช้สมาร์ทโฟน</h3>
                            <p class="desc">
                                โดยApp Eziwebshopใช้ ระบบปฏิบัติการ iOS และ Android เมื่อมีออเดอร์หรือข้อความจากลูกค้า ระบบจะอัตโนมัติส่งข้อความถึงโทรศัพท์มือถือของคุณทันที
                                นอกจากนั้นคุณยังสามารถอัพโหลดสินค้าใหม่โดยไม่ต้องใช้คอมพิวเตอร์
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 block-image hidden visible-lg">
                    <div class="image-phone">
                        <div class="bg-phone"></div>
                        <img src="/Content/images/landing/thietkewebsitebanhang-block-5-icon-phone.png" alt="">
                    </div>
                    <div class="image-message">
                        <div class="bg-message"></div>
                        <img src="/Content/images/landing/thietkewebsitebanhang-block-5-icon-message.png" alt="">
                    </div>
                    <div class="image-email">
                        <div class="bg-email"></div>
                        <img src="/Content/images/landing/thietkewebsitebanhang-block-5-icon-email.png" alt="">
                    </div>
                </div>
            </div>


            <div class="text-center">
                <a class="btn-registration" href="https://docs.google.com/forms/d/e/1FAIpQLSdKdRFC-CPzPXqXYC38397zBF98j8ER2C6IcU0vqhOnB62PIg/viewform">ลองใช้ฟรี</a>
            </div>
            <div class="scroll-down hidden visible-lg">
                <a href="javascript:;" class="scroll-down-button">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="thietkewebsitebanhang-block-6">
        <div class="container">
            <h2>สูตรการออกแบบเว็บไซต์</h2>
            <ul class="row">
                <li class="col-md-4 col-sm-6 landing-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์เครื่องประดับโทรศัพท์มือถือ</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายนาฬิกา</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายกระเป๋า</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายรองเท้า</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายเครื่องประดับ</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ร้านค้า</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์เฟอร์นิเจอร์</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายทัวร์</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden-sm">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์แฟชั่น</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์อีคอมเมิร์ซ</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์อสังหาริมทรัพย์</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์บริษัท</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ของเล่น</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายของกิน</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายดอกไม้</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายชุดแต่งงาน</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายของใช้สำหรับคุณแม่มือใหม่</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์โรงแรม</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์สปา</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ร้านขายยา</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายรถยนต์</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายเครื่องเขียน</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ร้านอาหารที่สะอาด</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ด้วยราคาาถูก</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์งานฝีมือ</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายกิ๊ฟช็อป</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายของอิเล็กทรอนิกส์</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายสัตว์เลี้ยง</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายภาพวาด</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายตั๋วเครื่องบิน</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์รับสมัครงาน</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายเครื่องสำอาง</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ร้านขายโทรศัพท์</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ขายของใช้ในบ้าน</a>
                </li>
                <li class="col-md-4 col-sm-6 landing-item hidden hidden-item">
                    <a target="_blank" href="/">ออกแบบเว็บไซต์ของใช้สำหรับนักกีฬา</a>
                </li>
            </ul>
        </div>
        <div class="view-more">
            <a href="javascript:;">ดูเพิ่มเติม  +</a>
        </div>
        <div class="hide-more hidden">
            <a href="javascript:;">ยุบ  -</a>
        </div>
    </div>
    <div class="thietkewebsitebanhang-block-7">
        <div class="top-refer-website">
            <div class="container">
                <h2>เว็บไซต์สวยงามต่างๆจากลูกค้าของ Eziwebshop </h2>
                <div class="row hidden-xs">
                    <div class="col-md-4 col-sm-6 refer-item">
                        <!--SE-ED.COM-->
                        <div class="website-item">
                            <div class="item-infomation">
                                <div class="item-thumbnail">
                                    <a href="https://www.se-ed.com/" target="_blank" rel="nofollow" title="sachdoanhnhan">

                                        <img src="~/Content/images/landing/demo1.png" class="item-img" alt="">
                                    </a>
                                </div>
                                <div class="hidden-info">
                                    <div class="description">
                                        เว็บไซต์ช้อปปิ้งที่ครองใจนักช้อปออนไลน์มานานกว่า 8 ปี ด้วยสินค้าที่มีหลากหลายถึง 32 ประเภท รวมล้านกว่าชิ้น
                                        ดึงดูดขาช้อปวันละกว่า 400,000 คน ให้แวะเวียนเข้ามาเลือกสินค้า โดนใจจากกว่า 200,000 ร้านค้า
                                        ระบบการชำระค่าสินค้าที่มั่นใจได้ทุกการใช้จ่ายว่าจะได้รับสินค้าแน่นอนหรือได้รับค่าสินค้าคืน 100%
                                    </div>
                                    <div class="view-zoom">
                                        <a href="https://www.se-ed.com/" class="zoom" target="_blank" rel="nofollow">
                                            <img src="/Content/images/referwebsite/icon-view-zoom.png" alt="https://www.se-ed.com/">
                                        </a>
                                    </div>
                                    <div class="view-detail">
                                        <a href="https://www.se-ed.com/" target="_blank" rel="nofollow" class="btn-registration">
                                            ดูเพิ่มเติม
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="website-name">
                                <a href="https://www.se-ed.com/" target="_blank" rel="nofollow" title="sachdoanhnhan">
                                    se-ed.com
                                </a>
                            </div>
                        </div>
                        <!--SE-ED.COM-->
                    </div>
                    <div class="col-md-4 col-sm-6 refer-item">
                        <!-- chulabook.com-->
                        <div class="website-item">
                            <div class="item-infomation">
                                <div class="item-thumbnail">
                                    <a href="http://www.chulabook.com/home.asp" target="_blank" rel="nofollow" title="chulabook.com">
                                        <img src="~/Content/images/landing/demo2.png" class="item-img" alt="chulabook.com">
                                    </a>
                                </div>
                                <div class="hidden-info">
                                    <div class="description">
                                        เว็บไซต์ช้อปปิ้งที่ครองใจนักช้อปออนไลน์มานานกว่า 8 ปี ด้วยสินค้าที่มีหลากหลายถึง 32 ประเภท รวมล้านกว่าชิ้น
                                        ดึงดูดขาช้อปวันละกว่า 400,000 คน ให้แวะเวียนเข้ามาเลือกสินค้า โดนใจจากกว่า 200,000 ร้านค้า
                                        ระบบการชำระค่าสินค้าที่มั่นใจได้ทุกการใช้จ่ายว่าจะได้รับสินค้าแน่นอนหรือได้รับค่าสินค้าคืน 100%
                                    </div>
                                    <div class="view-zoom">
                                        <a href="http://www.chulabook.com/home.asp" class="zoom" target="_blank" rel="nofollow">

                                            <img src="/Content/images/referwebsite/icon-view-zoom.png" alt="http://www.chulabook.com/home.asp">
                                        </a>
                                    </div>
                                    <div class="view-detail">
                                        <a href="http://www.chulabook.com/home.asp" target="_blank" rel="nofollow" class="btn-registration">
                                            ดูเพิ่มเติม
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="website-name">
                                <a href="http://www.chulabook.com/home.asp" target="_blank" rel="nofollow" title="chulabook.com">
                                    chulabook.com
                                </a>
                            </div>
                        </div>
                        <!-- chulabook.com-->
                    </div>
                    <div class="col-md-4 col-sm-6 refer-item">
                        <!-- ebooks.in-->
                        <div class="website-item">
                            <div class="item-infomation">
                                <div class="item-thumbnail">
                                    <a href="http://www.ebooks.in.th/" target="_blank" rel="nofollow" title="ebooks.in">

                                        <img src="~/Content/images/landing/demo3.png" alt="ebooks.in" class="item-img">
                                    </a>
                                </div>
                                <div class="hidden-info">
                                    <div class="description">
                                        เว็บไซต์ช้อปปิ้งที่ครองใจนักช้อปออนไลน์มานานกว่า 8 ปี ด้วยสินค้าที่มีหลากหลายถึง 32 ประเภท รวมล้านกว่าชิ้น
                                        ดึงดูดขาช้อปวันละกว่า 400,000 คน ให้แวะเวียนเข้ามาเลือกสินค้า โดนใจจากกว่า 200,000 ร้านค้า
                                        ระบบการชำระค่าสินค้าที่มั่นใจได้ทุกการใช้จ่ายว่าจะได้รับสินค้าแน่นอนหรือได้รับค่าสินค้าคืน 100%
                                    </div>
                                    <div class="view-zoom">
                                        <a href="http://www.ebooks.in.th/" class="zoom" target="_blank" rel="nofollow">
                                            <img src="/Content/images/referwebsite/icon-view-zoom.png" alt="http://www.ebooks.in.th/">
                                        </a>
                                    </div>
                                    <div class="view-detail">
                                        <a href="http://www.ebooks.in.th/" target="_blank" rel="nofollow" class="btn-registration">
                                            ดูเพิ่มเติม
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="website-name">
                                <a href="http://www.ebooks.in.th/" target="_blank" rel="nofollow" title="ebooks.in">
                                    ebooks.in
                                </a>
                            </div>
                        </div>
                        <!-- ebooks.in-->
                    </div>
                </div>

                <div class="block-mobile hidden visible-xs">
                    <div class="swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transition-duration: 0;">
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0">
                                <!--SE-ED.COM-->
                                <div class="website-item">
                                    <div class="item-infomation">
                                        <div class="item-thumbnail">
                                            <a href="https://www.se-ed.com/" target="_blank" rel="nofollow" title="sachdoanhnhan">
                                                <img src="~/Content/images/landing/demo1.png" alt="" class="item-img">
                                            </a>
                                        </div>
                                        <div class="hidden-info">
                                            <div class="description">
                                                เว็บไซต์ช้อปปิ้งที่ครองใจนักช้อปออนไลน์มานานกว่า 8 ปี ด้วยสินค้าที่มีหลากหลายถึง 32 ประเภท รวมล้านกว่าชิ้น
                                                ดึงดูดขาช้อปวันละกว่า 400,000 คน ให้แวะเวียนเข้ามาเลือกสินค้า โดนใจจากกว่า 200,000 ร้านค้า
                                                ระบบการชำระค่าสินค้าที่มั่นใจได้ทุกการใช้จ่ายว่าจะได้รับสินค้าแน่นอนหรือได้รับค่าสินค้าคืน 100%
                                            </div>
                                            <div class="view-zoom">
                                                <a href="https://www.se-ed.com/" class="zoom" target="_blank" rel="nofollow">

                                                    <img src="/Content/images/referwebsite/icon-view-zoom.png" alt="https://www.se-ed.com/">
                                                </a>
                                            </div>
                                            <div class="view-detail">
                                                <a href="https://www.se-ed.com/" target="_blank" rel="nofollow" class="btn-registration">
                                                    ดูเพิ่มเติม
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="website-name">
                                        <a href="https://www.se-ed.com/" target="_blank" rel="nofollow" title="sachdoanhnhan">
                                            se-ed.com
                                        </a>
                                    </div>
                                </div>
                                <!--SE-ED.COM-->
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1">
                                <!-- chulabook.com-->
                                <div class="website-item">
                                    <div class="item-infomation">
                                        <div class="item-thumbnail">
                                            <a href="http://www.chulabook.com/home.asp" target="_blank" rel="nofollow" title="">

                                                <img src="~/Content/images/landing/demo2.png" alt="" class="item-img">
                                            </a>
                                        </div>
                                        <div class="hidden-info">
                                            <div class="description">
                                                เว็บไซต์ช้อปปิ้งที่ครองใจนักช้อปออนไลน์มานานกว่า 8 ปี ด้วยสินค้าที่มีหลากหลายถึง 32 ประเภท รวมล้านกว่าชิ้น
                                                ดึงดูดขาช้อปวันละกว่า 400,000 คน ให้แวะเวียนเข้ามาเลือกสินค้า โดนใจจากกว่า 200,000 ร้านค้า
                                                ระบบการชำระค่าสินค้าที่มั่นใจได้ทุกการใช้จ่ายว่าจะได้รับสินค้าแน่นอนหรือได้รับค่าสินค้าคืน 100%
                                            </div>
                                            <div class="view-zoom">
                                                <a href="http://www.chulabook.com/home.asp" class="zoom" target="_blank" rel="nofollow">
                                                    <img src="/Content/images/referwebsite/icon-view-zoom.png" alt="http://www.chulabook.com/home.asp">
                                                </a>
                                            </div>
                                            <div class="view-detail">
                                                <a href="http://www.chulabook.com/home.asp" target="_blank" rel="nofollow" class="btn-registration">
                                                    ดูเพิ่มเติม
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="website-name">
                                        <a href="http://www.chulabook.com/home.asp" target="_blank" rel="nofollow" title="">
                                            chulabook.com
                                        </a>
                                    </div>
                                </div>
                                <!-- chulabook.com-->
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2">
                                <!-- ebooks.in-->
                                <div class="website-item">
                                    <div class="item-infomation">
                                        <div class="item-thumbnail">
                                            <a href="http://www.ebooks.in.th/" target="_blank" rel="nofollow" title="ebooks.in">
                                                <img src="~/Content/images/landing/demo3.png" alt="ebooks.in" class="item-img">
                                            </a>
                                        </div>
                                        <div class="hidden-info">
                                            <div class="description">
                                                เว็บไซต์ช้อปปิ้งที่ครองใจนักช้อปออนไลน์มานานกว่า 8 ปี ด้วยสินค้าที่มีหลากหลายถึง 32 ประเภท รวมล้านกว่าชิ้น
                                                ดึงดูดขาช้อปวันละกว่า 400,000 คน ให้แวะเวียนเข้ามาเลือกสินค้า โดนใจจากกว่า 200,000 ร้านค้า
                                                ระบบการชำระค่าสินค้าที่มั่นใจได้ทุกการใช้จ่ายว่าจะได้รับสินค้าแน่นอนหรือได้รับค่าสินค้าคืน 100%
                                            </div>
                                            <div class="view-zoom">
                                                <a href="http://www.ebooks.in.th/" class="zoom" target="_blank" rel="nofollow">
                                                    <img src="/Content/images/referwebsite/icon-view-zoom.png" alt="http://www.ebooks.in.th/">
                                                </a>
                                            </div>
                                            <div class="view-detail">
                                                <a href="http://www.ebooks.in.th/" target="_blank" rel="nofollow" class="btn-registration">
                                                    ดูเพิ่มเติม
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="website-name">
                                        <a href="http://www.ebooks.in.th/" target="_blank" rel="nofollow" title="ebooks.in">
                                            ebooks.in
                                        </a>
                                    </div>
                                </div>
                                <!-- ebooks.in-->
                            </div>

                            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0">
                                <!--SE-ED.COM-->
                                <div class="website-item">
                                    <div class="item-infomation">
                                        <div class="item-thumbnail">
                                            <a href="https://www.se-ed.com/" target="_blank" rel="nofollow" title="sachdoanhnhan">

                                                <img src="~/Content/images/landing/demo1.png" alt="sachdoanhnhan" class="item-img">
                                            </a>
                                        </div>
                                        <div class="hidden-info">
                                            <div class="description">
                                                เว็บไซต์ช้อปปิ้งที่ครองใจนักช้อปออนไลน์มานานกว่า 8 ปี ด้วยสินค้าที่มีหลากหลายถึง 32 ประเภท รวมล้านกว่าชิ้น
                                                ดึงดูดขาช้อปวันละกว่า 400,000 คน ให้แวะเวียนเข้ามาเลือกสินค้า โดนใจจากกว่า 200,000 ร้านค้า
                                                ระบบการชำระค่าสินค้าที่มั่นใจได้ทุกการใช้จ่ายว่าจะได้รับสินค้าแน่นอนหรือได้รับค่าสินค้าคืน 100%
                                            </div>
                                            <div class="view-zoom">
                                                <a href="https://www.se-ed.com/" class="zoom" target="_blank" rel="nofollow">
                                                    <img src="/Content/images/referwebsite/icon-view-zoom.png" alt="https://www.se-ed.com/">
                                                </a>
                                            </div>
                                            <div class="view-detail">
                                                <a href="https://www.se-ed.com/" target="_blank" rel="nofollow" class="btn-registration">
                                                    ดูเพิ่มเติม
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="website-name">
                                        <a href="https://www.se-ed.com/" target="_blank" rel="nofollow" title="sachdoanhnhan">
                                            se-ed.com
                                        </a>
                                    </div>
                                </div>
                                <!--SE-ED.COM-->
                            </div>

                            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1">
                                <!-- chulabook.com-->
                                <div class="website-item">
                                    <div class="item-infomation">
                                        <div class="item-thumbnail">
                                            <a href="http://chulabook.com/" target="_blank" rel="nofollow" title="">
                                                <img src="~/Content/images/landing/demo2.png" alt="" class="item-img">
                                            </a>
                                        </div>
                                        <div class="hidden-info">
                                            <div class="description">
                                                เว็บไซต์ช้อปปิ้งที่ครองใจนักช้อปออนไลน์มานานกว่า 8 ปี ด้วยสินค้าที่มีหลากหลายถึง 32 ประเภท รวมล้านกว่าชิ้น
                                                ดึงดูดขาช้อปวันละกว่า 400,000 คน ให้แวะเวียนเข้ามาเลือกสินค้า โดนใจจากกว่า 200,000 ร้านค้า
                                                ระบบการชำระค่าสินค้าที่มั่นใจได้ทุกการใช้จ่ายว่าจะได้รับสินค้าแน่นอนหรือได้รับค่าสินค้าคืน 100%
                                            </div>
                                            <div class="view-zoom">
                                                <a href="http://chulabook.com/" class="zoom" target="_blank" rel="nofollow">
                                                    <img src="/Content/images/referwebsite/icon-view-zoom.png" alt="http://chulabook.com/">
                                                </a>
                                            </div>
                                            <div class="view-detail">
                                                <a href="http://chulabook.com/" target="_blank" rel="nofollow" class="btn-registration">
                                                    ดูเพิ่มเติม
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="website-name">
                                        <a href="http://chulabook.com/" target="_blank" rel="nofollow" title="chulabook.com">
                                            chulabook.com
                                        </a>
                                    </div>
                                </div>
                                <!-- chulabook.com-->
                            </div>

                            <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2">
                                <!-- ebooks.in-->
                                <div class="website-item">
                                    <div class="item-infomation">
                                        <div class="item-thumbnail">
                                            <a href="http://www.ebooks.in.th/" target="_blank" rel="nofollow" title="ebooks.in">
                                                <img src="~/Content/images/landing/demo3.png" alt="ebooks.in" class="item-img">
                                            </a>
                                        </div>
                                        <div class="hidden-info">
                                            <div class="description">
                                                เว็บไซต์ช้อปปิ้งที่ครองใจนักช้อปออนไลน์มานานกว่า 8 ปี ด้วยสินค้าที่มีหลากหลายถึง 32 ประเภท รวมล้านกว่าชิ้น
                                                ดึงดูดขาช้อปวันละกว่า 400,000 คน ให้แวะเวียนเข้ามาเลือกสินค้า โดนใจจากกว่า 200,000 ร้านค้า
                                                ระบบการชำระค่าสินค้าที่มั่นใจได้ทุกการใช้จ่ายว่าจะได้รับสินค้าแน่นอนหรือได้รับค่าสินค้าคืน 100%
                                            </div>
                                            <div class="view-zoom">
                                                <a href="http://www.ebooks.in.th/" class="zoom" target="_blank" rel="nofollow">
                                                    <img src="/Content/images/referwebsite/icon-view-zoom.png" alt="http://www.ebooks.in.th/">
                                                </a>
                                            </div>
                                            <div class="view-detail">
                                                <a href="http://www.ebooks.in.th/" target="_blank" rel="nofollow" class="btn-registration">
                                                    ดูเพิ่มเติม
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="website-name">
                                        <a href="http://www.ebooks.in.th/" target="_blank" rel="nofollow" title="ebooks.in">
                                            ebooks.in
                                        </a>
                                    </div>
                                </div>
                                <!-- ebooks.in-->
                            </div>

                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0">
                                <!--SE-ED.COM-->
                                <div class="website-item">
                                    <div class="item-infomation">
                                        <div class="item-thumbnail">
                                            <a href="https://www.se-ed.com/" target="_blank" rel="nofollow" title="sachdoanhnhan">
                                                <img src="~/Content/images/landing/demo1.png" class="item-img">
                                            </a>
                                        </div>
                                        <div class="hidden-info">
                                            <div class="description">
                                                เว็บไซต์ช้อปปิ้งที่ครองใจนักช้อปออนไลน์มานานกว่า 8 ปี ด้วยสินค้าที่มีหลากหลายถึง 32 ประเภท รวมล้านกว่าชิ้น
                                                ดึงดูดขาช้อปวันละกว่า 400,000 คน ให้แวะเวียนเข้ามาเลือกสินค้า โดนใจจากกว่า 200,000 ร้านค้า
                                                ระบบการชำระค่าสินค้าที่มั่นใจได้ทุกการใช้จ่ายว่าจะได้รับสินค้าแน่นอนหรือได้รับค่าสินค้าคืน 100%
                                            </div>
                                            <div class="view-zoom">
                                                <a href="https://www.se-ed.com/" class="zoom" target="_blank" rel="nofollow">
                                                    <img src="/Content/images/referwebsite/icon-view-zoom.png" alt="https://www.se-ed.com/">
                                                </a>
                                            </div>
                                            <div class="view-detail">
                                                <a href="https://www.se-ed.com/" target="_blank" rel="nofollow" class="btn-registration">
                                                    ดูเพิ่มเติม
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="website-name">
                                        <a href="https://www.se-ed.com/" target="_blank" rel="nofollow" title="sachdoanhnhan">
                                            se-ed.com
                                        </a>
                                    </div>
                                </div>
                                <!--SE-ED.COM-->
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1">
                                <!-- chulabook.com-->
                                <div class="website-item">
                                    <div class="item-infomation">
                                        <div class="item-thumbnail">
                                            <a href="http://chulabook.com/" target="_blank" rel="nofollow" title="chulabook.com">

                                                <img src="~/Content/images/landing/demo2.png" alt="chulabook.com" class="item-img">
                                            </a>
                                        </div>
                                        <div class="hidden-info">
                                            <div class="description">
                                                เว็บไซต์ช้อปปิ้งที่ครองใจนักช้อปออนไลน์มานานกว่า 8 ปี ด้วยสินค้าที่มีหลากหลายถึง 32 ประเภท รวมล้านกว่าชิ้น
                                                ดึงดูดขาช้อปวันละกว่า 400,000 คน ให้แวะเวียนเข้ามาเลือกสินค้า โดนใจจากกว่า 200,000 ร้านค้า
                                                ระบบการชำระค่าสินค้าที่มั่นใจได้ทุกการใช้จ่ายว่าจะได้รับสินค้าแน่นอนหรือได้รับค่าสินค้าคืน 100%
                                            </div>
                                            <div class="view-zoom">
                                                <a href="http://chulabook.com/" class="zoom" target="_blank" rel="nofollow">
                                                    <img src="/Content/images/referwebsite/icon-view-zoom.png" alt="http://chulabook.com/">
                                                </a>
                                            </div>
                                            <div class="view-detail">
                                                <a href="http://chulabook.com/" target="_blank" rel="nofollow" class="btn-registration">
                                                    ดูเพิ่มเติม
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="website-name">
                                        <a href="http://chulabook.com/" target="_blank" rel="nofollow" title="chulabook.com">
                                            chulabook.com
                                        </a>
                                    </div>
                                </div>
                                <!-- chulabook.com-->
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2">
                                <!-- ebooks.in-->
                                <div class="website-item">
                                    <div class="item-infomation">
                                        <div class="item-thumbnail">
                                            <a href="http://www.ebooks.in.th/" target="_blank" rel="nofollow" title="ebooks.in">
                                                <img src="~/Content/images/landing/demo3.png" alt="ebooks.in" class="item-img">
                                            </a>
                                        </div>
                                        <div class="hidden-info">
                                            <div class="description">
                                                เว็บไซต์ช้อปปิ้งที่ครองใจนักช้อปออนไลน์มานานกว่า 8 ปี ด้วยสินค้าที่มีหลากหลายถึง 32 ประเภท รวมล้านกว่าชิ้น
                                                ดึงดูดขาช้อปวันละกว่า 400,000 คน ให้แวะเวียนเข้ามาเลือกสินค้า โดนใจจากกว่า 200,000 ร้านค้า
                                                ระบบการชำระค่าสินค้าที่มั่นใจได้ทุกการใช้จ่ายว่าจะได้รับสินค้าแน่นอนหรือได้รับค่าสินค้าคืน 100%
                                            </div>
                                            <div class="view-zoom">
                                                <a href="http://www.ebooks.in.th/" class="zoom" target="_blank" rel="nofollow">
                                                    <img src="/Content/images/referwebsite/icon-view-zoom.png" alt="http://www.ebooks.in.th/">
                                                </a>
                                            </div>
                                            <div class="view-detail">
                                                <a href="http://www.ebooks.in.th/" target="_blank" rel="nofollow" class="btn-registration">
                                                    ดูเพิ่มเติม
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="website-name">
                                        <a href="http://www.ebooks.in.th/" target="_blank" rel="nofollow" title="ebooks.in">
                                            ebooks.in
                                        </a>
                                    </div>
                                </div>
                                <!-- ebooks.in-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <a class="btn-registration" href="@Url.Action("WarehouseInterface","Home")" target="_blank">ดูเว็บไซต์เพิ่มเติม</a>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var referSwiper = new Swiper('.top-refer-website .swiper-container', {
                slidesPerView: 'auto',
                paginationClickable: true,
                spaceBetween: 30,
                autoplay: '5000',
                loop: true
            });
        </script>
    </div>
    <div class="thietkewebsitebanhang-block-8">
        <div class="customer-comment-landing">
            <div class="container">
                <h2>ลูกค้าพูดถึงEziwebshop </h2>
                <p class="desc">ความพึงพอใจของลูกค้าเป็นความสำเร็จที่ยิ่งใหญ่ที่สุดต่อทางเรา</p>
                <div class="col-md-8 col-md-offset-2 list-comment">
                    <div class="swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transform: translate3d(-2190px, 0, 0); transition-duration: 0;">
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="2" style="width: 730px;">
                                <div class="comment-info">
                                    <div class="image-thumb">
                                        <img src="/Content/images/newindex/gento-customer.png">
                                    </div>
                                    <div class="person-info">
                                        คุณนิติพงศ์ เลาหวิศิษฎ์   <a href="http://gento.vn/" target="_blank" rel="nofollow">- http://gento.vn/ -</a>
                                    </div>
                                    <div class="comment-content">
                                        เว็บไซต์Eziwebshopใช้งานง่ายๆ ถึงแม้ว่าตัวเองไม่ใช่คนมีมืออาชีพแต่ก็ยังจัดการเว็บของตัวเองได้
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0" style="width: 730px;">
                                <div class="comment-info">
                                    <div class="image-thumb">
                                        <img src="/Content/images/newindex/bee-customer.png">
                                    </div>
                                    <div class="person-info">
                                        คุณวริศรา รุ่งเรืองวัฒนา  <a href="https://www.beemart.vn/" target="_blank" rel="nofollow">- https://www.beemart.vn/ -</a>
                                    </div>
                                    <div class="comment-content">
                                        ใช้Eziwebshopสร้างเว็บไซต์ช่วยให้ดิฉันเปลี่ยนแปลงวิธิขายสินค้า ไม่ใช้แค่โดยตรงเหมือนเมื่อก่อน แต่ ยังได้ขายบน เว็บไซต์ และ Facebook จำนวนลูกค้าก็เพิ่มขึ้นทุกวัน
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1" style="width: 730px;">
                                <div class="comment-info">
                                    <div class="image-thumb">
                                        <img src="/Content/images/newindex/kangaroo-customer.png">
                                    </div>
                                    <div class="person-info">
                                        คุณนิติพงศ์ เลาหวิศิษฎ์ <a href="http://www.kangaroohanoi.vn/" target="_blank" rel="nofollow">- http://www.kangaroohanoi.vn/ -</a>
                                    </div>
                                    <div class="comment-content">
                                        เป็นคู่ค้าที่ใช้บริการของ Eziwebshopมานาม ผมได้เห็นถึงความเป็นมืออาชีพและความกระตือรือร้นของบริษัทEziwebshop
                                        ขอให้ Eziwebshopจะพัฒนาอย่างยิ่งใหญ่ต่อไป
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
                    <div class="swiper-button-prev hidden-sm hidden-xs"></div>
                    <div class="swiper-button-next hidden-sm hidden-xs"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var blockComment = new Swiper('.customer-comment-landing .swiper-container', {
                pagination: '.customer-comment-landing .swiper-pagination',
                paginationClickable: true,
                nextButton: '.customer-comment-landing .swiper-button-next',
                prevButton: '.customer-comment-landing .swiper-button-prev',
                autoplay: '5000',
                loop: true
            });
        </script>
    </div>
    <div class="thietkewebsitebanhang-block-9">
        <div class="block-register">
            <div class="container">
                <h3>ทำยังไงให้เพิ่มยอดขายได้ ?</h3>
                <span class="sub-text">สมัครรับเว็บไซต์ขายสินค้าฟรีตอนนี้</span>
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 button-block">
                    <a class="btn-registration banner-home-registration event-Bizweb-Free-Trial-form-open" href="https://docs.google.com/forms/d/e/1FAIpQLSdKdRFC-CPzPXqXYC38397zBF98j8ER2C6IcU0vqhOnB62PIg/viewform">สมัครตอนนี้</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts
 {
    <script type="text/javascript">
        var flagTop = false;
        var flagBot = false;

        $(function () {
            $(".thietkewebsitebanhang-block-6 .view-more").click(function () {
                $(".thietkewebsitebanhang-block-6 li").removeClass("hidden");
                $(".thietkewebsitebanhang-block-6 .hide-more").removeClass("hidden");
                $(".thietkewebsitebanhang-block-6 .view-more").addClass("hidden");
                $(".thietkewebsitebanhang-block-6 li:nth-of-type(9)").removeClass("hidden-sm");
            });

            $(".thietkewebsitebanhang-block-6 .hide-more").click(function () {
                $(".thietkewebsitebanhang-block-6 li.hidden-item").addClass("hidden");
                $(".thietkewebsitebanhang-block-6 .hide-more").addClass("hidden");
                $(".thietkewebsitebanhang-block-6 .view-more").removeClass("hidden");
                $(".thietkewebsitebanhang-block-6 li:nth-of-type(9)").addClass("hidden-sm");
            });

            $(".block-mobile .block-info .title").each(function () {
                $(this).click(function () {
                    $(".block-mobile .block-info .title .fa-plus").removeClass("hidden");
                    $(".block-mobile .block-info .title .fa-minus").removeClass("hidden").addClass("hidden");
                    $(".block-mobile .block-info .content").removeClass("hidden").addClass("hidden");

                    $(this).find(".fa-plus").toggleClass("hidden");
                    $(this).find(".fa-minus").toggleClass("hidden");
                    $(this).parent().find(".content").toggleClass("hidden");
                });
            });

            $(".thietkewebsitebanhang-block-2 .scroll-down-button").click(function () {
                $('html, body').animate({
                    scrollTop: $(".thietkewebsitebanhang-block-3").offset().top
                }, 500);
            });

            $(".thietkewebsitebanhang-block-4 .scroll-down-button").click(function () {
                $('html, body').animate({
                    scrollTop: $(".thietkewebsitebanhang-block-5").offset().top
                }, 500);
            });

            $(".thietkewebsitebanhang-block-5 .scroll-down-button").click(function () {
                $('html, body').animate({
                    scrollTop: $(".thietkewebsitebanhang-block-6").offset().top
                }, 500);
            });
        });

        if ($(window).width() < 1199) {
            var blockSwiper1 = new Swiper('.thietkewebsitebanhang-block-1 .swiper-container', {
                pagination: '.thietkewebsitebanhang-block-1 .swiper-pagination',
                slidesPerView: 1,
                paginationClickable: true,
                nextButton: '.thietkewebsitebanhang-block-1 .swiper-button-next',
                prevButton: '.thietkewebsitebanhang-block-1 .swiper-button-prev',
                autoplay: '20000',
                loop: true
            });
        }
        else {
            var blockSwiper1 = new Swiper('.thietkewebsitebanhang-block-1 .swiper-container', {
                pagination: '.thietkewebsitebanhang-block-1 .swiper-pagination',
                slidesPerView: 2,
                paginationClickable: true,
                nextButton: '.thietkewebsitebanhang-block-1 .swiper-button-next',
                prevButton: '.thietkewebsitebanhang-block-1 .swiper-button-prev',
                autoplay: '20000',
                loop: true,
                preventClicks: false,
                preventClicksPropagation: false,
                simulateTouch: false
            });
        }

        var blockSwiper5 = new Swiper('.thietkewebsitebanhang-block-5 .swiper-container', {
            pagination: '.thietkewebsitebanhang-block-5 .swiper-pagination',
            slidesPerView: 1,
            paginationClickable: true,
            autoplay: '5000'
        });

        var blockSwiper2 = new Swiper('.thietkewebsitebanhang-block-2 .swiper-container', {
            pagination: '.thietkewebsitebanhang-block-2 .swiper-pagination',
            slidesPerView: 1,
            paginationClickable: true,
            nextButton: '.thietkewebsitebanhang-block-2 .swiper-button-next',
            prevButton: '.thietkewebsitebanhang-block-2 .swiper-button-prev',
            loop: true,
            autoplay: '20000',
            preventClicks: false,
            preventClicksPropagation: false,
            simulateTouch: false
        });

        var $animation_elements = $('.animation-element');
        var $window = $(window);

        function check_if_in_view() {
            var window_height = $window.height();
            var window_top_position = $window.scrollTop();
            var window_bottom_position = (window_top_position + window_height);

            $.each($animation_elements, function () {
                var $element = $(this);
                var element_height = $element.outerHeight();
                var element_top_position = $element.offset().top;
                var element_bottom_position = (element_top_position + element_height);

                //check to see if this current container is within viewport
                if ((element_bottom_position >= window_top_position) &&
                    (element_top_position <= window_bottom_position)) {
                    $element.addClass('in-view');
                } else {
                    $element.removeClass('in-view');
                }
            });
        }

        $window.on('scroll resize', check_if_in_view);
        $window.trigger('scroll');
    </script>
}