@{
    Layout = "~/Views/Shared/_LayoutMarketing.cshtml";

}
@section styles
{
    
@*<link href="~/Content/css-marketing/031a761e2b05d2bed213fd1f07412755.css" rel="stylesheet" />*@
<link href="~/Content/css-marketing/css-vs-z.com.css" rel="stylesheet" />
}
<div class="page-block" id="page-block-l9n2bwguaxg">
    <div class="color-overlay"></div>
    <div class="border-holder">
        <div class="block-inner">
            <div class="page-element widget-container page-element-type-line-horizontal widget-line-horizontal "
                 id="element-680">

                <div class="line-horizontal" style="width: auto; height: 10px; border-bottom: 3px solid #fdd7b9;"></div>
            </div>

            <div class="page-element widget-container page-element-type-timer widget-timer "
                 id="element-379">

                <div id="timer-widget-379" class="widget-container widget-timer">
                    <div class="timer labels-bottom eng ">
                        <div class="timer-labels">
                            <div class="timer-label first-label">DAYS</div>
                            <div class="timer-label">HOURS</div>
                            <div class="timer-label">MINUTES</div>
                            <div class="timer-label">SECONDS</div>
                        </div>
                        <div class="days timer-box">
                            <span class="timer-values"></span>
                        </div>
                        <div class="colon">
                            <div class="colon-top"></div>
                            <div class="colon-bottom"></div>
                        </div>
                        <div class="hours timer-box">
                            <span class="timer-values"></span>
                        </div>
                        <div class="colon">
                            <div class="colon-top"></div>
                            <div class="colon-bottom"></div>
                        </div>
                        <div class="minutes timer-box">
                            <span class="timer-values"></span>
                        </div>
                        <div class="colon">
                            <div class="colon-top"></div>
                            <div class="colon-bottom"></div>
                        </div>
                        <div class="seconds timer-box">
                            <span class="timer-values"></span>
                        </div>
                    </div>
                </div>


            </div>

            <div class="page-element widget-container page-element-type-box widget-box "
                 id="element-278">
                <div class="box" style="width: 100%; height: 100%; background-color: #ffffff; border-radius: 10px 10px 10px 10px; opacity: 1; filter:alpha(opacity=100);"></div>
            </div>

            <div class="page-element widget-container page-element-type-headline widget-headline "
                 id="element-280">

                <div class="contents"><h1><p style="text-align: center;  "><b><font color="#13489f">THỜI GIAN NHẬN </font></b><b style="background-color: transparent; font-style: inherit;"><font color="#13489f">ƯU ĐÃI</font></b></p></h1></div>
            </div>

            <div class="page-element widget-container page-element-type-headline widget-headline "
                 id="element-677">

                <div class="contents"><h1><p><i><b>Khuyến mãi siêu khủng</b></i></p><p><i><b>Rủng rỉnh doanh thu</b></i></p></h1></div>
            </div>

            <div class="page-element widget-container page-element-type-button widget-button "
                 id="element-448">

                <div class="conversion_wrapper">
                    <a href=""
                       class="popup-link" id="link-yz7qrbgsyxk6xmodmq23s1yvi"
                       style="width: 249px; height: 52px;"
                       data-wid="448">

                        <div class="btn submit-button button_submit dynamic-button">Nhận ngay khuyến mại</div>
                    </a>
                </div>
            </div>

            <div class="popup modal fade" id="popup-yz7qrbgsyxk6xmodmq23s1yvi">
                <div class="popup-inner modal-dialog modal-dialog-center">
                    <div class="popup-close-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" preserveAspectRatio><circle class="circle-outer" cx="13" cy="13" r="13" /><circle class="circle-inner" cx="13" cy="13" r="11" /><path class="close-icon" d="M17.764 16.62l-1.144 1.144c-.158.157-.348.236-.573.236-.224 0-.415-.08-.572-.236L13 15.29l-2.475 2.474c-.157.157-.348.236-.572.236-.225 0-.415-.08-.573-.236L8.236 16.62C8.08 16.462 8 16.272 8 16.047c0-.224.08-.415.236-.572L10.71 13l-2.474-2.475C8.08 10.368 8 10.177 8 9.953c0-.225.08-.415.236-.573L9.38 8.236C9.538 8.08 9.728 8 9.953 8c.224 0 .415.08.572.236L13 10.71l2.475-2.474c.157-.157.348-.236.572-.236.225 0 .415.08.573.236l1.144 1.144c.157.158.236.348.236.573 0 .224-.08.415-.236.572L15.29 13l2.474 2.475c.157.157.236.348.236.572 0 .225-.08.415-.236.573z" /></svg>
                    </div>
                    <div class="modal-content">
                        <div class="page-element widget-container page-element-type-html widget-html "
                             id="element-705">

                            <div class="contents">
                                <iframe id="iFrameRegistration" width="100%" height="700" scrolling="no" frameborder="0" style="border: none;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-element widget-container page-element-type-headline widget-headline "
                 id="element-667">

                <div class="contents"><h1><p><b>HƠN <font color="#fcff00">4</font> TỶ ĐỒNG</b></p></h1></div>
            </div>

            <div class="page-element widget-container page-element-type-line-horizontal widget-line-horizontal "
                 id="element-500">

                <div class="line-horizontal" style="width: auto; height: 10px; border-bottom: 1px dashed #a8a8a8;"></div>
            </div>

            <div class="page-element widget-container page-element-type-headline widget-headline "
                 id="element-681">

                <div class="contents"><h1><p><font color="#ffffff">Bizweb "bắt tay" Z.com</font></p></h1></div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text "
                 id="element-666">

                <div class="contents"><p>Với 500 tên miền .shop&nbsp;&amp; chứng chỉ SSL miễn phí</p></div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text "
                 id="element-698">

                <div class="contents"><p>Vì&nbsp;sự phát triển của thương mại điện tử Việt Nam,&nbsp;tổng giá trị hỗ trợ lên tới</p></div>
            </div>
        </div>
    </div>
</div>

<div class="page-block" id="page-block-xw3vdpd5roe5wnpdwthntgldi">
    <div class="color-overlay"></div>
    <div class="border-holder">
        <div class="block-inner">
            <div class="page-element widget-container page-element-type-headline widget-headline "
                 id="element-703">

                <div class="contents"><h1><p style="text-align: center;  "><b>Chỉ cần đăng kí sử dụng Bizweb là bạn đã được nhận...</b></p></h1></div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text "
                 id="element-704">

                <div class="contents"><p style="text-align: center;  "><font color="#000000">Từ ngày 3/1/2017 đến ngày 24/1/2017,</font></p></div>
            </div>
        </div>
    </div>
</div>
<div class="page-block" id="page-block-agthc2o3jd7gmc7lpohsyk3xr">
    <div class="color-overlay"></div>
    <div class="border-holder">
        <div class="block-inner">
            <div class="page-element widget-container page-element-type-headline widget-headline "
                 id="element-514">

                <div class="contents"><h1><p style="text-align: center;  "><font color="#13489f"><b>500 TÊN MIỀN .SHOP </b></font></p><p style="text-align: center;  "><font color="#13489f"><b>TRỊ GIÁ 890,000 ĐỒNG</b></font></p></h1></div>
            </div>

            <div class="page-element widget-container page-element-type-headline widget-headline "
                 id="element-523">

                <div class="contents"><h1><p style="text-align: center;  "><font color="#13489f"><b><a href="https://www.bizweb.vn/ssl.html" rel="null" type="url" id="link-yf83yrwcoabvdvpv7ark3ayvi" class="url-link" target="_blank">HỖ TRỢ SSL </a></b></font></p><p style="text-align: center;  "><font color="#13489f"><b><a href="https://www.bizweb.vn/ssl.html" rel="null" type="url" id="link-yf83yrwcoabvdvpv7ark3ayvi1" class="url-link" target="_blank">MIỄN PHÍ</a></b></font></p></h1></div>
            </div>

            <div class="page-element widget-container page-element-type-image widget-image "
                 id="element-502">

                <div class="contents">
                    <img src="~/Content/image-marketing/landingpage/11335923-0-icon1.png"
                         style="height: 100%; width: 100%; margin-top: 0px;"
                         alt="" />
                </div>
            </div>

            <div class="page-element widget-container page-element-type-box widget-box "
                 id="element-519">

                <div class="box" style="width: 100%; height: 100%; background-color: #ffffff; border-radius: 0px 0px 0px 0px; opacity: 1; filter:alpha(opacity=100); background-repeat: repeat; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-position: top left;"></div>
            </div>

            <div class="page-element widget-container page-element-type-headline widget-headline "
                 id="element-503">

                <div class="contents"><h1><p style="text-align: center;  "><font color="#13489f"><b>30 THÁNG </b></font></p><p style="text-align: center;  "><font color="#13489f"><b>SỬ DỤNG WEBSITE</b></font></p></h1></div>
            </div>

            <div class="page-element widget-container page-element-type-box widget-box "
                 id="element-501">

                <div class="box" style="width: 100%; height: 100%; background-color: #ffffff; border-radius: 0px 0px 0px 0px; opacity: 1; filter:alpha(opacity=100); background-repeat: repeat; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-position: top left;"></div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text "
                 id="element-504">

                <div class="contents">
                    <p style="text-align: center;  ">500 khách hàng đăng ký Bizweb&nbsp;đầu tiên được tặng thêm&nbsp;đến 30 tháng&nbsp;</p><p style="text-align: center;  ">
                        sử dụng website miễn phí, trị giá
                        5,995,000 đồng*.
                    </p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text "
                 id="element-516">

                <div class="contents"><p style="text-align: center;  ">Với tên miền .shop từ Z.com, nhà cung cấp tên miền số 1 Nhật Bản, website của bạn sẽ nổi bật trong mắt khách hàng và trên Google.</p></div>
            </div>

            <div class="page-element widget-container page-element-type-box widget-box "
                 id="element-510">

                <div class="box" style="width: 100%; height: 100%; background-color: #ffffff; border-radius: 0px 0px 0px 0px; opacity: 1; filter:alpha(opacity=100); background-repeat: repeat; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-position: top left;"></div>
            </div>

            <div class="page-element widget-container page-element-type-image widget-image "
                 id="element-521">

                <div class="contents">
                    <div class='cropped' alt=""></div>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-image widget-image "
                 id="element-512">

                <div class="contents">
                    <div class='cropped' alt=""></div>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text "
                 id="element-525">

                <div class="contents"><p style="text-align: center;  ">SSL giúp website của bạn an toàn, bảo mật trước sự&nbsp;tấn công của virus/hacker. Đồng thời hỗ trợ SEO dễ dàng hơn.</p></div>
            </div>
        </div>
    </div>
</div>
<div class="page-block" id="page-block-697jqxmqmu8won2dndzvkj4i">
    <div class="color-overlay"></div>
    <div class="border-holder">
        <div class="block-inner">
            <div class="page-element widget-container page-element-type-text widget-text "
                 id="element-353">

                <div class="contents"><p style="text-align: center;  "><font color="#ffffff"><b>Chương trình ưu đãi chỉ dành cho 500 khách hàng đăng ký sớm nhất ! </b></font></p></div>
            </div>

            <div class="page-element widget-container page-element-type-button widget-button "
                 id="element-354">

                <div class="conversion_wrapper">
                    <a href=""
                       class="popup-link" id="link-zfhlgn0fyhbr2zy9anjkmx6r"
                       style="width: 225px; height: 52px;"
                       data-wid="354">

                        <div class="btn submit-button button_submit dynamic-button   ">Nhận ngay khuyến mại</div>
                    </a>
                </div>
            </div>

            <div class="popup modal fade" id="popup-zfhlgn0fyhbr2zy9anjkmx6r">
                <div class="popup-inner modal-dialog modal-dialog-center">
                    <div class="popup-close-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" preserveAspectRatio><circle class="circle-outer" cx="13" cy="13" r="13" /><circle class="circle-inner" cx="13" cy="13" r="11" /><path class="close-icon" d="M17.764 16.62l-1.144 1.144c-.158.157-.348.236-.573.236-.224 0-.415-.08-.572-.236L13 15.29l-2.475 2.474c-.157.157-.348.236-.572.236-.225 0-.415-.08-.573-.236L8.236 16.62C8.08 16.462 8 16.272 8 16.047c0-.224.08-.415.236-.572L10.71 13l-2.474-2.475C8.08 10.368 8 10.177 8 9.953c0-.225.08-.415.236-.573L9.38 8.236C9.538 8.08 9.728 8 9.953 8c.224 0 .415.08.572.236L13 10.71l2.475-2.474c.157-.157.348-.236.572-.236.225 0 .415.08.573.236l1.144 1.144c.157.158.236.348.236.573 0 .224-.08.415-.236.572L15.29 13l2.474 2.475c.157.157.236.348.236.572 0 .225-.08.415-.236.573z" /></svg>
                    </div>
                    <div class="modal-content">
                        <div class="page-element widget-container page-element-type-html widget-html "
                             id="element-707">

                            <div class="contents"><iframe id="iFrameRegistration" width="100%" height="700" scrolling="no" frameborder="0" style="border: none;"></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-element widget-container page-element-type-text widget-text "
                 id="element-491">

                <div class="contents"><p style="text-align: center;  "><font color="#ffffff">Thời gian không còn nhiều, click "Nhận ngay khuyến mại"&nbsp;</font>để được sở hữu&nbsp;những phần quà&nbsp;</p><p style="text-align: center;  ">giá trị&nbsp;lên&nbsp;đến<b> 7 triệu đồng</b> cho mỗi khách hàng!&nbsp;</p></div>
            </div>
        </div>
    </div>
</div>
<div class="page-block" id="page-block-bgr5wcup7rvkre8ppukjfw29">
    <div class="color-overlay"></div>
    <div class="border-holder">
        <div class="block-inner">
            <div class="page-element widget-container page-element-type-headline widget-headline "
                 id="element-693">

                <div class="contents"><h1><p><font color="#13499f"><a href="https://www.bizweb.vn/ssl.html" rel="null" type="url" id="link-zsd88n2nxa1cdct3nszv3g14i" class="url-link">Bảo mật thông tin và gia tăng uy tín với SSL</a></font></p></h1></div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text "
                 id="element-691">

                <div class="contents"><p>SSL&nbsp;giống như một tấm lá chắn, bảo vệ website của bạn trước sự tấn công của virus, hacker. Mọi thông tin khách hàng nhập lên website của bạn và ngược lại, đều sẽ được mã hóa để&nbsp;bảo mật. Từ đó làm tăng tính tin tưởng cho website và thương hiệu của bạn.</p></div>
            </div>

            <div class="page-element widget-container page-element-type-image widget-image "
                 id="element-526">

                <div class="contents">
                    <img src="~/Content/image-marketing/landingpage/11338473-0-icon-4.png"
                         style="height: 100%; width: 100%; margin-top: 0px;"
                         alt="" />
                </div>
            </div>

            <div class="page-element widget-container page-element-type-headline widget-headline "
                 id="element-496">

                <div class="contents"><h1><p style="text-align: center;  "><font color="#0d6bd4"><b style="background-color: transparent; font-style: inherit;">Hãy trở thành những người đầu tiên sở hữu tên miền .shop và SSL ở Việt Nam!</b><br></font></p><p style="text-align: center;  "><font color="#333333"><br></font></p></h1></div>
            </div>

            <div class="page-element widget-container page-element-type-image widget-image "
                 id="element-539">

                <div class="contents">
                    <div class='cropped' alt=""></div>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-headline widget-headline" id="element-692">
                <div class="contents"><h1><p><font color="#13499f">Thu hút mọi khách hàng bằng tên miền .Shop</font></p></h1></div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text" id="element-548">

                <div class="contents">
                    <p>
                        <font color="#333333">Với tên miền .shop website của bạn ngay lập tức tạo ấn tượng đối với khách hàng. Đây là tên miền dễ đọc, dễ nhớ và chuyên nghiệp dành riêng cho các website thương mại điện tử. T</font><span style="color: rgb(51, 51, 51);">ên miền là món quà từ Z.com, nhà cung cấp số 1&nbsp;Nhật Bản nên bạn hoàn toàn yên tâm vào tính ổn định và bảo mật.</span>
                    </p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-headline widget-headline "
                 id="element-694">

                <div class="contents"><h1><p style="text-align: center;  ">Với chương trình khuyến mại từ Bizweb và Z.com</p></h1></div>
            </div>
        </div>
    </div>
</div>
<div class="page-block" id="page-block-op9en2wzxkwzta01b9x3qsemi">
    <div class="color-overlay"></div>
    <div class="border-holder">
        <div class="block-inner">
            <div class="page-element widget-container page-element-type-text widget-text "
                 id="element-696">

                <div class="contents">
                    <p>
                        <font color="#ffffff">- Chương trình áp dụng cho khách hàng ký mới hoặc gia hạn Bizweb Sky từ gói eGold trở lên.</font>
                    </p>
                    <p>
                        <font color="#ffffff">- Không áp dụng đồng thời với các CTKM khác như bán theo combo, tặng tháng trên bảng giá hiện hành hoặc voucher...</font>
                    </p>
                    <p>
                        <font color="#ffffff">- Tên miền .shop không có giá trị quy đổi thành tiền và các tên miền khác</font>
                    </p>
                    <p>
                        <font color="#ffffff">- Khách hàng ký mới/gia hạn Bizweb gói eDiamond, ePlatinum và eGold lần lượt được tặng thêm 30 tháng, 22 tháng và 12 tháng sử &nbsp; dụng website miễn phí.</font>
                    </p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-headline widget-headline "
                 id="element-697">

                <div class="contents">
                    <h1>
                        <p style="text-align: left;">
                            <b><font color="#ffffff">*Lưu ý :</font></b>
                        </p>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
 
