@{
    ViewBag.Title = "IndexPromotion";
    Layout = "~/Views/Shared/_LayoutMarketing.cshtml";
}
@section styles
{
    <link href="~/Content/css-marketing/style2.css" rel="stylesheet" />
}

<div class="page-block" id="page_block_below_fold">
    <div class="color-overlay"></div>
    <div class="border-holder">
        <div class="block-inner">
            <div class="page-element widget-container page-element-type-line-horizontal widget-line-horizontal " id="element-633">

                <div class="line-horizontal" style="width: auto; height: 10px; border-bottom: 6px solid #ffff00;"></div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-21">

                <div class="contents">
                    <p><font color="#ffffff">Bán hàng khắp nơi trên Internet với eziwebshop.com </font><font color="#ffef00">.TẶNG NGAY</font><font color="#ffffff"> tiền mặt, </font><span style="color: rgb(255, 255, 255);"> sử dụng đến 03 tháng miễn phí trải nhiệm hệ thống Shop bán hàng đa nền tảng trên eziwebshop.com</span></p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-headline widget-headline " id="element-663">

                <div class="contents">
                    <h1>
                        <p>
                            <font color="#ffffff"><b>ĐĂNG KÝ NHẬN WEBSITE BÁN HÀNG MIỄN PHÍ</b></font>
                        </p>
                    </h1>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-headline widget-headline " id="element-635">

                <div class="contents">
                    <h1>
                        <p>
                            <font color="#ffef00">Hơn 3 triệu Bath</font>
                        </p>
                    </h1>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-button widget-button " id="element-658">

                <div class="conversion_wrapper">
                    <a href="" class="popup-link" id="link-a0qcsjambucmvc92h0tbro1or" style="width: 230px; height: 53px;" data-wid="658">

                        <div class="btn submit-button button_submit dynamic-button">Đăng ký ngay</div>
                    </a>
                </div>
            </div>

            <div class="popup modal fade" id="popup-a0qcsjambucmvc92h0tbro1or">
                <div class="popup-inner modal-dialog modal-dialog-center">
                    <div class="popup-close-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" preserveAspectRatio=""><circle class="circle-outer" cx="13" cy="13" r="13"></circle><circle class="circle-inner" cx="13" cy="13" r="11"></circle><path class="close-icon" d="M17.764 16.62l-1.144 1.144c-.158.157-.348.236-.573.236-.224 0-.415-.08-.572-.236L13 15.29l-2.475 2.474c-.157.157-.348.236-.572.236-.225 0-.415-.08-.573-.236L8.236 16.62C8.08 16.462 8 16.272 8 16.047c0-.224.08-.415.236-.572L10.71 13l-2.474-2.475C8.08 10.368 8 10.177 8 9.953c0-.225.08-.415.236-.573L9.38 8.236C9.538 8.08 9.728 8 9.953 8c.224 0 .415.08.572.236L13 10.71l2.475-2.474c.157-.157.348-.236.572-.236.225 0 .415.08.573.236l1.144 1.144c.157.158.236.348.236.573 0 .224-.08.415-.236.572L15.29 13l2.474 2.475c.157.157.236.348.236.572 0 .225-.08.415-.236.573z"></path></svg>
                    </div>
                    <div class="modal-content">
                        <div class="page-element widget-container page-element-type-html widget-html " id="element-710">

                            <div class="contents">
                                <iframe id="iFrameRegistration" width="100%" height="700" scrolling="no" frameborder="0" style="border: none;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-element widget-container page-element-type-headline widget-headline " id="element-636">

                <div class="contents">
                    <h1>
                        <p>
                            <font color="#ffffff">Tổng giá trị khuyến mại </font>
                        </p>
                    </h1>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-image widget-image " id="element-696">

                <div class="contents">
                    <div class="cropped" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-block" id="page-block-c2ifrlnh7xivbavovg1p58kt9">
    <div class="color-overlay"></div>
    <div class="border-holder">
        <div class="block-inner">
            <div class="page-element widget-container page-element-type-headline widget-headline " id="element-644">
                <div class="contents">
                    <h1>
                        <p style="text-align: center;">Đăng ký sử dụng Eziwebshop.com để nhận ngay shop bán hàng miễn phí</p>
                    </h1>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-645">
                <div class="contents">
                    <p style="text-align: center;">
                        <font color="#000000">Từ ngày 12/02/2017 đến ngày 28/02/2017</font>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-block" id="page-block-5r5x5ssyv3676d37wzu6p3nmi">
    <div class="color-overlay"></div>
    <div class="border-holder">
        <div class="block-inner">
            <div class="page-element widget-container page-element-type-headline widget-headline " id="element-668">
                <div class="contents"><h3><p style="text-align: left;">Hãy trở thành nhà kinh doanh thông minh sử dụng <a href="#" rel="null" type="url" id="link-eygyhgfnuaex68sw0gez71ra4i" class="url-link" target="_blank"><b>Shop bán hàng</b></a> ở Thái Land với chương trình khuyến mại từ Eziwebshop!</p></h3></div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-411">
                <div class="contents"><p style="text-align: left;  "><font color="#606060">Hỗ trợ các công cụ Marketing, từ đó giúp tăng hiệu quả SEO cho website của bạn đến được với khách hàng.</font></p></div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-89">
                <div class="contents"><p style="text-align: center;  "><font color="#606060">1000 khách hàng đầu tiên đăng ký được được nhận miễn phí sử dụng 01 giao diện Shop bán hàng theo lĩnh vực kinh doanh miễn phí.</font><br></p></div>
            </div>

            <div class="page-element widget-container page-element-type-image widget-image " id="element-703">
                <div class="contents">
                    <img src="~/Content/image-marketing/landingpage/12003988-0-icon-2.png" style="height: 100%; width: 100%; margin-top: 0px;" alt="">
                </div>
            </div>

            <div class="page-element widget-container page-element-type-headline widget-headline " id="element-499">
                <div class="contents"><h3><p style="text-align: center;  "><font color="#1e87d2">Tặng 03 tháng</font><span style="color: rgb(30, 135, 210);">&nbsp;</span></p><p style="text-align: center;  "><span style="color: rgb(30, 135, 210);">sử dụng&nbsp;</span><span style="color: rgb(30, 135, 210);">website&nbsp;</span></p></h3></div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-640">
                <div class="contents"><p style="text-align: left;  ">Giúp bạn:</p></div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-501">
                <div class="contents"><p style="text-align: center;  "><font color="#606060">Tặng ngay từ 9 đến 24 tháng dùng website khi đăng ký sử dụng Eziwebshop từ gói eGold trở lên, trị giá lên tới 4,796,000 đồng.</font></p></div>
            </div>

            <div class="page-element widget-container page-element-type-image widget-image " id="element-697">
                <div class="contents">
                    <img src="~/Content/image-marketing/landingpage/12002288-0-sp-2.png" style="height: 100%; width: 100%; margin-top: 0px;" alt="">
                </div>
            </div>

            <div class="page-element widget-container page-element-type-headline widget-headline " id="element-307">
                <div class="contents">
                    <a href="/Home/SalientFeatures">
                        <h3><p style="text-align: center;  "><font color="#1e87d2">Nhiều tính năng hỗ trợ</font></p><p style="text-align: center;  "><font color="#1e87d2"> quản lý bán hàng</font></p></h3>
                    </a>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-headline widget-headline " id="element-86">
                <div class="contents">
                    <h1>
                        <a href="/Home/WarehouseInterface">
                            <p style="text-align: center;"><font color="#1e87d2">Hàng trăm giao diện </font></p><p style="text-align: center;  "><font color="#1e87d2"><span style="background-color: transparent; font-style: inherit;">Shop </span><span style="background-color: transparent; font-style: inherit;">bán hàng</span></font></p>
                        </a>
                    </h1>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-headline widget-headline " id="element-405">
                <div class="contents"><h3><p style="text-align: left;  "><font color="#1e87d2">Đặc biệt, Những tính năng nổi bật&nbsp;</font></p><p style="text-align: left;  ">trên eziwebshop.com&nbsp;</p></h3></div>
            </div>

            <div class="page-element widget-container page-element-type-image widget-image " id="element-550">
                <div class="contents">
                    <img src="~/Content/image-marketing/landingpage/8932273-0-Check.png" style="height: 100%; width: 100%; margin-top: 0px;" alt="">
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-407">
                <div class="contents">
                    <p style="text-align: left;  ">
                        <font color="#606060">
                            Tùy ý lựa chọn và tùy chỉnh giao diện Shop bán hàng của bạn. Kho giao diện Shop bán hàng phong phú được thiết kế
                            phù hợp với từng sản phẩm.
                        </font>
                    </p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-666">
                <div class="contents">
                    <p style="text-align: center;  ">
                        <font color="#606060">Nhiều tính năng tích hợp và hỗ trợ quản lý bán hàng qua Facebook, công cụ SEO Google giúp website bán hàng của bạn sẽ được nhiều khách hàng biết đến.</font>
                    </p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-image widget-image " id="element-548">
                <div class="contents">
                    <img src="~/Content/image-marketing/landingpage/8932273-0-Check.png" style="height: 100%; width: 100%; margin-top: 0px;" alt="">
                </div>
            </div>

            <div class="page-element widget-container page-element-type-button widget-button " id="element-669">
                <div class="conversion_wrapper">
                    <a href="" class="popup-link" id="link-pne4o4c3z3p92jmsn55ng66r" style="width: 230px; height: 53px;" data-wid="669">
                        <div class="btn submit-button button_submit dynamic-button   ">Đăng ký ngay</div>
                    </a>
                </div>
            </div>


            <div class="popup modal fade" id="popup-pne4o4c3z3p92jmsn55ng66r">
                <div class="popup-inner modal-dialog modal-dialog-center">
                    <div class="popup-close-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" preserveAspectRatio=""><circle class="circle-outer" cx="13" cy="13" r="13"></circle><circle class="circle-inner" cx="13" cy="13" r="11"></circle><path class="close-icon" d="M17.764 16.62l-1.144 1.144c-.158.157-.348.236-.573.236-.224 0-.415-.08-.572-.236L13 15.29l-2.475 2.474c-.157.157-.348.236-.572.236-.225 0-.415-.08-.573-.236L8.236 16.62C8.08 16.462 8 16.272 8 16.047c0-.224.08-.415.236-.572L10.71 13l-2.474-2.475C8.08 10.368 8 10.177 8 9.953c0-.225.08-.415.236-.573L9.38 8.236C9.538 8.08 9.728 8 9.953 8c.224 0 .415.08.572.236L13 10.71l2.475-2.474c.157-.157.348-.236.572-.236.225 0 .415.08.573.236l1.144 1.144c.157.158.236.348.236.573 0 .224-.08.415-.236.572L15.29 13l2.474 2.475c.157.157.236.348.236.572 0 .225-.08.415-.236.573z"></path></svg>
                    </div>
                    <div class="modal-content">
                        <div class="page-element widget-container page-element-type-html widget-html " id="element-711">
                            <div class="contents">
                                <iframe id="iFrameRegistration" width="100%" height="700" scrolling="no" frameborder="0" style="border: none;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-408">
                <div class="contents"><p style="text-align: left;  "><font color="#606060">Xử lý đơn hàng dễ dàng, đồng bộ quản lý đơn hàng trên Shop bán hàng và tài khoản Facebook bán hàng của bạn.</font></p></div>
            </div>

            <div class="page-element widget-container page-element-type-image widget-image " id="element-702">
                <div class="contents">
                    <img src="~/Content/image-marketing/landingpage/12003983-0-icon-1.png" style="height: 100%; width: 100%; margin-top: 0px;" alt="">
                </div>
            </div>

            <div class="page-element widget-container page-element-type-image widget-image " id="element-549">
                <div class="contents">
                    <img src="~/Content/image-marketing/landingpage/8932273-0-Check.png" style="height: 100%; width: 100%; margin-top: 0px;" alt="">
                </div>
            </div>

            <div class="page-element widget-container page-element-type-image widget-image " id="element-704">
                <div class="contents">
                    <div class="cropped" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-block" id="page-block-o2g67crqt9wsiwkwed03pu8fr">
    <div class="color-overlay"></div>
    <div class="border-holder">
        <div class="block-inner">
            <div class="page-element widget-container page-element-type-headline widget-headline " id="element-649">


                <div class="contents">
                    <h1>
                        <p style="text-align: center;">
                            <font color="#ffff00">Thời gian còn lại của bạn để đăng ký...</font>
                        </p>
                    </h1>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-button widget-button " id="element-651">
                <div class="conversion_wrapper">
                    <a href="" class="popup-link" id="link-4bd2ktkwl3dfryug25qpmygb9" style="width: 230px; height: 53px;" data-wid="651">
                        <div class="btn submit-button button_submit dynamic-button glossy">Đăng ký ngay</div>
                    </a>
                </div>
            </div>

            <div class="popup modal fade" id="popup-4bd2ktkwl3dfryug25qpmygb9">
                <div class="popup-inner modal-dialog modal-dialog-center">
                    <div class="popup-close-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" preserveAspectRatio=""><circle class="circle-outer" cx="13" cy="13" r="13"></circle><circle class="circle-inner" cx="13" cy="13" r="11"></circle><path class="close-icon" d="M17.764 16.62l-1.144 1.144c-.158.157-.348.236-.573.236-.224 0-.415-.08-.572-.236L13 15.29l-2.475 2.474c-.157.157-.348.236-.572.236-.225 0-.415-.08-.573-.236L8.236 16.62C8.08 16.462 8 16.272 8 16.047c0-.224.08-.415.236-.572L10.71 13l-2.474-2.475C8.08 10.368 8 10.177 8 9.953c0-.225.08-.415.236-.573L9.38 8.236C9.538 8.08 9.728 8 9.953 8c.224 0 .415.08.572.236L13 10.71l2.475-2.474c.157-.157.348-.236.572-.236.225 0 .415.08.573.236l1.144 1.144c.157.158.236.348.236.573 0 .224-.08.415-.236.572L15.29 13l2.474 2.475c.157.157.236.348.236.572 0 .225-.08.415-.236.573z"></path></svg>
                    </div>
                    <div class="modal-content">
                        <div class="page-element widget-container page-element-type-html widget-html " id="element-712">
                            <div class="contents">
                                <iframe id="iFrameRegistration" width="100%" height="700" scrolling="no" frameborder="0" style="border: none;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-element widget-container page-element-type-timer widget-timer " id="element-655">
                <div id="timer-widget-655" class="widget-container widget-timer">
                    <div class="timer  eng ">
                        <div class="timer-labels">
                            <div class="timer-label first-label">DAYS</div>
                            <div class="timer-label">HOURS</div>
                            <div class="timer-label">MINUTES</div>
                            <div class="timer-label">SECONDS</div>
                        </div>
                        <div class="days timer-box">
                            <span class="timer-values"></span>
                        </div>
                        <div class="colon">
                            <div class="colon-top"></div>
                            <div class="colon-bottom"></div>
                        </div>
                        <div class="hours timer-box">
                            <span class="timer-values"></span>
                        </div>
                        <div class="colon">
                            <div class="colon-top"></div>
                            <div class="colon-bottom"></div>
                        </div>
                        <div class="minutes timer-box">
                            <span class="timer-values"></span>
                        </div>
                        <div class="colon">
                            <div class="colon-top"></div>
                            <div class="colon-bottom"></div>
                        </div>
                        <div class="seconds timer-box">
                            <span class="timer-values"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="page-block" id="page-block-2c4vj2qfzvwuyaxhbig7evzpvi">
    <div class="color-overlay"></div>
    <div class="border-holder">
        <div class="block-inner">
            <div class="page-element widget-container page-element-type-headline widget-headline " id="element-690">
                <div class="contents">
                    <h1>
                        <p>
                            <i>Lưu ý:</i>
                        </p>
                    </h1>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-headline widget-headline " id="element-691">
                <div class="contents">
                    <h1>
                        <p>- Áp dụng cho các khách hàng&nbsp;ký mới và thanh toán đủ 100% trong một lần duy nhất từ 4/2 - 20/2/2017.&nbsp;</p>
                        <p>- Khách hàng ký mới Eziwebshop gói eDiamond được tặng ngay 24 tháng,&nbsp;ePlatinum&nbsp;tặng 12 tháng và&nbsp;eGold&nbsp;tặng 9 tháng sử dụng website miễn phí.</p>
                        <p>- 100 khách hàng đầu tiên ký mới Eziwebshop được Đăng ký ngay tiền mặt. Trong đó, ký mới gói eDiamond&nbsp;nhận ngay&nbsp;700,000 VND, gói ePlatinum nhận ngay 500,000 VND và gói eGold nhận ngay 300,000 VND.</p>
                        <p>- Không áp dụng đồng thời với các chương trình khuyến mại&nbsp;khác: như combo hoặc voucher...</p>
                        <p>- Khuyến mại tên miền .shop không có giá trị quy đổi thành tiền và các tên miền khác</p>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>*@
@section scripts{
<script src="~/Content/js/moment.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            countDown();
            var countdown = setInterval(countDown, 1000);

            function countDown() {
                var future = moment('2017-02-20T05:00:00.000Z');
                var now = moment();

                var _widget = document.getElementById('timer-widget-' + 655);
        
                var days_elem = _widget.getElementsByClassName('days')[0].getElementsByTagName('span')[0];
                var hours_elem = _widget.getElementsByClassName('hours')[0].getElementsByTagName('span')[0];
                var minutes_elem = _widget.getElementsByClassName('minutes')[0].getElementsByTagName('span')[0];
                var seconds_elem = _widget.getElementsByClassName('seconds')[0].getElementsByTagName('span')[0];
                var delta = Math.abs(future - now) / 1000;
                var days = 0;
                var hours = 0;
                var minutes = 0;
                var seconds = 0;

                if (future - now <= 0) {
                    clearInterval(countdown);
                }
                else {
                    days = Math.floor(delta / 86400);
                    delta -= days * 86400;

                    hours = Math.floor(delta / 3600) % 24;
                    delta -= hours * 3600;

                    minutes = Math.floor(delta / 60) % 60;
                    delta -= minutes * 60;

                    seconds = Math.floor(delta % 60);
                }
                days_elem.innerHTML = formatDigits(days, 2);
                hours_elem.innerHTML = formatDigits(hours, 2);
                minutes_elem.innerHTML = formatDigits(minutes, 2);
                seconds_elem.innerHTML = formatDigits(seconds, 2);

                function formatDigits(value, digits_number) {
                    if (value.toString().length < digits_number) {
                        return (new Array(digits_number - value.toString().length + 1).join('0')) + value;
                    }
                    else {
                        return value;
                    }
                }
            }
        });
    </script>
}