@{
    ViewBag.Title = "Delivery slip";
}

<!-- Content Header (Page header) -->
<section class="content-header"></section>
<!-- Main content -->
<section class="invoice importwarehouse">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2 class="page-header">
                <strong>Internal transfer order</strong>
                
                <span class="impornumber">Slip number: <strong>EXP6896253</strong></span>
           
                <small>Date of inventory: 02/10/2016</small>
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row importwarehouse">
        <!-- accepted payments column -->
        <div class="col-xs-6">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th width="25%">Warehouse:</th>
                        <td>Warehouse China 1</td>
                    </tr>
                    <tr>
                        <th>Phone:</th>
                        <td>012010012</td>
                    </tr>
                    <tr>
                        <th>Address :</th>
                        <td>Quảng Châu, China</td>
                    </tr>
                </table>
            </div>
        </div>
        @*<div class="col-xs-6">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th width="25%">Warehouse nhận hàng:</th>
                            <td>Warehouse China 1</td>
                        </tr>
                        <tr>
                            <th>Address :</th>
                            <td>27th floor Yahang Wealth Center, No55, Jinhu Road, Nanning, China</td>
                        </tr>
                    </table>
                </div>
            </div>*@
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row importwarehouse">
        <div class="col-xs-12 table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Code Packing List</th>
                        <th class="text-center">Total Toolbar Package</th>
                        <th class="text-center" style="color: green">Total weight</th>
                        <th class="text-center" style="color: red">Volume (m3)</th>
                        <th class="text-center" style="color: blue">Fee transportation</th>
                        <th class="text-center" style="color: red">Source / Destination</th>
                        <th class="text-center">Receiver</th>
                        <th class="text-center" width="20%">Note shipping note</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="text-center">PKG01020122</td>
                        <td class="text-center">12</td>
                        <td class="text-center">22.00</td>
                        <td class="text-center">--</td>
                        <td class="text-center"></td>
                        <td>
                            <span>From: <strong>Warehouse TQ</strong></span><br />
                            <span>To: <strong>Noi Bai Warehouse</strong></span>
                        </td>
                        <td>
                            <span>Full name: <strong>Warehouse TQ</strong></span><br />
                            <span>Phone :<strong>Noi Bai Warehouse</strong></span><br />
                            <span>Address :<strong>123 Nội Bài, Hà Nội, Vietnam</strong></span>
                        </td>
                        <td class="text-center">Fragile goods, recommended shipping carefully.</td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td class="text-center">PKG01212122</td>
                        <td class="text-center">05</td>
                        <td class="text-center">45.00</td>
                        <td class="text-center">--</td>
                        <td class="text-center"></td>
                        <td>
                            <span>From: <strong>Warehouse TQ</strong></span><br />
                            <span>To: <strong>Noi Bai Warehouse</strong></span>
                        </td>
                        <td>
                            <span>Full name: <strong>Warehouse TQ</strong></span><br />
                            <span>Phone Information :<strong>Noi Bai Warehouse</strong></span><br />
                            <span>Address :<strong>123 Nội Bài, Hà Nội, Vietnam</strong></span>
                        </td>
                        <td class="text-center">Fragile goods, recommended shipping carefully.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>

    <div class="row signature">
        <div class="col-sm-3" align="center">
            <h5><strong>The person making the votes</strong></h5>
            <span class="description">(Sign, write full name)</span>
            <span class="name">Nguyễn Quốc Cử</span>
        </div>

        <div class="col-sm-3" align="center">
            <h5><strong>Carrier</strong></h5>
            <span>(Sign, write full name)</span>
        </div>

        <div class="col-sm-3" align="center">
            <h5><strong>Storekeepers</strong></h5>
            <span>(Sign, write full name)</span>
        </div>

        <div class="col-sm-3" align="center">
            <h5><strong>Accountant</strong></h5>
            <span>(Sign, write full name)</span>
        </div>
    </div>

    <!-- /.row -->
    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <a href="@Url.Action("")" target="_blank" class="btn btn-default"><i class="fa fa-arrow-left"></i> List of export bills</a>
            <a class="btn btn-primary pull-right" style="margin-right: 5px;">
               <i class="fa fa-print"></i> Print 
            </a>
        </div>
    </div>
</section>
<!-- /.content -->
<div class="clearfix"></div>
