<script type="text/html" id="SupportReport">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Total number of ticket today</h3>
            <h3 class="text-center" ><span data-bind="text: totalTicket"></span> Ticket</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="pad">
                        <div id="tongdon" style="min-width: 100px; height: 200px; margin: 0 auto"></div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->
    </div>

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Customer care staff was successful today.</h3>
            <div class="box-tools pull-right">
                <div class="input-group">
                    <button type="button" class="btn btn-default pull-right" id="daterange-btnReport">
                        <span>
                            <i class="fa fa-calendar"></i> Date of report
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>
                @*<a data-bind="click: btnCalendarReport" class="btn btn-default" id="reportCalendarTicket">
                    <input type="text" class="form-control pull-right report-date" id="reportDateTicket">
                    <span></span>
                </a>*@
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="pad">
                        <div id="nhanvien" style="min-width: 100px; height: 300px; margin: 0 auto"></div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->
    </div>
</script>