<script type="text/html" id="delivery">
    <div class="box box-primary">
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <div class="row">
                    <section class="col-md-2 form-group">
                        <label for="ddlGroup">Search </label>
                        <i class="fa fa-question-circle tooltips big-tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="You can perform searches by customer's account ID, account name, real name, phone number, email, .."></i>
                        <input class="form-control" placeholder="Code order, account ID, account name, real name, phone number, email, .." type="text" value="" data-bind="value: SearchDeliveryModal().Keyword">
                    </section>

                    <section class="col-md-2 form-group">
                        <label for="ddlWarehouse">Customer</label>
                        <select class="form-control select-view" style="width: 100%;" data-bind="options: listCustomer, optionsText: 'Text', optionsValue: 'Value', value: SearchDeliveryModal().CustomerId"></select>
                    </section>
                    <section class="col-md-2 form-group">
                        <label for="ddlPage">Select warehouse</label>
                        <select class="form-control select-view" style="width: 100%;" data-bind="options: listWarehouse, optionsText: 'Text', optionsValue: 'Value', value: SearchDeliveryModal().WarehouseId"></select>
                    </section>
                    <section class="col-md-2 form-group">
                        <label for="ddlWarehouse">@*Person in charge*@Consignee</label>
                        <select class="form-control select-view" style="width: 100%;" data-bind="options: listUser, optionsText: 'Text', optionsValue: 'Value', value: SearchDeliveryModal().UserId"></select>
                    </section>
                    <section class="col-md-2 form-group">
                        <label for="ddlPage">Status</label>
                        <select class="form-control select-view" style="width: 100%;" data-bind="options: listStatus, optionsText: 'Text', optionsValue: 'Value', value: SearchDeliveryModal().Status"></select>
                    </section>
                    <section class="col-md-2 form-group">
                        <!-- Date and time range -->
                        <label>Start Date</label>
                        <div class="input-group">
                            <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                                <span>
                                    <i class="fa fa-calendar"></i>Start Date
                                </span>
                                <i class="fa fa-caret-down"></i>
                            </button>
                        </div>
                    </section>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button data-bind="click: clickSearch" class="btn btn-danger"><i class="fa fa-search"></i> Search</button>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12" id="body-table">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">@*Danh sách phiếu giao hàng cho khách*@List of customer delivery notes </h3>
                    <a href="javascript:;" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add new</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="tabbable page-tabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#all-tasks" data-toggle="tab">All <span class="label label-danger">100</span></a></li>
                            <li><a href="#active" data-toggle="tab">China warehouse<span class="label label-primary">5</span></a></li>
                            <li><a href="#closed" data-toggle="tab">Noi Bai warehouse<span class="label label-primary">30</span></a></li>
                            <li><a href="#" data-toggle="tab">Doi Can warehouse<span class="label label-primary">5</span></a></li>
                            <li><a href="#" data-toggle="tab">Cam Hoi warehouse<span class="label label-primary">5</span></a></li>
                        </ul>
                        <div class="tab-content">
                            <!-- First tab -->
                            <div class="tab-pane active fade in" id="all-tasks">
                                <!-- Tasks table -->
                                <div class="box-body table-responsive no-padding">
                                    <div data-bind="css: isRending() === true? 'display-none' : ''">
                                        <div class="spinner">
                                            <div class="rect1"></div>
                                            <div class="rect2"></div>
                                            <div class="rect3"></div>
                                            <div class="rect4"></div>
                                            <div class="rect5"></div>
                                        </div>
                                    </div>
                                    <div data-bind="css: isRending() === true? '' : 'display-none'" class="display-none">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th class="text-center">Transport ticket ID</th>
                                                    <th class="text-center">Created Date</th>
                                                    <th class="text-center">Name of delivery note</th>
                                                    <th class="text-center">Customer</th>
                                                    <th class="text-center">Number of container(s)</th>
                                                    <th class="text-center">@*Nhân viên điều phối*@Person in charge</th>
                                                    <th class="text-center">Status</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="template: { name: 'delivery-list', foreach: listDelivery }"></tbody>
                                            <tfoot data-bind="if: listDelivery().length == 0">
                                                <tr>
                                                    <td colspan="8">No Data</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <div data-bind="if: listDelivery().length > 0" class="mt15">
                                            <div data-bind="html: pageTitle" class="pull-left"></div>

                                            <ul class="pagination pagination-sm no-margin pull-right">
                                                <li data-bind="if: pageStart">
                                                    <a data-bind="click: function(){ setPage({Page: 1})}" href="javascript:;"><i class="fa fa-angle-double-left"></i></a>
                                                </li>
                                                <li data-bind="if: pageNext">
                                                    <a data-bind="click: function(){ setPage({Page: (page - 3) < 1 ? 1 : (page - 3) })}" href="javascript:;">...</a>
                                                </li>
                                                <!-- ko foreach: listPage -->
                                                <li data-bind="css: Page === page ? 'active' :''  ">
                                                    <a data-bind="text: Page, click: $parent.setPage" href="javascript:;"></a>
                                                </li>
                                                <!-- /ko -->
                                                <li data-bind="if: pagePrev">
                                                    <a data-bind="click: function(){ setPage({Page: (page + 3) > pageTotal ? pageTotal: (page + 3) })}" href="javascript:;">...</a>
                                                </li>
                                                <li data-bind="if: pageEnd">
                                                    <a data-bind="click: function(){ setPage({Page: pageTotal})}" href="javascript:;"><i class="fa fa-angle-double-right"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /tasks table -->
                            </div>
                            <!-- /first tab -->
                        </div>
                    </div>
                    <!-- /page tabs -->
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
</script>