.content-cart {
    width: 100%;
    float: left;
}

    .content-cart h3 {
        letter-spacing: -1px;
        line-height: 18px;
        font-weight: 600;
        text-transform: uppercase;
        color: #dd2727;
        font-size: 16px;
    }

    .content-cart hr {
        margin-top: 5px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eeeeee;
    }

.pading-30 {
    margin-bottom: 30px !important;
    padding-top: 30px !important;
}

.left-cart {
    float: left;
    padding-left: 10px !important;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .col-sm-12 {
        width: 100%;
    }

    .col-sm-2 {
        width: 16.666666666666664%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33333333333333%;
    }

    .col-sm-5 {
        width: 41.66666666666667%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.333333333333336%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 {
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-7 {
        width: 58.333333333333336%;
    }

    .col-sm-5 {
        width: 41.66666666666667%;
    }
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.content-cart .font-1_3em {
    font-size: 1.3em;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.row, .clearfix {
    zoom: 1;
}

    .row:before, .row:after {
        display: table;
        content: " ";
    }

    .row:before, .row:after {
        display: table;
        content: " ";
    }
/*css table*/
.table.table-cart.panel {
    border-collapse: inherit;
}

.table-cart {
    border-radius: 0px !important;
}

.panel-default {
    border-color: #dddddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

table, table td {
    padding: 0;
    border: none;
    border-collapse: collapse;
}

.table-cart .order-header {
    background: #fa8c30;
    color: #fff !important;
}

.table caption + thead tr:first-child th, .table colgroup + thead tr:first-child th, .table thead:first-child tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child td {
    border-top: 0;
}

.table.table-cart > thead > tr > th {
    border-width: 0;
}

.table thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

/*++++++++++++++++++++*/
.text-left {
    text-align: left;
}

.table-cart a.btn-deleteOrder {
    background: #ff0000 !important;
    background: rgba(255, 0, 0, 1) !important;
}

.table-cart a.btn {
    margin-top: 18px;
    color: #fff;
    font-weight: bold;
    padding: 5px 12px 5px;
    display: inline-block;
    text-transform: uppercase;
    background: #217d7b;
    border: 0px !important;
}

.text-quantity {
    margin-top: 10px;
    font-weight: 600;
}

.cart-thumb a img {
    width: 108px;
    height: 108px;
}

.mb15 {
    margin-bottom: 15px !important;
}

.text-justify {
    text-align: justify;
}

.text-order {
    text-align: left;
}

.name-pro a {
    color: #0816ee;
}

.text-order a.btn {
    margin-left: 0 !important;
    background: #ff0000 !important;
    background: rgba(255, 0, 0, 1) !important;
    margin-top: 10px;
}

.text-order h5 {
    margin-top: 10px;
}

.padding-left-none {
    padding-left: 0 !important;
}

.padding-right-none {
    padding-right: 0 !important;
}

.number-pro > input {
    width: 100%;
    height: 25px;
    font-size: 14px;
}

.note-pro > textarea {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 60px;
    margin: 5px 0px 0px;
    resize: vertical;
    padding: 10px;
    width: 100%;
}

.mt10 {
    margin-top: 10px !important;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.radio, .checkbox {
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

/*.total-money {
    background: green;
    color: #fff;
}*/

.mb5 {
    margin-bottom: 5px !important;
}

.note-user > textarea {
    padding-right: 20px;
    box-sizing: border-box;
    min-height: 124px;
}

.bottom-total {
    padding-top: 20px !important;
    box-sizing: border-box;
}

/*.bottom-check {
    background: green;
    color: #fff !important;
}*/

/*.shop-name-onweb > label > i {
    float: left;
}

.shop-name-onweb > label > span {
    text-align: left;
    width: 90%;
    margin-left: 10px;
    float: left;
}*/
.note-icon-service {
    float: left;
    margin-left: 10px;
}

.bottom-cart-product > button {
    width: auto;
    height: 35px;
    line-height: 20px;
}

.bottom-cart-product > .text-normal {
    background-color: #217d7b;
}

.top-product-order {
    background-color: #dd2727 !important;
}

    .top-product-order > li {
        color: #fff !important;
        font-weight: bold;
    }

.header-listproduct {
    background: #fd7f00 !important;
}

.nh-divide {
    width: 100%;
    height: 7px;
    display: block;
    background: url('../../Images/divide_bg.png') repeat-x;
    float: left;
}

.main-content-singlesline {
    width: 90%;
    float: left;
    margin-top: 35px;
    margin: auto;
    padding: 0;
    margin-left: 5%;
}

.left-singlesline {
    padding-left: 10px;
    float: left;
    width: 50% !important;
}

.right-col {
    float: right;
    width: 50% !important;
    padding-right: 0 !important;
    box-sizing: border-box;
}

.ch-box {
    border: 1px solid #dde2e4;
}

.bgde5b01 {
    background-color: #dd2727;
    color: #fff !important;
}

.ch-main-title {
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #dde2e4;
    padding: 10px 12px 9px !Important;
    font-weight: 700 !important;
    position: relative;
}

.radio_check {
    float: left;
    margin-right: 15px;
    padding-top: 1px;
}

.shipping_wrap {
    padding: 10px 20px;
    box-sizing: border-box;
}

.address .ch-head {
    font-weight: 700 !important;
    color: #333;
    font-size: 14px;
    padding-bottom: 3px;
}

.address p {
    font-size: 13px;
    line-height: 18px;
    color: #646464;
    margin-bottom: 0px !important;
    font-weight: normal !important;
}

.shipping_t_row {
    width: 100%;
    display: table;
    margin-left: -10px;
}

.ch-top15 {
    margin-top: 15px;
}

.intendTimeShip {
    padding: 10px 20px;
    box-sizing: border-box;
}

.delivery-options-title {
    font-weight: 700 !important;
    color: #333;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.shippingOptionLabel span {
    font-size: 13px;
    line-height: 18px;
    color: #333;
    margin-bottom: 0px !important;
    font-weight: 700 !important;
}

.bgE5EAE8 {
    background-color: #E5EAE8;
}

.pt10 {
    padding-top: 10px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.btn-disposit {
    border-color: #fd7f00;
    background-color: #fd7f00;
    color: #fff;
    -ms-border-radius: 0;
    border-radius: 0;
}

.shipping_t_row .shipping_t_label {
    padding-top: 9px;
    width: 35%;
    white-space: normal;
    font-weight: 700;
    display: inline-block;
    padding-right: 10px;
    vertical-align: top;
    text-align: right;
    float: left;
}

.shipping_t_row .shipping_t_input {
    float: left;
    width: 60%;
}

.clear {
    float: none !important;
    clear: both;
}

.shipping_t_row .shipping_t_input input {
    width: 100% !important;
    outline: none;
    border-radius: 0;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    box-sizing: border-box;
}

.shipping_t_row .shipping_t_input textarea {
    width: 100% !important;
    resize: none;
    border-radius: 0;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    box-sizing: border-box;
    min-height: 50px;
}

.shipping_t_row .shipping_t_input select {
    width: 100% !important;
    outline: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 0;
    box-sizing: border-box;
}

.w100p {
    width: 100%;
}

table, table td {
    padding: 0;
    border: none;
    border-collapse: collapse;
}

.head-title {
    height: 50px;
    vertical-align: middle;
    background: #E5EAE8;
}

    .head-title th {
        vertical-align: middle;
    }

.name-product {
    width: 200px;
}

.text-center {
    text-align: center;
}

.qty {
    width: 80px;
}

.first_item .qty {
    color: #333;
    font-weight: 700 !important;
}

.first_item td {
    vertical-align: middle;
    padding: 10px;
    padding-bottom: 30px;
}

.first_item .price-pr {
    color: #333;
    font-weight: 700 !important;
}

.first_item td {
    vertical-align: middle;
    padding: 10px;
}

.shippingOptionLabel span {
    font-size: 13px;
    line-height: 18px;
    color: #333;
    margin-bottom: 0px !important;
    font-weight: 700 !important;
}

.dukienhangve {
    text-align: left;
    padding-left: 20px !important;
    box-sizing: border-box;
    padding-right: 20px;
    padding-bottom: 25px;
}

.bgE5EAE8 {
    background-color: #E5EAE8;
}

.ch-cart-conclusion {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 5px;
}

    .ch-cart-conclusion .total_item {
        width: 100%;
        background: #e5eae8;
    }

.total_item tbody tr td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    line-height: 25px;
}

.cost-right {
    float: right;
    color: #333;
    font-weight: 700 !important;
}

.total {
    border-top: 1px solid #ddd;
}

.order_sum {
    width: 100%;
    float: left;
}
