<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Miscounted goods</h3>
        <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a data-bind="click: function() {clickMenu('Counting')}" href="javascript:;">
                    <i class="fa fa-inbox"></i> Miscounted goods
                    <span class="label label-danger pull-right"></span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.box-body -->
</div>