<script type="text/html" id="putaway-list">
    <tr>
        <td class="text-center">1</td>
        <td class="text-center"><img alt="Avatar" style="width: 50px;" ng-reflect-src="/Content/dist/img/user2-160x160.jpg" src="/Content/dist/img/user2-160x160.jpg"></td>
        <td class="text-center">
            <a href="javascript:;"><strong>USR010012012</strong></a>
        </td>
        <td class="text-center"><span class="badge bg-green">VIP 3</span></td>
        <td class="text-center">Nguyễn Vân Anh</td>
        <td class="text-center">0912349258</td>
        <td class="text-center">nhaphangtrungquoc.com</td>
        <th class="text-center"><a href="#"><strong>Phạm Chi Đức</strong></a></th>
        <td class="text-center">
            <span class="label label-success">Opening</span>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-sm btn-primary btn-xs"><i class="fa fa-edit"></i>Edit</a>
            <a href="#" class="btn btn-sm btn-danger btn-xs"><i class="fa fa-trash"></i> Delete </a>
        </td>
    </tr>
</script>