

#page-block-x08eqw9j1c0h8x7i9pgl7syvi {
     /*height: 642px;*/
        height: 350px;
}

    #page-block-x08eqw9j1c0h8x7i9pgl7syvi .border-holder {
        background-image: url('../images/marketing/11362938-0-footer-background.png');
        background-color: transparent;
        background-repeat: repeat;
        background-position: top left;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;
        /*height: 642px;*/
        height: 350px;
    }

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page-block-x08eqw9j1c0h8x7i9pgl7syvi .color-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
    opacity: 0.50602409638554;
}

#page-block-x08eqw9j1c0h8x7i9pgl7syvi .block-inner {
    margin-top: 0px;
}



#element-671 {
    height: 78px;
    width: 145px;
    left: 11px;
    top: 29px;
    z-index: 30;
}

    #element-671 p, #element-671 ul, #element-671 ol, #element-671 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }

#element-672 {
    height: 175px;
    width: 143px;
    left: 11px;
    top: 84px;
    z-index: 31;
}

    #element-672 p, #element-672 ul, #element-672 ol, #element-672 h1 {
        font-size: 14px;
        color: rgb(0, 0, 0);
        line-height: 25px;
        text-align: left;
    }

#element-673 {
    height: 52px;
    width: 145px;
    left: 163px;
    top: 33px;
    z-index: 32;
}

    #element-673 p, #element-673 ul, #element-673 ol, #element-673 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }

#element-674 {
    height: 150px;
    width: 184px;
    left: 163px;
    top: 85px;
    z-index: 33;
}

    #element-674 p, #element-674 ul, #element-674 ol, #element-674 h1 {
        font-size: 14px;
        color: rgb(135, 135, 135);
        line-height: 25px;
        text-align: left;
    }

#element-675 {
    height: 52px;
    width: 145px;
    left: 366px;
    top: 32px;
    z-index: 34;
}

    #element-675 p, #element-675 ul, #element-675 ol, #element-675 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }

#element-676 {
    height: 200px;
    width: 163px;
    left: 366px;
    top: 84px;
    z-index: 35;
}

    #element-676 p, #element-676 ul, #element-676 ol, #element-676 h1 {
        font-size: 14px;
        color: rgb(0, 0, 0);
        line-height: 25px;
        text-align: left;
    }


#element-605 {
    height: 53px;
    width: 145px;
    left: 544px;
    top: 32px;
    z-index: 36;
}

    #element-605 p, #element-605 ul, #element-605 ol, #element-605 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }


 

    #element-605 p, #element-605 ul, #element-605 ol, #element-605 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left !important;
    }


#element-678 {
    height: 175px;
    width: 221px;
    left: 542px;
    top: 84px;
    z-index: 37;
}

    #element-678 p, #element-678 ul, #element-678 ol, #element-678 h1 {
        font-size: 14px;
        color: rgb(135, 135, 135);
        line-height: 25px;
        text-align: left;
    }

#element-679 {
    height: 52px;
    width: 144px;
    left: 778px;
    top: 33px;
    z-index: 38;
}

    #element-679 p, #element-679 ul, #element-679 ol, #element-679 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }

#element-680 {
    height: 150px;
    width: 181px;
    left: 778px;
    top: 84px;
    z-index: 39;
}

    #element-680 p, #element-680 ul, #element-680 ol, #element-680 h1 {
        font-size: 14px;
        color: rgb(0, 0, 0);
        line-height: 25px;
        text-align: left;
    }

#element-682 {
    height: 52px;
    width: 145px;
    left: 1px;
    top: 351px;
    z-index: 41;
}

    #element-682 p, #element-682 ul, #element-682 ol, #element-682 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }

#element-683 {
    height: 175px;
    width: 176px;
    left: 0px;
    top: 389px;
    z-index: 42;
}

    #element-683 p, #element-683 ul, #element-683 ol, #element-683 h1 {
        font-size: 14px;
        color: rgb(0, 0, 0);
        line-height: 25px;
        text-align: left;
    }

#element-684 {
    height: 26px;
    width: 164px;
    left: 201px;
    top: 351px;
    z-index: 43;
}

    #element-684 p, #element-684 ul, #element-684 ol, #element-684 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }

#element-685 {
    height: 125px;
    width: 239px;
    left: 200px;
    top: 389px;
    z-index: 44;
}

    #element-685 p, #element-685 ul, #element-685 ol, #element-685 h1 {
        font-size: 14px;
        color: rgb(135, 135, 135);
        line-height: 25px;
        text-align: left;
    }

#element-686 {
    height: 26px;
    width: 144px;
    left: 466px;
    top: 351px;
    z-index: 45;
}

    #element-686 p, #element-686 ul, #element-686 ol, #element-686 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }

#element-687 {
    height: 225px;
    width: 468px;
    left: 465px;
    top: 389px;
    z-index: 46;
}

    #element-687 p, #element-687 ul, #element-687 ol, #element-687 h1 {
        font-size: 14px;
        color: rgb(135, 135, 135);
        line-height: 25px;
        text-align: left;
    }

#element-688 {
    height: 26px;
    width: 231px;
    left: 201px;
    top: 531px;
    z-index: 47;
}

    #element-688 p, #element-688 ul, #element-688 ol, #element-688 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }

#element-689 {
    height: 50px;
    width: 239px;
    left: 201px;
    top: 564px;
    z-index: 48;
}

    #element-689 p, #element-689 ul, #element-689 ol, #element-689 h1 {
        font-size: 14px;
        color: rgb(135, 135, 135);
        line-height: 25px;
        text-align: left;
    }
