#element-86 {
    height: 56px;
    width: 231px;
    left: 38px;
    top: 192px;
    z-index: 3;
}

    #element-86 p, #element-86 ul, #element-86 ol, #element-86 h1 {
        font-size: 20px;
        color: rgb(30, 135, 210);
        line-height: 28px;
        text-align: center;
    }

#element-89 {
    height: 80px;
    width: 266px;
    left: 20px;
    top: 257px;
    z-index: 4;
}

    #element-89 p, #element-89 ul, #element-89 ol, #element-89 h1 {
        font-size: 14px;
        color: rgb(96, 96, 96);
        line-height: 20px;
        text-align: center;
    }

#element-499 {
    height: 56px;
    width: 231px;
    left: 683px;
    top: 192px;
    z-index: 5;
}

    #element-499 p, #element-499 ul, #element-499 ol, #element-499 h1 {
        font-size: 20px;
        color: rgb(19, 72, 159);
        line-height: 28px;
        text-align: center;
    }

#element-501 {
    height: 80px;
    width: 266px;
    left: 665px;
    top: 257px;
    z-index: 6;
}

    #element-501 p, #element-501 ul, #element-501 ol, #element-501 h1 {
        font-size: 14px;
        color: rgb(96, 96, 96);
        line-height: 20px;
        text-align: center;
    }

#element-307 {
    height: 56px;
    width: 254px;
    left: 351px;
    top: 192px;
    z-index: 7;
}

    #element-307 p, #element-307 ul, #element-307 ol, #element-307 h1 {
        font-size: 20px;
        color: rgb(30, 135, 210);
        line-height: 28px;
        text-align: center;
    }

#element-405 {
    height: 90px;
    width: 529px;
    left: 425px;
    top: 419px;
    z-index: 8;
}

    #element-405 p, #element-405 ul, #element-405 ol, #element-405 h1 {
        font-size: 32px;
        color: rgb(30, 135, 210);
        line-height: 45px;
        text-align: left;
    }

#element-407 {
    height: 40px;
    width: 456px;
    left: 466px;
    top: 588px;
    z-index: 9;
}

    #element-407 p, #element-407 ul, #element-407 ol, #element-407 h1 {
        font-size: 14px;
        color: rgb(96, 96, 96);
        line-height: 20px;
        text-align: left;
    }

#element-548 {
    height: 24px;
    width: 24px;
    left: 427px;
    top: 596px;
    z-index: 10;
}

#element-408 {
    height: 40px;
    width: 460px;
    left: 466px;
    top: 644px;
    z-index: 11;
}

    #element-408 p, #element-408 ul, #element-408 ol, #element-408 h1 {
        font-size: 14px;
        color: rgb(96, 96, 96);
        line-height: 20px;
        text-align: left;
    }

#element-549 {
    height: 24px;
    width: 24px;
    left: 425px;
    top: 652px;
    z-index: 12;
}

#element-411 {
    height: 40px;
    width: 460px;
    left: 466px;
    top: 699px;
    z-index: 13;
}

    #element-411 p, #element-411 ul, #element-411 ol, #element-411 h1 {
        font-size: 14px;
        color: rgb(96, 96, 96);
        line-height: 20px;
        text-align: left;
    }

#element-550 {
    height: 24px;
    width: 24px;
    left: 425px;
    top: 707px;
    z-index: 14;
}

#element-633 {
    height: 16px;
    width: 32px;
    left: -1px;
    top: 203px;
    z-index: 15;
}

#element-21 {
    height: 66px;
    width: 451px;
    left: 3px;
    top: 357px;
    z-index: 16;
}

    #element-21 p, #element-21 ul, #element-21 ol, #element-21 h1 {
        font-size: 16px;
        color: rgb(194, 55, 5);
        line-height: 22px;
        text-align: left;
    }

#element-635 {
    height: 85px;
    width: 489px;
    left: 0px;
    top: 265px;
    z-index: 17;
}

    #element-635 p, #element-635 ul, #element-635 ol, #element-635 h1 {
        font-size: 61px;
        color: rgb(0, 0, 0);
        line-height: 85px;
        text-align: left;
    }

#element-636 {
    height: 25px;
    width: 483px;
    left: 3px;
    top: 233px;
    z-index: 18;
}

    #element-636 p, #element-636 ul, #element-636 ol, #element-636 h1 {
        font-size: 18px;
        color: rgb(255, 255, 255);
        line-height: 25px;
        text-align: left;
    }

#element-640 {
    height: 22px;
    width: 510px;
    left: 425px;
    top: 534px;
    z-index: 19;
}

    #element-640 p, #element-640 ul, #element-640 ol, #element-640 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 22px;
        text-align: left;
    }

#element-644 {
    height: 98px;
    width: 728px;
    left: 117px;
    top: 92px;
    z-index: 20;
}

    #element-644 p, #element-644 ul, #element-644 ol, #element-644 h1 {
        font-size: 35px;
        color: rgb(30, 135, 210);
        line-height: 49px;
        text-align: center;
    }

#element-645 {
    height: 25px;
    width: 443px;
    left: 255px;
    top: 50px;
    z-index: 21;
}

    #element-645 p, #element-645 ul, #element-645 ol, #element-645 h1 {
        font-size: 18px;
        color: rgb(0, 0, 0);
        line-height: 25px;
        text-align: center;
    }

#element-649 {
    height: 53px;
    width: 956px;
    left: 0px;
    top: 35px;
    z-index: 22;
}

    #element-649 p, #element-649 ul, #element-649 ol, #element-649 h1 {
        font-size: 38px;
        color: rgb(36, 96, 13);
        line-height: 53px;
        text-align: center;
    }

#element-651 {
    height: 53px;
    width: 230px;
    left: 363px;
    top: 277px;
    z-index: 23;
}

#element-655 {
    height: 90px;
    width: 360px;
    left: 310px;
    top: 135px;
    z-index: 24;
}

    #element-655 div.timer {
        width: 360px;
        px;
        height: 90px;
        px;
    }

    #element-655 span.timer-values {
        font-size: 54px;
        color: #ff0000;
    }

    #element-655 div.timer-labels {
        font-size: 12px;
        color: #ffffff;
    }

        #element-655 div.timer-labels div.timer-label {
            font-family: Open Sans, sans-serif;
            font-weight: 400;
        }

    #element-655 div.timer-box {
        background-color: #ffff00;
    }

    #element-655 div.colon div {
        background-color: #ffff00;
    }

#element-658 {
    height: 53px;
    width: 230px;
    left: -1px;
    top: 460px;
    z-index: 25;
}

#element-663 {
    height: 84px;
    width: 393px;
    left: 0px;
    top: 119px;
    z-index: 26;
}

    #element-663 p, #element-663 ul, #element-663 ol, #element-663 h1 {
        font-size: 30px;
        color: rgb(255, 255, 255);
        line-height: 42px;
        text-align: left;
    }

#element-666 {
    height: 80px;
    width: 266px;
    left: 343px;
    top: 257px;
    z-index: 27;
}

    #element-666 p, #element-666 ul, #element-666 ol, #element-666 h1 {
        font-size: 14px;
        color: rgb(96, 96, 96);
        line-height: 20px;
        text-align: center;
    }

#element-668 {
    height: 44px;
    width: 499px;
    left: 427px;
    top: 762px;
    z-index: 28;
}

    #element-668 p, #element-668 ul, #element-668 ol, #element-668 h1 {
        font-size: 16px;
        color: rgb(5, 92, 179);
        line-height: 22px;
        text-align: left;
    }

#element-669 {
    height: 53px;
    width: 230px;
    left: 425px;
    top: 851px;
    z-index: 29;
}

#element-671 {
    height: 78px;
    width: 145px;
    left: 11px;
    top: 29px;
    z-index: 30;
}

    #element-671 p, #element-671 ul, #element-671 ol, #element-671 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }

#element-672 {
    height: 175px;
    width: 143px;
    left: 11px;
    top: 84px;
    z-index: 31;
}

    #element-672 p, #element-672 ul, #element-672 ol, #element-672 h1 {
        font-size: 14px;
        color: rgb(0, 0, 0);
        line-height: 25px;
        text-align: left;
    }

#element-673 {
    height: 52px;
    width: 145px;
    left: 163px;
    top: 33px;
    z-index: 32;
}

    #element-673 p, #element-673 ul, #element-673 ol, #element-673 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }

#element-674 {
    height: 150px;
    width: 184px;
    left: 163px;
    top: 85px;
    z-index: 33;
}

    #element-674 p, #element-674 ul, #element-674 ol, #element-674 h1 {
        font-size: 14px;
        color: rgb(135, 135, 135);
        line-height: 25px;
        text-align: left;
    }

#element-675 {
    height: 52px;
    width: 145px;
    left: 366px;
    top: 32px;
    z-index: 34;
}

    #element-675 p, #element-675 ul, #element-675 ol, #element-675 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }

#element-676 {
    height: 200px;
    width: 163px;
    left: 366px;
    top: 84px;
    z-index: 35;
}

    #element-676 p, #element-676 ul, #element-676 ol, #element-676 h1 {
        font-size: 14px;
        color: rgb(0, 0, 0);
        line-height: 25px;
        text-align: left;
    }

#element-677 {
    height: 52px;
    width: 145px;
    left: 542px;
    top: 33px;
    z-index: 36;
}

    #element-677 p, #element-677 ul, #element-677 ol, #element-677 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }

#element-678 {
    height: 175px;
    width: 221px;
    left: 542px;
    top: 84px;
    z-index: 37;
}

    #element-678 p, #element-678 ul, #element-678 ol, #element-678 h1 {
        font-size: 14px;
        color: rgb(135, 135, 135);
        line-height: 25px;
        text-align: left;
    }

#element-679 {
    height: 52px;
    width: 144px;
    left: 778px;
    top: 33px;
    z-index: 38;
}

    #element-679 p, #element-679 ul, #element-679 ol, #element-679 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }

#element-680 {
    height: 150px;
    width: 181px;
    left: 778px;
    top: 84px;
    z-index: 39;
}

    #element-680 p, #element-680 ul, #element-680 ol, #element-680 h1 {
        font-size: 14px;
        color: rgb(0, 0, 0);
        line-height: 25px;
        text-align: left;
    }

#element-681 {
    height: 11px;
    width: 955px;
    left: 4px;
    top: 294px;
    z-index: 40;
}

#element-682 {
    height: 52px;
    width: 145px;
    left: 1px;
    top: 351px;
    z-index: 41;
}

    #element-682 p, #element-682 ul, #element-682 ol, #element-682 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }

#element-683 {
    height: 175px;
    width: 176px;
    left: 0px;
    top: 389px;
    z-index: 42;
}

    #element-683 p, #element-683 ul, #element-683 ol, #element-683 h1 {
        font-size: 14px;
        color: rgb(0, 0, 0);
        line-height: 25px;
        text-align: left;
    }

#element-684 {
    height: 26px;
    width: 164px;
    left: 201px;
    top: 351px;
    z-index: 43;
}

    #element-684 p, #element-684 ul, #element-684 ol, #element-684 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }

#element-685 {
    height: 125px;
    width: 239px;
    left: 200px;
    top: 389px;
    z-index: 44;
}

    #element-685 p, #element-685 ul, #element-685 ol, #element-685 h1 {
        font-size: 14px;
        color: rgb(135, 135, 135);
        line-height: 25px;
        text-align: left;
    }

#element-686 {
    height: 26px;
    width: 144px;
    left: 466px;
    top: 351px;
    z-index: 45;
}

    #element-686 p, #element-686 ul, #element-686 ol, #element-686 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }

#element-687 {
    height: 225px;
    width: 468px;
    left: 465px;
    top: 389px;
    z-index: 46;
}

    #element-687 p, #element-687 ul, #element-687 ol, #element-687 h1 {
        font-size: 14px;
        color: rgb(135, 135, 135);
        line-height: 25px;
        text-align: left;
    }

#element-688 {
    height: 26px;
    width: 231px;
    left: 201px;
    top: 531px;
    z-index: 47;
}

    #element-688 p, #element-688 ul, #element-688 ol, #element-688 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 26px;
        text-align: left;
    }

#element-689 {
    height: 50px;
    width: 239px;
    left: 201px;
    top: 564px;
    z-index: 48;
}

    #element-689 p, #element-689 ul, #element-689 ol, #element-689 h1 {
        font-size: 14px;
        color: rgb(135, 135, 135);
        line-height: 25px;
        text-align: left;
    }

#element-690 {
    height: 31px;
    width: 370px;
    left: 2px;
    top: 14px;
    z-index: 49;
}

    #element-690 p, #element-690 ul, #element-690 ol, #element-690 h1 {
        font-size: 22px;
        color: rgb(0, 0, 0);
        line-height: 31px;
        text-align: left;
    }

#element-691 {
    height: 168px;
    width: 950px;
    left: 1px;
    top: 55px;
    z-index: 50;
}

    #element-691 p, #element-691 ul, #element-691 ol, #element-691 h1 {
        font-size: 14px;
        color: rgb(0, 0, 0);
        line-height: 28px;
        text-align: left;
    }

#element-696 {
    height: 292px;
    width: 485px;
    left: 464px;
    top: 119px;
    z-index: 51;
}

#element-697 {
    height: 475px;
    width: 337px;
    left: 53px;
    top: 435px;
    z-index: 52;
}

#element-702 {
    height: 136px;
    width: 136px;
    left: 80px;
    top: 36px;
    z-index: 53;
}

#element-703 {
    height: 150px;
    width: 150px;
    left: 406px;
    top: 22px;
    z-index: 54;
}

#element-704 {
    height: 143px;
    width: 143px;
    left: 725px;
    top: 21px;
    z-index: 55;
}

#element-705 {
    height: 22px;
    width: 199px;
    left: 524px;
    top: 34px;
    z-index: 56;
}

    #element-705 p, #element-705 ul, #element-705 ol, #element-705 h1 {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 22px;
        text-align: center;
    }

#element-706 {
    height: 22px;
    width: 127px;
    left: 719px;
    top: 34px;
    z-index: 57;
}

    #element-706 p, #element-706 ul, #element-706 ol, #element-706 h1 {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 22px;
        text-align: center;
    }

#element-707 {
    height: 22px;
    width: 111px;
    left: 846px;
    top: 34px;
    z-index: 58;
}

    #element-707 p, #element-707 ul, #element-707 ol, #element-707 h1 {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 22px;
        text-align: center;
    }

#element-708 {
    height: 51px;
    width: 152px;
    left: 2px;
    top: 18px;
    z-index: 59;
}

#element-709 {
    height: 35px;
    width: 180px;
    left: 181px;
    top: 27px;
    z-index: 60;
}

#page-block-o0zmfpqxmtgamo8tjxdklz0k9 {
    height: 95px;
}

    #page-block-o0zmfpqxmtgamo8tjxdklz0k9 .border-holder {
        background-image: none;
        background-color: #ffffff;
        background-repeat: repeat;
        background-position: top left;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;
        height: 95px;
    }

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page-block-o0zmfpqxmtgamo8tjxdklz0k9 .color-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
    opacity: 0.5;
}

#page-block-o0zmfpqxmtgamo8tjxdklz0k9 .block-inner {
    margin-top: 0px;
}

#page_block_below_fold {
    height: 548px;
}

    #page_block_below_fold .border-holder {
        background-image: url('../image-marketing/landingpage/12000123-0-bg.png'); 
        background-color: #262626;
        background-repeat: repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;
        height: 548px;
    }

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page_block_below_fold .color-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: transparent;
    opacity: 1;
}

#page_block_below_fold .block-inner {
    margin-top: 0px;
}

#page-block-c2ifrlnh7xivbavovg1p58kt9 {
    height: 218px;
}

    #page-block-c2ifrlnh7xivbavovg1p58kt9 .border-holder {
        background-image: none;
        background-color: #ffffff;
        background-repeat: repeat;
        background-position: top left;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;
        height: 218px;
    }

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page-block-c2ifrlnh7xivbavovg1p58kt9 .color-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
    opacity: 0.5;
}

#page-block-c2ifrlnh7xivbavovg1p58kt9 .block-inner {
    margin-top: 0px;
}

#page-block-5r5x5ssyv3676d37wzu6p3nmi {
    height: 970px;
}

    #page-block-5r5x5ssyv3676d37wzu6p3nmi .border-holder {
        background-image: none;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto auto;
        -webkit-background-size: auto auto;
        -moz-background-size: auto auto;
        -o-background-size: auto auto;
        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;
        height: 970px;
    }

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page-block-5r5x5ssyv3676d37wzu6p3nmi .color-overlay {
}

#page-block-5r5x5ssyv3676d37wzu6p3nmi .block-inner {
    margin-top: 0px;
}

#page-block-o2g67crqt9wsiwkwed03pu8fr {
    height: 365px;
}

    #page-block-o2g67crqt9wsiwkwed03pu8fr .border-holder {
        background-image: url("//storage.googleapis.com/instapage-user-media/998428e1/12007253-0-bg--2.png");
        background-color: #ff0000;
        background-repeat: repeat-y;
        background-position: center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;
        height: 365px;
    }

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page-block-o2g67crqt9wsiwkwed03pu8fr .color-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: transparent;
    opacity: 0.50602409638554;
}

#page-block-o2g67crqt9wsiwkwed03pu8fr .block-inner {
    margin-top: 0px;
}

#page-block-2c4vj2qfzvwuyaxhbig7evzpvi {
    height: 256px;
}

    #page-block-2c4vj2qfzvwuyaxhbig7evzpvi .border-holder {
        background-image: none;
        background-color: #ffffff;
        background-repeat: repeat;
        background-position: top left;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;
        height: 256px;
    }

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page-block-2c4vj2qfzvwuyaxhbig7evzpvi .color-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
    opacity: 0.5;
}

#page-block-2c4vj2qfzvwuyaxhbig7evzpvi .block-inner {
    margin-top: 0px;
}

#page-block-x08eqw9j1c0h8x7i9pgl7syvi {
      /*height: 642px;*/
        height: 350px;
}

    #page-block-x08eqw9j1c0h8x7i9pgl7syvi .border-holder {
        background-image: url('../images/marketing/11362938-0-footer-background.png'); 
        background-color: transparent;
        background-repeat: repeat;
        background-position: top left;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;
         /*height: 642px;*/
        height: 350px;
    }

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page-block-x08eqw9j1c0h8x7i9pgl7syvi .color-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
    opacity: 0.50602409638554;
}

#page-block-x08eqw9j1c0h8x7i9pgl7syvi .block-inner {
    margin-top: 0px;
}

@media screen and (max-width: 620px), screen and (max-width: 999px) and (-webkit-min-device-pixel-ratio: 1.5) and ( max-device-width: 1280px ) and (max-device-height: 720px), screen and (max-width: 999px) and (-webkit-min-device-pixel-ratio: 1.5) and ( max-device-width: 1000px ) {
    body {
        min-width: 400px;
        width: 100%;
    }

    .page.page2 {
        width: 100%;
    }

        .page.page2 .block-inner {
            width: 400px;
            margin: 0 auto;
        }

        .page.page2.new-mobile-preview .block-inner {
            width: auto;
        }

    .widget-form .field-checkbox .field-element label:before,
    .widget-form .field-radio .field-element label:before {
        top: 16px;
    }

    .widget-form .field-checkbox .field-element label:after {
        top: 21px;
    }

    .widget-form .field-radio .field-element label:after {
        top: 16px;
    }

    .widget-form .select-outer {
        overflow: hidden;
        margin-bottom: 8px;
        margin-top: 8px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }

        .widget-form .select-outer select {
            width: calc( 100% - 1px );
            height: 56px;
            border: 0;
            margin: 0;
            -webkit-appearance: none;
            line-height: 30px;
            border-style: solid;
            border-width: 1px;
            background-image: url( '//storage.googleapis.com/instapage-app-assets/414/img/builder2/select-arrow-drop-down.png' );
            background-position: right;
            background-repeat: no-repeat;
        }

    .widget-form .form-input[type="text"],
    .widget-form .form-input[type="password"],
    .widget-form .form-input[type="email"],
    .widget-form textarea.form-input {
        padding-top: 12px;
        padding-bottom: 9px;
        font-size: 20px;
        line-height: 22px;
        height: 56px;
        -webkit-appearance: none;
    }

    .widget-form .label-outside,
    .widget-form .outside-top,
    .widget-form .field-element label {
        font-size: 20px;
        line-height: 22px;
        padding-top: 12px;
        padding-bottom: 9px;
    }

    .widget-form select {
        font-size: 20px;
        height: 56px;
        padding-left: 9px;
        width: calc( 100% + 2px );
        -moz-padding-start: 5px;
    }

    .widget-form .input-holder.field-checkbox > label.outside-top,
    .widget-form .input-holder.field-radio > label.outside-top,
    .widget-form .field-container.edit.field-checkbox > label.label-outside,
    .widget-form .field-container.edit.field-radio > label.label-outside {
        margin-top: 8px;
        margin-bottom: 2px;
    }

    .widget-form .form-option-element label,
    .widget-form .field-element label {
        font-size: 20px;
        line-height: 22px;
        padding-bottom: 0;
        margin-bottom: 0px;
    }

    .new_mobile .widget-form textarea.form-input.shortnice {
        height: 56px;
    }

    #element-708 {
        height: 51px;
        width: 152px;
        left: 15px;
        top: 33px;
        z-index: 59;
    }

    #element-709 {
        height: 35.2px;
        width: 180px;
        left: 219px;
        top: 41px;
        z-index: 60;
    }

    #element-705 {
        height: 22px;
        width: 199px;
        left: 2px;
        top: 96px;
        z-index: 56;
    }

        #element-705 p, #element-705 ul, #element-705 ol, #element-705 h1 {
            font-size: 16px;
            color: rgb(255, 255, 255);
            line-height: 22px;
            text-align: center !important;
        }

    #element-706 {
        height: 22px;
        width: 87px;
        left: 201px;
        top: 96px;
        z-index: 57;
    }

        #element-706 p, #element-706 ul, #element-706 ol, #element-706 h1 {
            font-size: 16px;
            color: rgb(255, 255, 255);
            line-height: 22px;
            text-align: center !important;
        }

    #element-707 {
        height: 22px;
        width: 111px;
        left: 288px;
        top: 96px;
        z-index: 58;
    }

        #element-707 p, #element-707 ul, #element-707 ol, #element-707 h1 {
            font-size: 16px;
            color: rgb(255, 255, 255);
            line-height: 22px;
            text-align: center !important;
        }

    #element-663 {
        height: 60px;
        width: 402px;
        left: 0px;
        top: 90px;
        z-index: 26;
    }

        #element-663 p, #element-663 ul, #element-663 ol, #element-663 h1 {
            font-size: 24px;
            color: rgb(255, 255, 255);
            line-height: 30px;
            text-align: center !important;
        }

    #element-696 {
        height: 216.74px;
        width: 360px;
        left: 22px;
        top: 539px;
        z-index: 51;
    }

    #element-633 {
        height: 16px;
        width: 31px;
        left: 185px;
        top: 161px;
        z-index: 15;
    }

    #element-636 {
        height: 18px;
        width: 360px;
        left: 21px;
        top: 204px;
        z-index: 18;
    }

        #element-636 p, #element-636 ul, #element-636 ol, #element-636 h1 {
            font-size: 16px;
            color: rgb(255, 255, 255);
            line-height: 18px;
            text-align: center !important;
        }

    #element-635 {
        height: 66px;
        width: 360px;
        left: 21px;
        top: 240px;
        z-index: 17;
    }

        #element-635 p, #element-635 ul, #element-635 ol, #element-635 h1 {
            font-size: 50px;
            color: rgb(0, 0, 0);
            line-height: 66px;
            text-align: center !important;
        }

    #element-21 {
        height: 88px;
        width: 359px;
        left: 23px;
        top: 326px;
        z-index: 16;
    }

        #element-21 p, #element-21 ul, #element-21 ol, #element-21 h1 {
            font-size: 16px;
            color: rgb(194, 55, 5);
            line-height: 22px;
            text-align: center !important;
        }

    #element-658 {
        height: 53px;
        width: 230px;
        left: 86px;
        top: 438px;
        z-index: 25;
    }

    #element-645 {
        height: 20px;
        width: 360px;
        left: 17px;
        top: 29px;
        z-index: 21;
    }

        #element-645 p, #element-645 ul, #element-645 ol, #element-645 h1 {
            font-size: 18px;
            color: rgb(0, 0, 0);
            line-height: 20px;
            text-align: center !important;
        }

    #element-644 {
        height: 90px;
        width: 397px;
        left: -1px;
        top: 68px;
        z-index: 20;
    }

        #element-644 p, #element-644 ul, #element-644 ol, #element-644 h1 {
            font-size: 24px;
            color: rgb(30, 135, 210);
            line-height: 30px;
            text-align: center !important;
        }

    #element-704 {
        height: 143px;
        width: 143px;
        left: 129px;
        top: 748px;
        z-index: 55;
    }

    #element-703 {
        height: 150px;
        width: 150px;
        left: 126px;
        top: 385px;
        z-index: 54;
    }

    #element-702 {
        height: 150px;
        width: 150px;
        left: 126px;
        top: 33px;
        z-index: 53;
    }

    #element-86 {
        height: 56px;
        width: 231px;
        left: 85px;
        top: 187px;
        z-index: 3;
    }

        #element-86 p, #element-86 ul, #element-86 ol, #element-86 h1 {
            font-size: 20px;
            color: rgb(30, 135, 210);
            line-height: 28px;
            text-align: center !important;
        }

    #element-307 {
        height: 56px;
        width: 253px;
        left: 74px;
        top: 543px;
        z-index: 7;
    }

        #element-307 p, #element-307 ul, #element-307 ol, #element-307 h1 {
            font-size: 20px;
            color: rgb(30, 135, 210);
            line-height: 28px;
            text-align: center !important;
        }

    #element-499 {
        height: 56px;
        width: 231px;
        left: 86px;
        top: 903px;
        z-index: 5;
    }

        #element-499 p, #element-499 ul, #element-499 ol, #element-499 h1 {
            font-size: 20px;
            color: rgb(19, 72, 159);
            line-height: 28px;
            text-align: center !important;
        }

    #element-89 {
        height: 80px;
        width: 267px;
        left: 67px;
        top: 259px;
        z-index: 4;
    }

        #element-89 p, #element-89 ul, #element-89 ol, #element-89 h1 {
            font-size: 14px;
            color: rgb(96, 96, 96);
            line-height: 20px;
            text-align: center !important;
        }

    #element-666 {
        height: 80px;
        width: 266px;
        left: 68px;
        top: 630px;
        z-index: 27;
    }

        #element-666 p, #element-666 ul, #element-666 ol, #element-666 h1 {
            font-size: 14px;
            color: rgb(96, 96, 96);
            line-height: 20px;
            text-align: center !important;
        }

    #element-501 {
        height: 80px;
        width: 267px;
        left: 68px;
        top: 981px;
        z-index: 6;
    }

        #element-501 p, #element-501 ul, #element-501 ol, #element-501 h1 {
            font-size: 14px;
            color: rgb(96, 96, 96);
            line-height: 20px;
            text-align: center !important;
        }

    #element-405 {
        height: 68px;
        width: 374px;
        left: 15px;
        top: 1114px;
        z-index: 8;
    }

        #element-405 p, #element-405 ul, #element-405 ol, #element-405 h1 {
            font-size: 24px;
            color: rgb(30, 135, 210);
            line-height: 34px;
            text-align: center !important;
        }

    #element-697 {
        height: 417.21px;
        width: 296px;
        left: 60px;
        top: 1222px;
        z-index: 52;
    }

    #element-640 {
        height: 20px;
        width: 404px;
        left: -5px;
        top: 1659px;
        z-index: 19;
    }

        #element-640 p, #element-640 ul, #element-640 ol, #element-640 h1 {
            font-size: 17px;
            color: rgb(0, 0, 0);
            line-height: 20px;
            text-align: center !important;
        }

    #element-407 {
        height: 34px;
        width: 276px;
        left: 79px;
        top: 1711px;
        z-index: 9;
    }

        #element-407 p, #element-407 ul, #element-407 ol, #element-407 h1 {
            font-size: 14px;
            color: rgb(96, 96, 96);
            line-height: 17px;
            text-align: left !important;
        }

    #element-548 {
        height: 24px;
        width: 24px;
        left: 43px;
        top: 1711px;
        z-index: 10;
    }

    #element-408 {
        height: 51px;
        width: 287px;
        left: 79px;
        top: 1781px;
        z-index: 11;
    }

        #element-408 p, #element-408 ul, #element-408 ol, #element-408 h1 {
            font-size: 14px;
            color: rgb(96, 96, 96);
            line-height: 17px;
            text-align: left !important;
        }

    #element-549 {
        height: 23px;
        width: 23px;
        left: 43px;
        top: 1781px;
        z-index: 12;
    }

    #element-411 {
        height: 34px;
        width: 291px;
        left: 79px;
        top: 1856px;
        z-index: 13;
    }

        #element-411 p, #element-411 ul, #element-411 ol, #element-411 h1 {
            font-size: 14px;
            color: rgb(96, 96, 96);
            line-height: 17px;
            text-align: left !important;
        }

    #element-550 {
        height: 23px;
        width: 23px;
        left: 43px;
        top: 1856px;
        z-index: 14;
    }

    #element-668 {
        height: 57px;
        width: 360px;
        left: 22px;
        top: 1931px;
        z-index: 28;
    }

        #element-668 p, #element-668 ul, #element-668 ol, #element-668 h1 {
            font-size: 16px;
            color: rgb(5, 92, 179);
            line-height: 19px;
            text-align: center !important;
        }

    #element-669 {
        display: none;
    }

    #element-649 {
        height: 58px;
        width: 360px;
        left: 20px;
        top: 40px;
        z-index: 22;
    }

        #element-649 p, #element-649 ul, #element-649 ol, #element-649 h1 {
            font-size: 24px;
            color: rgb(36, 96, 13);
            line-height: 29px;
            text-align: center !important;
        }

    #element-655 {
        height: 70px;
        width: 360px;
        left: 21px;
        top: 146px;
        z-index: 24;
    }

        #element-655 div.timer {
            width: 360px;
            px;
            height: 70px;
            px;
        }

        #element-655 span.timer-values {
            font-size: 54px;
            color: #ff0000;
        }

        #element-655 div.timer-labels {
            font-size: 12px;
            color: #ffffff;
        }

            #element-655 div.timer-labels div.timer-label {
                font-family: Open Sans, sans-serif;
                font-weight: 400;
            }

        #element-655 div.timer-box {
            background-color: #ffff00;
        }

        #element-655 div.colon div {
            background-color: #ffff00;
        }

        #element-655 div.timer-labels {
            display: none;
        }

        #element-655 div.timer {
            height: 70px;
            px;
        }

        #element-655 div.timer-box {
            top: 0;
            height: 100%;
        }

        #element-655 div.colon {
            top: 0;
            height: 100%;
        }

    #element-651 {
        height: 53px;
        width: 230px;
        left: 84px;
        top: 265px;
        z-index: 23;
    }

    #element-690 {
        height: 22px;
        width: 360px;
        left: 20px;
        top: 40px;
        z-index: 49;
    }

        #element-690 p, #element-690 ul, #element-690 ol, #element-690 h1 {
            font-size: 19px;
            color: rgb(0, 0, 0);
            line-height: 22px;
            text-align: left;
        }

    #element-691 {
        height: 280px;
        width: 347px;
        left: 26px;
        top: 81px;
        z-index: 50;
    }

        #element-691 p, #element-691 ul, #element-691 ol, #element-691 h1 {
            font-size: 14px;
            color: rgb(0, 0, 0);
            line-height: 20px;
            text-align: left !important;
        }

    #element-671 {
        height: 78px;
        width: 145px;
        left: 20px;
        top: 50px;
        z-index: 30;
    }

        #element-671 p, #element-671 ul, #element-671 ol, #element-671 h1 {
            font-size: 16px;
            color: rgb(0, 0, 0);
            line-height: 26px;
            text-align: left !important;
        }

    #element-675 {
        height: 52px;
        width: 145px;
        left: 17px;
        top: 273px;
        z-index: 34;
    }

        #element-675 p, #element-675 ul, #element-675 ol, #element-675 h1 {
            font-size: 16px;
            color: rgb(0, 0, 0);
            line-height: 26px;
            text-align: left !important;
        }

    #element-673 {
        height: 52px;
        width: 145px;
        left: 201px;
        top: 50px;
        z-index: 32;
    }

        #element-673 p, #element-673 ul, #element-673 ol, #element-673 h1 {
            font-size: 16px;
            color: rgb(0, 0, 0);
            line-height: 26px;
            text-align: left !important;
        }

    #element-677 {
        height: 52px;
        width: 145px;
        left: 201px;
        top: 273px;
        z-index: 36;
    }

        #element-677 p, #element-677 ul, #element-677 ol, #element-677 h1 {
            font-size: 16px;
            color: rgb(0, 0, 0);
            line-height: 26px;
            text-align: left !important;
        }

    #element-679 {
        height: 52px;
        width: 144px;
        left: 17px;
        top: 521px;
        z-index: 38;
    }

        #element-679 p, #element-679 ul, #element-679 ol, #element-679 h1 {
            font-size: 16px;
            color: rgb(0, 0, 0);
            line-height: 26px;
            text-align: left !important;
        }

    #element-672 {
        height: 175px;
        width: 143px;
        left: 20px;
        top: 89px;
        z-index: 31;
    }

        #element-672 p, #element-672 ul, #element-672 ol, #element-672 h1 {
            font-size: 14px;
            color: rgb(0, 0, 0);
            line-height: 25px;
            text-align: left !important;
        }

    #element-676 {
        height: 200px;
        width: 163px;
        left: 17px;
        top: 299px;
        z-index: 35;
    }

        #element-676 p, #element-676 ul, #element-676 ol, #element-676 h1 {
            font-size: 14px;
            color: rgb(0, 0, 0);
            line-height: 25px;
            text-align: left !important;
        }

    #element-678 {
        height: 175px;
        width: 201px;
        left: 198px;
        top: 306px;
        z-index: 37;
    }

        #element-678 p, #element-678 ul, #element-678 ol, #element-678 h1 {
            font-size: 14px;
            color: rgb(135, 135, 135);
            line-height: 25px;
            text-align: left !important;
        }

    #element-680 {
        height: 150px;
        width: 181px;
        left: 17px;
        top: 569px;
        z-index: 39;
    }

        #element-680 p, #element-680 ul, #element-680 ol, #element-680 h1 {
            font-size: 14px;
            color: rgb(0, 0, 0);
            line-height: 25px;
            text-align: left !important;
        }

    #element-674 {
        height: 150px;
        width: 193px;
        left: 201px;
        top: 89px;
        z-index: 33;
    }

        #element-674 p, #element-674 ul, #element-674 ol, #element-674 h1 {
            font-size: 14px;
            color: rgb(135, 135, 135);
            line-height: 25px;
            text-align: left !important;
        }

    #element-681 {
        height: 11px;
        width: 360px;
        left: 21px;
        top: 732px;
        z-index: 40;
    }

    #element-682 {
        height: 52px;
        width: 145px;
        left: 16px;
        top: 769px;
        z-index: 41;
    }

        #element-682 p, #element-682 ul, #element-682 ol, #element-682 h1 {
            font-size: 16px;
            color: rgb(0, 0, 0);
            line-height: 26px;
            text-align: left !important;
        }

    #element-684 {
        height: 26px;
        width: 164px;
        left: 206px;
        top: 769px;
        z-index: 43;
    }

        #element-684 p, #element-684 ul, #element-684 ol, #element-684 h1 {
            font-size: 16px;
            color: rgb(0, 0, 0);
            line-height: 26px;
            text-align: left !important;
        }

    /*#element-686 {
        height: 26px;
        width: 144px;
        left: 16px;
        top: 1159px;
        z-index: 45;
    }

        #element-686 p, #element-686 ul, #element-686 ol, #element-686 h1 {
            font-size: 16px;
            color: rgb(0, 0, 0);
            line-height: 26px;
            text-align: left !important;
        }*/

    #element-683 {
        height: 175px;
        width: 176px;
        left: 16px;
        top: 821px;
        z-index: 42;
    }

        #element-683 p, #element-683 ul, #element-683 ol, #element-683 h1 {
            font-size: 14px;
            color: rgb(0, 0, 0);
            line-height: 25px;
            text-align: left !important;
        }

    #element-685 {
        height: 150px;
        width: 186px;
        left: 206px;
        top: 821px;
        z-index: 44;
    }

        #element-685 p, #element-685 ul, #element-685 ol, #element-685 h1 {
            font-size: 14px;
            color: rgb(135, 135, 135);
            line-height: 25px;
            text-align: left !important;
        }

    #element-687 {
        height: 190px;
        width: 360px;
        left: 16px;
        top: 1198px;
        z-index: 46;
    }

        #element-687 p, #element-687 ul, #element-687 ol, #element-687 h1 {
            font-size: 14px;
            color: rgb(135, 135, 135);
            line-height: 19px;
            text-align: left !important;
        }

    #element-688 {
        height: 26px;
        width: 229px;
        left: 16px;
        top: 1031px;
        z-index: 47;
    }

        #element-688 p, #element-688 ul, #element-688 ol, #element-688 h1 {
            font-size: 16px;
            color: rgb(0, 0, 0);
            line-height: 26px;
            text-align: left !important;
        }

    #element-689 {
        height: 50px;
        width: 239px;
        left: 16px;
        top: 1070px;
        z-index: 48;
    }

        #element-689 p, #element-689 ul, #element-689 ol, #element-689 h1 {
            font-size: 14px;
            color: rgb(135, 135, 135);
            line-height: 25px;
            text-align: left !important;
        }

    #page-block-o0zmfpqxmtgamo8tjxdklz0k9 {
        height: 146px;
    }

        #page-block-o0zmfpqxmtgamo8tjxdklz0k9 .border-holder {
            background-image: none;
            background-color: #ffffff;
            background-repeat: repeat;
            background-position: top left;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            width: auto;
            border-width: 0;
            border-top-width: 0px;
            border-bottom-width: 0px;
            height: 146px;
        }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page-block-o0zmfpqxmtgamo8tjxdklz0k9 .color-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        opacity: 0.5;
    }

    #page-block-o0zmfpqxmtgamo8tjxdklz0k9 .block-inner {
        margin-top: 0px;
    }

    #page_block_below_fold {
        height: 811px;
    }

        #page_block_below_fold .border-holder {
            background-image: url('../image-marketing/landingpage/12000123-0-bg.png'); 
            background-color: #262626;
            background-repeat: repeat;
            background-position: center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            width: auto;
            border-width: 0;
            border-top-width: 0px;
            border-bottom-width: 0px;
            height: 811px;
        }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page_block_below_fold .color-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: transparent;
        opacity: 1;
    }

    #page_block_below_fold .block-inner {
        margin-top: 0px;
    }

    #page-block-c2ifrlnh7xivbavovg1p58kt9 {
        height: 172px;
    }

        #page-block-c2ifrlnh7xivbavovg1p58kt9 .border-holder {
            background-image: none;
            background-color: #ffffff;
            background-repeat: repeat;
            background-position: top left;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            width: auto;
            border-width: 0;
            border-top-width: 0px;
            border-bottom-width: 0px;
            height: 172px;
        }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page-block-c2ifrlnh7xivbavovg1p58kt9 .color-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        opacity: 0.5;
    }

    #page-block-c2ifrlnh7xivbavovg1p58kt9 .block-inner {
        margin-top: 0px;
    }

    #page-block-5r5x5ssyv3676d37wzu6p3nmi {
        height: 2011px;
    }

        #page-block-5r5x5ssyv3676d37wzu6p3nmi .border-holder {
            background-image: none;
            background-color: #ffffff;
            background-repeat: no-repeat;
            background-position: right center;
            background-size: auto auto;
            -webkit-background-size: auto auto;
            -moz-background-size: auto auto;
            -o-background-size: auto auto;
            width: auto;
            border-width: 0;
            border-top-width: 0px;
            border-bottom-width: 0px;
            height: 2011px;
        }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page-block-5r5x5ssyv3676d37wzu6p3nmi .color-overlay {
    }

    #page-block-5r5x5ssyv3676d37wzu6p3nmi .block-inner {
        margin-top: 0px;
    }

    #page-block-o2g67crqt9wsiwkwed03pu8fr {
        height: 349px;
    }

        #page-block-o2g67crqt9wsiwkwed03pu8fr .border-holder {
            background-image: url('../image-marketing/landingpage/12007253-0-bg--2.png') ;
            background-color: #ff0000;
            background-repeat: repeat-y;
            background-position: center center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            width: auto;
            border-width: 0;
            border-top-width: 0px;
            border-bottom-width: 0px;
            height: 349px;
        }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page-block-o2g67crqt9wsiwkwed03pu8fr .color-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: transparent;
        opacity: 0.50602409638554;
    }

    #page-block-o2g67crqt9wsiwkwed03pu8fr .block-inner {
        margin-top: 0px;
    }

    #page-block-2c4vj2qfzvwuyaxhbig7evzpvi {
        height: 419px;
    }

        #page-block-2c4vj2qfzvwuyaxhbig7evzpvi .border-holder {
            background-image: none;
            background-color: #ffffff;
            background-repeat: repeat;
            background-position: top left;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            width: auto;
            border-width: 0;
            border-top-width: 0px;
            border-bottom-width: 0px;
            height: 419px;
        }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page-block-2c4vj2qfzvwuyaxhbig7evzpvi .color-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        opacity: 0.5;
    }

    #page-block-2c4vj2qfzvwuyaxhbig7evzpvi .block-inner {
        margin-top: 0px;
    }

    #page-block-x08eqw9j1c0h8x7i9pgl7syvi {
           /*height: 642px;*/
        height: 350px;
    }

        #page-block-x08eqw9j1c0h8x7i9pgl7syvi .border-holder {
            background-image: url('../image-marketing/landingpage/11362938-0-footer-background.png'); 
            background-color: transparent;
            background-repeat: repeat;
            background-position: top left;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            width: auto;
            border-width: 0;
            border-top-width: 0px;
            border-bottom-width: 0px;
           /*height: 642px;*/
        height: 350px;
        }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page-block-x08eqw9j1c0h8x7i9pgl7syvi .color-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        opacity: 0.50602409638554;
    }

    #page-block-x08eqw9j1c0h8x7i9pgl7syvi .block-inner {
        margin-top: 0px;
    }
}

@media screen and (min-width: 621px) and (-webkit-max-device-pixel-ratio: 1.5), screen and (min-width: 1000px) and (-webkit-max-device-pixel-ratio: 1.5) {
    .new_mobile .page.page2.mobile .block-inner {
        width: 960px;
    }
}