@{
    var order = (byte)OrderType.Order;
    var deposit = (byte)OrderType.Deposit;
    var commerce = (byte)OrderType.Commerce;
}
<script type="text/html" id="OrderHistory1">
    <div class="box-body table-responsive no-padding">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center w-40">#</th>
                    <th class="text-center"><i class="fa fa-ticket"></i> Code order</th>
                    <th class="text-right"><i class="fa fa-calendar"></i>Time </th>
                    <th class="text-right"><i class="fa fa-money"></i> Value (Currency)</th>
                    <th class="text-right"><i class="fa fa-th-large"></i> Product Number</th>
                    <th class="text-right"><i class="fa fa-user"></i> Staff</th>
                    <th class="text-center"><i class="fa fa-thumb-tack"></i> Status</th>
                </tr>
            </thead>
            <tbody data-bind="template: { name: 'orderByCustomer-list', foreach: listOrderByCustomer }"></tbody>
            <tfoot data-bind="if: listOrderByCustomer().length == 0">
                <tr>
                    <td colspan="5">No data</td>
                </tr>
            </tfoot>
        </table>
        <div data-bind="if: listOrderByCustomer().length > 0" class="mt15">
            <div data-bind="html: pageTitleDetail" class="pull-left"></div>

            <ul class="pagination pagination-sm no-margin pull-right">
                <li data-bind="if: pageDetailStart">
                    <a data-bind="click: function(){ setPageDetail({Page: 1})}" href="javascript:;"><i class="fa fa-angle-double-left"></i></a>
                </li>
                <li data-bind="if: pageDetailNext">
                    <a data-bind="click: function(){ setPageDetail({Page: (pageDetail - 3) < 1 ? 1 : (pageDetail - 3) })}" href="javascript:;">...</a>
                </li>
                <!-- ko foreach: listPageDetail -->
                <li data-bind="css: PageDetail == pageDetail ? 'active' :''  ">
                    <a data-bind="text: PageDetail, click: $parent.setPageDetail" href="javascript:;"></a>
                </li>
                <!-- /ko -->
                <li data-bind="if: pageDetailPrev">
                    <a data-bind="click: function(){ setPageDetail({Page: (pageDetail + 3) > pageTotalDetail ? pageTotalDetail: (pageDetail + 3) })}" href="javascript:;">...</a>
                </li>
                <li data-bind="if: pageDetailEnd">
                    <a data-bind="click: function(){ setPageDetail({Page: pageTotalDetail})}" href="javascript:;"><i class="fa fa-angle-double-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/html" id="orderByCustomer-list">
    <tr>
        <td data-bind="text: (pageDetail-1)*pagesizeDetail + $index()+1" class="text-center"></td>
        <td class="text-center">
            <a data-bind="click: function() {orderTypeViewModel.showViewOrder(Id, Code); }" href="javascript:;"><strong data-bind="text: ReturnCode(Code)"></strong></a>
        </td>
        <td class="text-right">
            <!-- ko if: moment(new Date()).diff(moment(Created), 'days') < 2 -->
            <i class="fa fa-clock-o"></i> <span data-bind="text: moment(Created).locale('vi').startOf().fromNow()" class=""></span>
            <!-- /ko -->
            <!-- ko ifnot: moment(new Date()).diff(moment(Created), 'days') < 2 -->
            <i class="fa fa-clock-o"></i> <span data-bind="text: moment(Created).locale('vi').format('L LTS')" class=""></span>
            <!-- /ko -->
        </td>
        <td data-bind="text: formatNumberic(Total, 'N2')" class="text-right"></td>
        <td class="text-right">
            <strong data-bind="text: formatNumberic(ProductNo, 'N0')"></strong>
        </td>
        <!-- ko if: $parent.active() != 'order-new' -->
        @if (UserState.Type != 0)
        {
            <td class="text-right">
                <span style="display:inline-block"><i class="fa fa-info-circle"></i>&nbsp;<span data-bind="text: UserFullName"></span></span>
            </td>
        }
        <!-- /ko -->
        <td class="text-center">
            <span data-bind="text: statusApp.order[Status].Name, css: statusApp.order[Status].Class"></span>
        </td>
    </tr>
</script>