@{
    var increase = (byte)FundBillType.Increase;
    var diminishe = (byte)FundBillType.Diminishe;
    var order = (byte)OrderType.Order;
    var deposit = (byte)OrderType.Deposit;
}
<script type="text/html" id="moneyfund-list">
    <tr>
        <td data-bind="text: (page-1)*pagesize + $index()+1" class="text-center"></td>
        <td class="text-center">
            <span data-bind="text: statusApp.typeFundBill[Type].Name, css: statusApp.typeFundBill[Type].Class"></span>
        </td>
        <td class="text-center">
            <a data-bind="click: $parent.viewMoneyFundDetail" href="javascript:;"><strong data-bind="text: Code"></strong></a>
        </td>
        <td>
            <i class="fa fa-clock-o"></i> <span data-bind="text: moment(LastUpdated).locale('vi').startOf().fromNow()" class=""></span>
        </td>
        <td class="text-center">
            <!-- ko if: OrderType == @order-->
            <a data-bind="click: orderDetailViewModel.viewOrderDetail.bind($data, OrderId)" href="javascript:;">
                <strong>
                    <span data-bind="text: OrderCode"></span>
                </strong>
            </a>
            <!-- /ko -->
            <!-- ko if: OrderType == @deposit-->
            <a data-bind="click: depositDetailViewModel.showModalDialog.bind($data, OrderId)" href="javascript:;">
                <strong>
                    <span data-bind="text: OrderCode"></span>
                </strong>
            </a>
            <!-- /ko -->
        </td>
        <td class="text-left">
            <span class="text-bold" data-bind="text: AccountantSubjectName + ' - ' + SubjectName"></span><br />
            <span data-bind="text:'(' + SubjectEmail + ')'"></span>
        </td>
        <td data-bind="text: FinanceFundName"></td>
        <td data-bind="text: TreasureName"></td>
        <td align="right" class="text-green">
            <!-- ko if: Increase > 0 -->
            <i class="fa fa-caret-up"></i> <span data-bind="text: formatNumberic(Increase, 'N2')"></span>
            <!-- /ko -->
        </td>
        <td align="right" class="text-red">
            <!-- ko if: Diminishe > 0 -->
            <i class="fa fa-caret-down"></i> <span data-bind="text: formatNumberic(Diminishe, 'N2')"></span>
            <!-- /ko -->
        </td>
        <td class="text-center">
            <span data-bind="text: statusApp.statusFundBill[Status].Name, css: statusApp.statusFundBill[Status].Class"></span>
        </td>
        <td class="text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                    Function <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    @if (CheckPermision(EnumAction.Approvel, EnumPage.FundBill))
                    {
                        <!-- ko if: Status != 1 -->
                        <li><a data-bind="click: $parent.ApprovalFundBill" href="javascript:;"><i class="fa fa-download text-info"></i>Approve transaction </a></li>
                        <!-- /ko -->
                    }
                    @if (CheckPermision(EnumAction.Update, EnumPage.FundBill))
                    {
                        <!-- ko if: Type == @increase -->
                        <li><a data-bind="click: $parent.viewFundBillEdit" href="javascript:;"><i class="fa fa-edit text-primary"></i>Edit</a></li>
                        <!-- /ko -->
                        <!-- ko if: Type == @diminishe -->
                        <li><a data-bind="click: $parent.viewFundBillEditMinus" href="javascript:;"><i class="fa fa-edit text-primary"></i>Sửa</a></li>
                        <!-- /ko -->
                    }
                    @if (CheckPermision(EnumAction.Delete, EnumPage.FundBill))
                    {
                        <!-- ko if: Status != 1 -->
                        <li><a data-bind="click: $parent.DeleteFundBill" href="javascript:;"><i class="fa fa-times-circle text-danger"></i> Delete</a></li>
                        <!-- /ko -->
                    }
                </ul>
            </div>
        </td>
    </tr>
</script>