@{
    ViewBag.Title = "Configure ship charges";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Configure ship charges
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12" id="body-table">
            @Html.Partial("_List")
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->
