.swiper-container .swiper-pagination-bullet {
  width: 12pt;
  height: 12pt;
  background-color: #fff;
  opacity: 0.2;
}
.swiper-container .swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 0.8;
}