<script type="text/html" id="tab-status">
    <ul class="dingdan-nav clearFix" style="width: 100%">
        <li><a href="javascript:void(0)" data-bind="click: $parent.searchStatus.bind($data, 0)">@Resource.Sourcing_WaitingForProgressing (<label class="shenbaojia" data-bind="text: Wait"></label>)</a> </li>
        <li><a href="javascript:void(0)" data-bind="click: $parent.searchStatus.bind($data, 1)">@Resource.Sourcing_Processing (<label class="shenbaojia" data-bind="text: Process"></label>)</a> </li>
        <li><a href="javascript:void(0)" data-bind="click: $parent.searchStatus.bind($data, 2)">@Resource.Order_StatusComplete (<label class="shenbaojia" data-bind="text: Success"></label>)</a> </li>
        <li><a href="javascript:void(0)" data-bind="click: $parent.searchStatus.bind($data, 3)">@Resource.Order_StatusDestroy (<label class="shenbaojia" data-bind="text: Cancel"></label>)</a> </li>
    </ul>
</script>