<script type="text/html" id="package-list">
    <tr>
        <td class="text-center">1</td>
        <td class="text-center">
            <a data-bind="click: viewpackageDetailModal" href="javascript:;"><strong>MVĐ01001201212</strong></a>
        </td>
        <td class="text-center">
            <a href="javascript:;"><strong>ORD12121112</strong></a>
        </td>
        <td class="text-center">
            <a data-bind="click: viewpackageDetailModal" href="javascript:;"><strong>USER01201212 - Nguyễn Văn Nam</strong></a>
        </td>
        <td class="text-center">
            <i class="fa fa-clock-o"> 3 days later</i>
        </td>
        <td class="text-center">
            <span class="label label-default">Waiting to be approved</span>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-sm btn-primary btn-xs"><i class="fa fa-edit"></i>Edit</a>
            <a href="#" class="btn btn-sm btn-danger btn-xs"><i class="fa fa-trash"></i> Delete </a>
        </td>
    </tr>

</script>