<script type="text/html" id="user-website-list">
    <tr>
        <td data-bind="text: $index()+1" class="text-center"></td>
        <td data-bind="text: FullName + '(' + UserName + ')'" class="text-left"></td>
        <td class="text-center">
            <input data-bind="checked: Taobao" type="checkbox"/>
        </td>
        <td class="text-center">
            <input data-bind="checked: W1688" type="checkbox" />
        </td>
        <td class="text-center">
            <input data-bind="checked: Tmall" type="checkbox" />
        </td>
    </tr>
</script>