<script type="text/html" id="user-website">
    <div class="box box-primary">
        <form data-bind="submit: clickSearch" role="form">
            <div class="box-body">
                <div class="row">
                    <section class="col-md-3 form-group">
                        <label>Order staff</label>
                        <select data-bind="value: userId" class="form-control user-search" style="width: 100%;"></select>
                    </section>
                    <div class="col-md-4">
                        <label>
                        </label><br />
                        <button data-bind="click: clickSearch" type="button" class="btn btn-danger search-list"><i class="fa fa-search"></i> Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12" id="body-table">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Staff list</h3>
                </div>
                <div class="box-body">
                    <div class="tabbable page-tabs">
                        <div class="tab-content">
                            <div class="tab-pane active fade in" id="all-tasks">
                                <div class="box-body table-responsive no-padding">
                                    <div data-bind="css: isRending() == true? 'display-none' : ''">
                                        <div class="spinner">
                                            <div class="rect1"></div>
                                            <div class="rect2"></div>
                                            <div class="rect3"></div>
                                            <div class="rect4"></div>
                                            <div class="rect5"></div>
                                        </div>
                                    </div>
                                    <div data-bind="css: isRending() == true? '' : 'display-none'" class="display-none">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center w-40">#</th>
                                                    <th class="text-center"><i class="fa fa-user"></i> Staff</th>
                                                    <th class="text-center"><i class="fa fa-globe"></i> Create package</th>
                                                    <th class="text-center"><i class="fa fa-globe"></i> 1688</th>
                                                    <th class="text-center"><i class="fa fa-globe"></i> Tmall</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="template: { name: 'user-website-list', foreach: listOrder}"></tbody>
                                            <tfoot data-bind="if: listOrder().length == 0">
                                                <tr>
                                                    <td colspan="5">No staff found</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>

                                <div data-bind="if: listOrder().length > 0" class="mt15 mb100">
                                    <div data-bind="html: pageTitle" class="pull-left"></div>

                                    <ul class="pagination pagination-sm no-margin pull-right">
                                        <li data-bind="if: pageStart">
                                            <a data-bind="click: function(){ setPage({Page: 1})}" href="javascript:;"><i class="fa fa-angle-double-left"></i></a>
                                        </li>
                                        <li data-bind="if: pageNext">
                                            <a data-bind="click: function(){ setPage({Page: (page - 3) < 1 ? 1 : (page - 3) })}" href="javascript:;">...</a>
                                        </li>
                                        <!-- ko foreach: listPage -->
                                        <li data-bind="css: Page == page ? 'active' :''  ">
                                            <a data-bind="text: Page, click: $parent.setPage" href="javascript:;"></a>
                                        </li>
                                        <!-- /ko -->
                                        <li data-bind="if: pagePrev">
                                            <a data-bind="click: function(){ setPage({Page: (page + 3) > pageTotal ? pageTotal: (page + 3) })}" href="javascript:;">...</a>
                                        </li>
                                        <li data-bind="if: pageEnd">
                                            <a data-bind="click: function(){ setPage({Page: pageTotal})}" href="javascript:;"><i class="fa fa-angle-double-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>