@{
    ViewBag.Title = "ShippingOrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{
    @Html.Partial("~/Views/Partial/_Header.cshtml")
}
<section class="zy-main">
    <ul class="zy-main-top">
        <li class="dg-tijiao lete-active">
            <span></span>
            <a href="#"> Gửi một danh sách các mục </a>
            <label></label>
        </li>
        <li class="dg-caigourucang lete-hover">
            <span></span>
            <a href="#"> nhận kho Lete </a>
            <label></label>
        </li>
        <li class="dg-guojiyunfei lete-hover">
            <span></span>
            <a href="#"> Thanh toán cước phí quốc tế </a>
            <label></label>
        </li>
        <li class="dg-fahaiwai lete-hover">
            <span></span>
            <a href="#"> Vận chuyển tới các điểm </a>
            <label></label>
        </li>
        <li class="dg-shouhuo lete-hover">
            <span></span>
            <a href="#"> Chứng nhận nhận </a>
        </li>
    </ul>
    <div class="zy-main-content">
        <div class="zy-main-content-msg">
            <div class="zy-main-content-msg-l" style="border-right: 1px solid rgb(241, 241, 241);">
                <h1> Thông tin đặt hàng </h1>
                <span> Số thứ tự: 2016110170285 </span>
                <div class="zy-main-content-msg-l-hr"></div>
                <p> Đăng ngày: 2016/11/01 15:15:43 </p>
                <div class="zy-main-content-msg-l-hr"></div>
                <p> Tổng số hàng hóa: 0,00 nhân dân tệ </p>
                <div class="zy-main-content-msg-l-hr"></div>
                <div class="zy-main-content-msg-l-box">
                    <div class="zy-main-content-msg-l-box-l">

                        Các tính năng:
                    </div>
                    <div class="zy-main-content-msg-l-box-r">
                        <div class="zy-main-content-msg-l-box-r-box">
                            <p> Tháo bao bì đơn giản tăng cường + </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="zy-main-content-msg-r">
                <h1>
                    <img src="~/Content/images/icon-service/zy_notice_icon.png" />
                    Tình hình đơn hàng: Hủy!
                </h1>
                <p> · Cảm ơn bạn đã sử dụng dịch vụ vận tải ở nước ngoài nền tảng lete! </p>
                <p>

                    • Bạn cũng có thể

                   
                    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
                    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/plugin.client.js" charset="utf-8"></script>
                </p>
            </div>
        </div>
        <div class="zy-main-content-list">
            <ul class="zy-main-content-list-top">
                <li> mục thể loại </li>
                <li> Đặt hàng Chi tiết </li>
                <li> Giá / lượng </li>
                <li> Trọng lượng / Bao bì </li>
                <li> Nội dung </li>
                <li> Tình hình đơn hàng </li>
                <li> Thông tin nhanh </li>
            </ul>
            <ul class="zy-main-content-list-main">
                <li><p> quần áo </p><label> ? </label></li>
                <li>
                    <div class="zy-main-content-list-img">
                        <img src="~/Content/images/icon-transport/zhuanyun_icon.jpg" />
                    </div>
                    <div class="zy-main-content-list-text">
                        <p> https://detail.1688.com/offer/41087791440.html?spm=a261y.7663282.0.0.V6Z0MM </p>
                    </div>
                </li>
                <li><p> Khai báo giá: ¥ 231,313.00  <label> ? </label></p> Số: 5 </li>
                <li>
                    <p>

                        Trọng lượng: Không
                    </p>
                    <p>	</p>
                </li>
                <li>

                    sdsafs
                </li>
                <li>
                    <span>

                        không
                    </span>
                    																																																																												<a>联系客服</a>						-->
                </li>
                <li>
                    &nbsp;
                </li>
            </ul>
            <ul class="zy-main-content-list-main">
                <li><p> Trường hợp điện thoại </p><label> ? </label></li>
                <li>
                    <div class="zy-main-content-list-img">
                        <img src="~/Content/images/icon-transport/zhuanyun_icon.jpg" />
                    </div>
                    <div class="zy-main-content-list-text">
                        <p> https://detail.1688.com/offer/41087791440.html?spm=a261y.7663282.0.0.V6Z0MM </p>
                    </div>
                </li>
                <li><p> Khai báo giá: 1.313.132,00 ¥  <label> ? </label></p> Số: 5 </li>
                <li>
                    <p>

                        Trọng lượng: Không
                    </p>

                    <p></p>
                </li>
                <li>

                    fsfsf
                </li>
                <li>
                    <span> không  </span> 																																																																													<a>联系客服</a>						-->
                </li>
                <li>
                    &nbsp;
                </li>
            </ul>
            <div class="ul-zhezhao" style="height: 177px;">
                <div class="ul-zhezhao-box" style="margin-top: 76px;">
                    <p> Không có thông tin hậu cần </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="x" style="position: absolute; top: 0; float: right; width: 100%; z-index: 0; display: table; width: 300px; right: 0;">
    <sticknav>
        <section class="chat-with-web">
            <div class="block-chatbox">
                <div class="rs header-chat">
                    <a>
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                        Trao đổi với chúng tôi
                    </a>

                    <a class="show-hide-chatbox">
                        <i class="fa fa-angle-up" id="up-chatbox"></i>
                        <i class="fa fa-angle-down" id="down-chatbox"></i>
                    </a>
                </div>
                <div class="content-chat">
                    <div id="599406">
                        <div class="info-user-chatbox">
                            <img src="http://s.ecliptix.net/thumb/square/w_32/media/useravatar/102016/58039d74cb4d1_1476631924.jpg" alt="">

                            <p class="show-name blue-green font-13 ">
                                <span class="bold ">Hoài Thu</span> <br>
                            </p>
                            <p class="show-time font-11 text-right text-gray">
                                11:10 05/10
                            </p>
                            <p class="show-content content-customer blue-green sub-link-sd break-word-sd">
                                Chào Bạn. Seudo tiếp nhận yêu cầu giao trên đơn của Bạn và chuyển tới kho sắp xếp giao hàng cho Bạn ạ.
                            </p>
                        </div>

                        <div class="info-user-chatbox">

                            <p class="show-status text-old font-11">
                                <span class="bold">Trần Văn Hiệp</span> Kiện hàng 808531796 chuyển trạng thái đang giao khi xuất phiếu giao hàng SA9536_3405173
                                &nbsp;&nbsp; 10:47 05/10
                            </p>
                        </div>

                        <div class="info-user-chatbox">

                            <p class="show-status text-old font-11">
                                <span class="bold">MaiCua </span> Yêu cầu giao đơn hàng này
                                &nbsp;&nbsp; 09:14 05/10
                            </p>

                            <!---------------->
                            <!--hiển thị ảnh-->
                            <!---------------->
                        </div>

                        <div class="info-user-chatbox">

                            <img src="http://www.gravatar.com/avatar/c9319e322fcea054012d14e50e6b3453?s=32&amp;d=identicon&amp;r=g" alt="">

                            <p class="show-name blue-green font-13 ">
                                <span class="bold text-red">MaiCua </span>
                            </p>

                            <p class="show-time font-11 text-right text-gray">
                                08:08 05/10
                            </p>
                            <p class="show-content content-customer blue-green sub-link-sd break-word-sd">
                                Sếu đỏ Giao cho mình đến 100 LĐ nhé! mình viết thiếu địa chỉ giao hàng. Tkss
                            </p>

                            <!---------------->
                            <!--hiển thị ảnh-->
                            <!---------------->
                        </div>

                        <div class="info-user-chatbox">

                            <p class="show-status text-old font-11">
                                <span class="bold">MaiCua </span> Thanh toán đơn hàng SA9536_33281 với số tiền 353846đ
                                &nbsp;&nbsp; 08:01 05/10
                            </p>

                            <!---------------->
                            <!--hiển thị ảnh-->
                            <!---------------->
                        </div>

                        <div class="info-user-chatbox">

                            <p class="show-status text-old font-11">
                                Chuyển trạng thái kiện hàng 808531796 sang Chờ giao hàng
                                &nbsp;&nbsp; 19:07 04/10
                            </p>

                            <!---------------->
                            <!--hiển thị ảnh-->
                            <!---------------->
                        </div>
                    </div>
                </div>
                <div class="rs bottom-chat-box">
                    <textarea name="" id="_contentMessage" class="form-control block-chatbox-area" cols="15" rows="2" placeholder="Quý khách có thể trao đổi với chúng tôi tại đây"></textarea>
                    <button id="_sendMessage" type="button" class="btn"> Gửi</button>
                </div>
            </div>
        </section>
    </sticknav>
</div>
@section scripts{
    <script src="~/Content/js/tab-content.js"></script>
    <script src="~/Content/js/chat-box.js"></script>

}