
@{ 
    Layout = null;
}
<section class="faq">
    <div class="faq-nav">
        <div class="faq-nav-top">
            Câu hỏi thường gặp
        </div>
        <div class="faq-nav-box">
            <h1>Hướng dẫn<span></span></h1>
            <ul style="display: block;">
                <li>
                    <a class="tablinks" onclick="tabFAQ(event, 'dathang')" id="defaultOpen">Đặt hàng</a>
                </li>
                <li>
                    <a class="tablinks" onclick="tabFAQ(event, 'timnguonhang')">Tìm nguồn hàng</a>
                </li>
                <li>
                    <a class="tablinks" onclick="tabFAQ(event, 'naptienvidientu')">Nạp tiền ví điện tử</a>
                </li>
            </ul>
        </div>
        <div class="faq-nav-box">
            <h1>Bảng giá<span></span></h1>
            <ul style="display: block;">
                <li>
                    <a class="tablinks" onclick="tabFAQ(event, 'dvdathang')">Dịch vụ đặt hàng</a>
                </li>
                <li>
                    <a class="tablinks" onclick="tabFAQ(event, 'dvkygui')">Dịch vụ ký gửi</a>
                </li>
                <li>
                    <a class="tablinks" onclick="tabFAQ(event, 'dvtimnguon')">Dịch vụ tìm nguồn</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="faq-content tabcontent" id="dathang">
        <div class="faq-content-msg">
            <h3>Hướng dẫn đặt hàng</h3>
        </div>
        <div class="faq-content-msg">
            <p>
                <span class="bold red-color">Bước 1: Đăng kí tài khoản trên nhaphangkinhdoanh.com:</span> <br />
            </p>
            <p>
                <span class="bold red-color">Bước 2: Cài đặt công cụ hỗ trợ đặt hàng</span> <br />
            </p>

            <p>
                *Lưu ý: Sử dụng máy tính để cài đặt công cụ và đặt hàng, không hỗ trợ cho điện thoại di động.
                Công cụ đặt hàng tại <span style="color: #FA9237 !important;"><a href="https://chrome.google.com/webstore/detail/order-tool-for-nhaphangki/dkodpapicpniilofliibpjfahphljjnd"></a> ĐÂY</span>
            </p>
            <p>
                <span class="bold red-color">Bước 3: Tạo đơn hàng</span> <br />
            </p>

            <p> –Sau khi bạn tìm được sản phẩm ưng ý trên các website: Taobao, Tmall, 1688. Bạn chọn các thuộc tính cho sản phẩm ( ví dụ: Size, Màu sắc, Số lượng..) sau đó nhấn vào nút THÊM VÀO GIỎ HÀNG. Hệ thống sẽ chuyển đến phần thông tin giỏ hàng</p>
            <p> -Thực hiện thao tác KẾT ĐƠN khi chắc chắn rằng trong đơn hàng đã có đầy đủ các sản phẩm bạn muốn mua.</p>
            <p>
                <span class="bold red-color"> Bước 4: Đặt cọc  </span> <br />
            </p>

            <p>Thực hiện thao tác ĐẶT CỌC, số tiền đặt cọc sẽ trừ từ tài khoản ví điện tử của bạn.</p>
            <p>Có 2 hình thức đặt cọc bạn có thể chọn:</p>
            <p>– Nộp tiền mặt tại văn phòng nhaphangkinhdoanh.com</p>
            <p>- Chuyển khoản qua ngân hàng. Số tài khoản bạn vui lòng tham khảo tại <span style="color:#FA9237 !important"><a href="/en/tai-khoan/quan-ly-vi-dien-tu"></a> ĐÂY</span></p>
            <p>
                <span class="bold red-color">Bước 5: Nhận hàng </span> <br />
            </p>

            <p>  Khi đơn hàng của bạn về tới kho của chúng tôi, trước khi nhaphangkinhdoanh thực hiện việc giao hàng cho bạn, bạn cần thanh toán phí vận chuyển và tiền hàng còn thiếu.</p>
        </div>
    </div>

    <div class="faq-content tabcontent" id="timnguonhang">
        <div class="faq-content-msg">
            <h3>Tìm kiếm sản phẩm</h3>
        </div>
        <div class="faq-content-msg">

            <p>
                Để mua được một sản phẩm tốt thì việc đầu tiên các bạn cần làm là tìm
                kiếm thông tin của sản phẩm và thông tin của người bán sản phẩm đó.
                Có rất nhiều bạn lo lắng khi mua hàng trên các website Trung Quốc vì
                không biết tiếng Trung. Hiểu được điều băn khoăn này, NHKD xin hướng
                dẫn các bạn cách tìm kiếm và order hàng trung quốc trên
                <span class="span-color">nhaphangkinhdoanh.com </span>  cực đơn giản
                dưới đây:
            </p>
            <p>
                <span class="bold red-color">CÁCH 1:</span>
            </p>

            <p>
                1. Nhập tên mặt hàng bạn quan tâm (bằng tiếng Việt) vào ô tìm kiếm trên trang
                chủ <a href="/en" class="span-color">http://nhaphangkinhdoanh.com</a>  hoặc trên thanh
                công cụ đặt hang. Sau đó, lựa chọn loại sản phẩm cần tìm từ danh sách gợi ý; <br />
                2. Chọn website mà bạn muốn mua sản phẩm (1688.com, taobao.com, tmall.com); <br />
                3. Nhấp chuột vào nút TÌM KIẾM. <br />
            </p> <br />
            <p class="text-center">
                <img src="~/Content/images/icon-home/Timnguon1.png">
            </p>
            <br />
            <p>
                <span class="bold red-color">
                    CÁCH 2:
                </span> <br />
            </p>
            <p>

                Sau đó, hệ thống sẽ mở ra trang danh sách sản phẩm tương ứng
                với yêu cầu tìm kiếm của bạn. Tại đây, bạn có thể sử dụng các
                chức năng lọc để thu hẹp phạm vi tìm kiếm, hoặc các chức năng
                sắp xếp để sắp xếp lại thứ tự các sản phẩm theo các tiêu chí
                mong muốn, nhằm tìm ra các sản phẩm ưng ý.
            </p> <br />
            <p class="text-center">
                <img src="~/Content/images/icon-home/Timnguon2.png">
            </p>
            <br />
            <p>
                Bạn nhấp chuột vào các sản phẩm ưng ý, để mở ra trang chi tiết sản phẩm như hình dưới đây.
                <span style="font-weight:bold"> * Lưu ý</span> : Giá sản phẩm mặc định đã được quy đổi sang tiền Việt Nam (vnd) và đã bao gồm phí dịch vụ.
            </p>
            <br />
            <p class="text-center">
                <img src="~/Content/images/icon-home/Timnguon3.png">
            </p>
            <br />
            <p class="text-center">
                <img src="~/Content/images/icon-home/Timnguon4.png">
            </p>
            <br />

            <p>
                Tại trang Chi tiết sản phẩm như hình trên, ngoài các thông tin về
                sản phẩm thì bạn có thể dựa vào các thông tin để đánh giá về độ uy
                tín của người bán cũng như những đánh giá của những người mua trước
                đó về sản phẩm này. Cụ thể như sau: <br />

                <span class="bold red-color"> 1. Danh hiệu của người bán: </span>được thể hiện bằng 15
                cấp độ cao dần phụ thuộc vào doanh số bán hàng tích lũy
                (từ Huy chương đến Vương miện), khi click chuột vào biểu
                tượng sẽ bạn sẽ thấy bảng tiêu chí đánh giá của hệ thống
                alibaba ở đây. <br />
            </p>  <br />
            <p class="text-center">
                <img src="~/Content/images/icon-home/Timnguon5.png">
            </p> <br />
            <p>
                <span class="bold red-color">
                    2. Cấp giao dịch:
                </span> là cấp bậc giao dịch dựa trên doanh số bán hàng của Người
                bán đó trong vòng 30 ngày. Bạn có thể xem phương thức đánh giá ở đây. <br />
                <span class="bold red-color">
                    3. Lượng giao dịch:
                </span> là số sản phẩm thực tế đã giao dịch thành công.
                Thông thường, một sản phẩm bán được càng nhiều thì chứng tỏ sản
                phẩm đó càng uy tín. <br />
                <span class="bold red-color">4. Đánh giá/nhận xét:</span> Đây là những
                đánh giá của những người đã mua sản phẩm trước đó. Ngoài việc để
                lại các lời nhận xét, thì người mua có thể đánh giá bằng thang điểm
                từ  1-5 "sao".
            </p> <br />
        </div>
    </div>

    <div class="faq-content tabcontent" id="naptienvidientu">
        <div class="faq-content-msg">
            <h3>Hướng dẫn nạp tiền ví điện tử</h3>
        </div>
        <div class="faq-content-msg">
            <p>Có 2 hình thức đặt cọc bạn có thể chọn:</p>
            <p>– Nộp tiền mặt tại văn phòng nhaphangkinhdoanh.com</p>
            <p>-Chuyển khoản qua ngân hàng. Số tài khoản bạn vui lòng tham khảo tại <span style="color:#FA9237 !important"><a href="/en/tai-khoan/quan-ly-vi-dien-tu"></a> ĐÂY</span></p>
        </div>
    </div>

    <div class="faq-content tabcontent" id="dvdathang">
        <div class="faq-content-msg">
            <h3>Bảng giá dịch vụ đặt hàng</h3>
        </div>
        <div class="faq-content-msg tabbable-custom rs" style="box-sizing: border-box;">

            <ul class="nav nav-tabs border-tab nav-view rs">
                <li class="tab-margin" onclick="tabServiceCharge(event, 'phiCD')" id="defaultOpen2">
                    <a aria-expanded="true">Phí cố định</a>
                </li>
                <li class="tab-margin" onclick="tabServiceCharge(event, 'phiDVK')">
                    <a aria-expanded="false">Phí dịch vụ khác</a>
                </li>
            </ul>

            <div class="rs tabcontent2 mg-t-15" id="phiCD">
                <p>Phí cố định là phí bắt buộc cho mọi đơn hàng, bao gồm: Phí dịch vụ (1), Phí vận chuyển nội địa Trung Quốc (2), Phí vận chuyển Trung Quốc - Việt Nam (3)</p>
                <p>
                    <span class="bold red-color">1.Phí dịch vụ</span> <br />
                </p>
                <p>Phí dịch vụ mua hàng = Giá trị đơn hàng (không bao gồm phí ship Trung Quốc) * % phí dịch vụ</p>

                <p class="text-left">* Bảng phần trăm phí dịch vụ mua hàng</p>

                <div class="zichan-zijin zichan-box rs">
                    <p class="curent-quotation">Đơn vị: %</p>
                    <table class="table table-product" border="1" cellpadding="1" cellspacing="1">
                        <thead>
                            <tr>
                                <th rowspan="2"><h4>Giá trị đơn hàng(VND)</h4></th>
                                <th colspan="2" class="morestandard"><h4>Phí dịch vụ</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center"> &lt; 1 triệu</td>
                                <td class="text-center">12.0%</td>
                            </tr>
                            <tr>
                                <td class="text-center"> 1 triệu &lt; giá trị đơn hàng &lt; 2 triệu</td>
                                <td class="text-center"> 8.0%</td>
                            </tr>
                            <tr>
                                <td class="text-center"> 2 triệu = Giá trị đơn hàng &lt; 30 triệu</td>
                                <td class="text-center"> 4.0%</td>
                            </tr>
                            <tr>
                                <td class="text-center"> ≥30 triệu</td>
                                <td class="text-center"> 3.5%</td>
                            </tr>
                            <tr>
                                <td class="text-center"> &gt;50 triệu</td>
                                <td class="text-center"> 3.0%</td>
                            </tr>
                            <tr>
                                <td class="text-center"> &gt;100 triệu</td>
                                <td class="text-center"> 2.5%</td>
                            </tr>
                            <tr>
                                <td class="text-center"> &gt;200 triệu</td>
                                <td class="text-center"> 2.0%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <p class="rs">
                    <span class="bold red-color">2.Phí vận chuyển nội địa Trung Quốc</span> <br />
                </p>

                <p>
                    Do nhà bán hàng cung cấp thông tin phụ thuộc vào phí vận chuyển nội địa Trung Quốc thực tế
                </p> <br />
                <p>
                    <span class="bold red-color">3.Phí vận chuyển Trung Quốc - Việt Nam</span> <br />
                </p>

                <p class="text-left">* Cước vận chuyển từ Trung Quốc về Việt Nam</p>

                <div class="zichan-zijin zichan-box rs">
                    <p class="curent-quotation">Đơn vị: VND</p>
                    <table class="table table-product" border="1" cellpadding="1" cellspacing="1">
                        <thead>
                            <tr>
                                <th rowspan="2" style="width: 30%;">&nbsp;</th>
                                <th class="morestandard" colspan="4" style="width: 70%;"><h4>Phí dịch vụ</h4></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th style="padding: 5px; width: 30%;">Số cân</th>
                                <th style="padding: 5px; width: 35%;">Hà Nội</th>
                                <th style="padding: 5px; width: 35%;">Hồ Chí Minh</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">&lt; 10kg </td>
                                <td class="text-center">25.000 </td>
                                <td class="text-center">33.000</td>
                            </tr>
                            <tr>
                                <td class="text-center">10-30kg </td>
                                <td class="text-center">20.000 </td>
                                <td class="text-center">28.000</td>
                            </tr>
                            <tr>
                                <td class="text-center">&gt; 30kg </td>
                                <td class="text-center">15.000 </td>
                                <td class="text-center">23.000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>&nbsp;</p>
            </div>

            <div class="rs tabcontent2 mg-t-15" id="phiDVK">
                <p>Là chi phí phải trả khi sử dụng các dịch vụ gia tăng</p>
                <p class="rs">
                    <span class="bold red-color">1.Phí kiểm đếm</span> <br />
                </p>

                <div class="zichan-zijin zichan-box rs">
                    <p class="curent-quotation">Đơn vị: VND/sp</p>
                    <table width="100%" border="1" cellpadding="0" cellspacing="0" class="table table-product">
                        <thead>
                            <tr>

                                <th class="morestandard"><h4>Số lượng sản phẩm/đơn</h4></th>
                                <th class="morestandard"><h4>Mức phí thu (nghìn/sản phẩm)</h4></th>
                                <th class="morestandard"><h4>Mức phí thu sản phẩm phụ kiện &lt; 10 tệ</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1-2 sản phẩm</td>
                                <td class="text-center">5.000</td>
                                <td class="text-center">1.500</td>
                            </tr>
                            <tr>
                                <td class="text-center">3-10 sản phẩm</td>
                                <td class="text-center">3.500</td>
                                <td class="text-center">1.000</td>
                            </tr>
                            <tr>
                                <td class="text-center">11-100 sản phẩm</td>
                                <td class="text-center">2.000</td>
                                <td class="text-center">700</td>
                            </tr>
                            <tr>
                                <td class="text-center">101-500 sản phẩm</td>
                                <td class="text-center">1.500</td>
                                <td class="text-center">700</td>
                            </tr>
                            <tr>
                                <td class="text-center">&gt;500 sản phẩm</td>
                                <td class="text-center">1.000</td>
                                <td class="text-center">700</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <br />
                <p class="rs mg-t-15">
                    <span class="bold red-color">2.Phí đóng gỗ</span> <br />
                </p>


                <div class="zichan-zijin zichan-box rs">
                    <p class="curent-quotation">Đơn vị: NDT</p>
                    <table width="100%" border="1" cellpadding="0" cellspacing="0" class="table table-product">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="morestandard"><h4>Kg đầu tiên</h4></th>
                                <th class="morestandard"><h4>Kg tiếp theo</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    <p>Phí đóng kiện</p>
                                </td>
                                <td class="text-center">20 tệ</td>
                                <td class="text-center">0.8 tệ</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="faq-content tabcontent" id="dvkygui">
        <div class="faq-content-msg">
            <h3>Bảng giá dịch vụ ký gửi</h3>
        </div>
        <div class="faq-content-msg">

            <p>
                Phí dịch vụ ký gửi hàng hóa bao gồm: <span class="bold red-color">Phí vận chuyển</span> (1) + <span class="bold red-color">Phí đóng gói kiện hàng</span> (2)
            </p>
            <br />
            <p>
                <span class="bold red-color">1.Phí vận chuyển</span>
            </p>

            <p class="text-left">* Công thức quy đổi cân nặng: ( Dài x Rộng x Cao )/6.000</p>
            <p class="text-left" style="font-weight: 700;">Đối với những kiện hàng trên 50kg, đơn giá vận chuyển như sau</p>

            <div class="zichan-zijin zichan-box rs">
                <p class="curent-quotation">Đơn vị: VND/Kg</p>
                <table class="table table-product" border="1" cellpadding="1" cellspacing="1">
                    <thead>
                        <tr>
                            <th class="text-center" rowspan="2">Địa điểm nhận hàng</th>
                            <th class="text-center" rowspan="2">Hình thức vận chuyển</th>
                            <th class="text-center" rowspan="2">Thời gian nhận hàng</th>
                            <th class="text-center morestandard">Vip 0</th>
                            <th class="text-center morestandard">Vip 1</th>
                            <th class="text-center  morestandard">Vip 2</th>
                        </tr>
                        <tr>
                            <th class="text-center">Khối lượng hàng <br /> vận chuyển &lt;= 2 tấn/tháng</th>
                            <th class="text-center">
                                Khối lượng hàng <br /> vận chuyển &gt; 2 tấn/tháng
                            </th>
                            <th class="text-center">Khối lượng hàng <br /> vận chuyển &gt; 5 tấn/tháng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center morestandard">
                                <p>Hà Nội</p>
                            </td>
                            <td class="text-center">&nbsp;</td>
                            <td class="text-center">2 ngày</td>
                            <td class="text-center">17.000</td>
                            <td class="text-center">15.000</td>
                            <td class="text-center">14.000</td>
                        </tr>
                        <tr>
                            <td class="text-center morestandard">
                                <p>Hồ Chí Minh</p>
                            </td>
                            <td class="text-center">Đi chậm</td>
                            <td class="text-center">4.5 - 5 ngày</td>
                            <td class="text-center">22.000</td>
                            <td class="text-center">20.000</td>
                            <td class="text-center">19.000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <p class="text-left mg-t-15 rs" style="font-weight: 700;">Đối với những kiện hàng dưới 50kg, phí vận chuyển được tính như sau :</p>

            <p style="font-style: italic;">
                * Phí vận chuyển bằng 100¥ cho cân nặng đầu tiên và tính theo bảng giá (bảng 1) cho số cân nặng còn lại
            </p>
            <p class="text-center bold red-color">
                Phí vận chuyển = 100¥ + (Số cân nặng - 1) x Đơn giá (bảng 1)
            </p>
            <p>
                <span class="bold red-color">2.Phí đóng gói kiện hàng</span>
            </p>
            <p>
                Phí đóng gói kiện hàng = 50.000 x Số kiện (VND)
            </p>
        </div>
    </div>

    <div class="faq-content tabcontent" id="dvtimnguon">
        <div class="faq-content-msg">
            <h3>Bảng giá dịch vụ tìm nguồn</h3>
        </div>
        <div class="faq-content-msg">

            <div class="zichan-zijin zichan-box rs">
                <p class="curent-quotation">Đơn vị: VND</p>
                <table class="table table-product" border="1" cellpadding="1" cellspacing="1">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th class="morestandard">Chức năng</th>
                            <th class="morestandard">Gói cơ bản</th>
                            <th class="morestandard">Hình thức</th>
                            <th class="morestandard">Gói VIP</th>
                            <th class="morestandard">Hình thức</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center" rowspan="4">Trước mua hàng</td>
                            <td class="text-center">Tìm kiếm từ khóa, link tổng hợp <br /> theo yêu cầu của khách hàng</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">&nbsp;</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="text-center">Phân tích người bán ( Quy mô, <br /> chiết khấu, độ uy tín, chính sách <br /> bảo hành,hỗ trợ khác ...)</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">&nbsp;</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="text-center">Đàm phán giá tối ưu</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">Chia tỷ lệ 50-50</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">Chia tỷ lệ 10-90</td>
                        </tr>
                        <tr>
                            <td class="text-center">Thẩm định trực tiếp cơ sở <br /> sản xuất, công ty, sản phẩm <br /> tại kho, nhà máy người bán</td>
                            <td class="text-center"><i class="fa fa-times bold red-color" aria-hidden="true"></i></td>
                            <td class="text-center">&nbsp;</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="text-center" rowspan="8">Giao dịch</td>
                            <td class="text-center">Giao dịch mẫu</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">Mất phí</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">Free</td>
                        </tr>
                        <tr>
                            <td class="text-center">Soạn thảo hợp đồng</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">&nbsp;</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="text-center">Thiết kế logo, tem mác theo yêu cầu</td>
                            <td class="text-center"><i class="fa fa-times bold red-color" aria-hidden="true"></i></td>
                            <td class="text-center">&nbsp;</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="text-center">Tư vấn CO, CQ, chính sách XNK</td>
                            <td class="text-center"><i class="fa fa-times bold red-color" aria-hidden="true"></i></td>
                            <td class="text-center">&nbsp;</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="text-center">Tư vấn chính sách đại lý, <br /> đại lý độc quyền</td>
                            <td class="text-center"><i class="fa fa-times bold red-color" aria-hidden="true"></i></td>
                            <td class="text-center">&nbsp;</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="text-center">Tối ưu đóng gói, bảo quản <br /> sản phẩm, vận tải hàng hóa</td>
                            <td class="text-center"><i class="fa fa-times bold red-color" aria-hidden="true"></i></td>
                            <td class="text-center">&nbsp;</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="text-center">Ưu đãi phí giao dịch</td>
                            <td class="text-center"><i class="fa fa-times bold red-color" aria-hidden="true"></i></td>
                            <td class="text-center">20%</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">80%</td>
                        </tr>
                        <tr>
                            <td class="text-center">Ưu đãi phí vận chuyển</td>
                            <td class="text-center"><i class="fa fa-times bold red-color" aria-hidden="true"></i></td>
                            <td class="text-center">1000đ/kg</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">2000đ/kg</td>
                        </tr>
                        <tr>
                            <td class="text-center" rowspan="3">Sau mua hàng</td>
                            <td class="text-center">Giải quyết tranh chấp, <br /> khiếu nại phát sinh</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">&nbsp;</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="text-center">Hỗ trợ đổi trả hàng hóa</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">10% chi phí đổi trả</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">30% chi phí đổi trả</td>
                        </tr>
                        <tr>
                            <td class="text-center">Duy trì mối quan hệ thường xuyên <br /> với người bán để gia tăng lợi ích <br /> về chiết khấu, công nợ mua hàng</td>
                            <td class="text-center"><i class="fa fa-times bold red-color" aria-hidden="true"></i></td>
                            <td class="text-center">&nbsp;</td>
                            <td class="text-center"><i class="fa fa-check tick green-color bold"></i></td>
                            <td class="text-center">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="text-center">Đơn giá/tháng</td>
                            <td class="text-center">&nbsp;</td>
                            <td class="text-center">2.000.000đ</td>
                            <td class="text-center">&nbsp;</td>
                            <td class="text-center">5.000.000đ</td>
                            <td class="text-center">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>&nbsp;</p>
        </div>
    </div>
</section>