@{
    Layout = null;
}

<div id="tutorialbreadcrumb">
    <div class="container rs">
        <h2>เงื่อนไขการสั่งซื้อ</h2>
        <p>
            ขั้นตอนสั่งซื้อของ Likeorder ได้สรุปตามภาพข้างล่าง
        </p>
        <ul class="list-unstyled">

            <li style="padding-left: 100px;">
                <a href="/th/Home/Guide/#tutorialstep1">
                    <img src="~/Content/images/icon-guide/tutorial-icon1.png" alt="" />
                    <br>
                    สมัครบัญชี
                </a>
            </li>
            <li>
                <a href="/th/Home/Guide/#tutorialstep2">
                    <img src="~/Content/images/icon-guide/tutorial-icon2.png" alt="" />
                    <br>
                    ติดตั้งเครื่องมื่อสั่งซื้อ
                </a>
            </li>
            <li>
                <a href="/th/Home/Guide/#tutorialstep3">
                    <img src="~/Content/images/icon-guide/tutorial-icon3.png" alt="" />
                    <br>
                    เลือกสินค้าและเพิ่มสินค้าเข้าตะกร้า
                </a>
            </li>
            <li>
                <a href="/th/Home/Guide/#tutorialstep4">
                    <img src="~/Content/images/icon-guide/tutorial-icon4.png" alt="" />
                    <br>
                    ส่งออเดอร์สั่งสินค้า
                </a>
            </li>
            <li>
                <a href="/th/Home/Guide/#tutorialstep5">
                    <img src="~/Content/images/icon-guide/tutorial-icon5.png" alt="" />
                    <br>
                    มัดจำเงินซื้อสินค้า
                </a>
            </li>
            <li>
                <a href="/th/Home/Guide/#tutorialstep6">
                    <img src="~/Content/images/icon-guide/tutorial-icon6.png" alt="" />
                    <br>
                    ติดตามออเดอร์
                </a>
            </li>
            <li>
                <a href="/th/Home/Guide/#tutorialstep7">
                    <img src="~/Content/images/icon-guide/tutorial-icon7.png" alt="" />
                    <br>
                    รับสินค้าและชำระ
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="turoialsteps">
    <div class="stepline"></div>
    <div id="tutorialstep1" class="turoialstep rs">
        <div class="container rs">
            <div class="row">
                <div class="col-xs-6 col1">
                    <img src="~/Content/images/icon-guide/tutorial-img1.png" alt="" />
                </div>
                <div class="col-xs-6 col2">
                    <h3>สมัครบัญชี</h3>
                    <div>
                        ใส่ข้อมูลส่วนตัวที่จำเป็นในช่อง  กรุณาให้ข้อมูลอย่างถูกต้องและครบถ้วนเพื่อรับรองการคอนเฟิร์มและจัดการออเดอร์ของคุณไม่ให้มีปัญหา
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tutorialstep2" class="turoialstep rs">
        <div class="container rs">
            <div class="row">
                <div class="col-xs-6 col1">
                    <h3>ติดตั้งเครื่องมือสั่งซื้อ</h3>
                    <div>
                        
                        คลิกที่เครื่องมือสั่งซื้อของLikeorder<br> <br>
                        เพื่อการทำงานที่ดีที่สุด ผ่าน เบราว์เซอร์ Chorme
                    </div>
                </div>
                <div class="col-xs-6 col2">
                    <img src="~/Content/images/icon-guide/tutorial-img2.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div id="tutorialstep3" class="turoialstep rs">
        <div class="container rs">
            <div class="row">
                <div class="col-xs-6 col1">
                    <img src="~/Content/images/icon-guide/tutorial-img3.png" alt="" />
                </div>
                <div class="col-xs-6 col2">
                    <h3>เลือกสินค้าและเพิ่มสินค้าเข้าตะกร้า</h3>
                    <div>
                        เข้าเว็บขายสินค้าเหมือน  Taobao.com, Tmall.com, 1688.com … เลือกสินค้าเพิ่มเข้าไปในตะกร้า
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tutorialstep4" class="turoialstep rs">
        <div class="container rs">
            <div class="row">
                <div class="col-xs-6 col1">
                    <h3>ส่งออเดอร์สั่งสินค้า</h3>
                    <div>
                        กลับที่เว็บไซต์ของLikeorder และเช็คตะกร้าสินค้า
                        <br>คลิกปุ่ม " ส่งออเดอร์" รอคอนเฟิร์ม
                    </div>
                </div>
                <div class="col-xs-6 col2">
                    <img src="~/Content/images/icon-guide/tutorial-img4.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div id="tutorialstep5" class="turoialstep rs">
        <div class="container rs">
            <div class="row">
                <div class="col-xs-6 col1">
                    <img src="~/Content/images/icon-guide/tutorial-img5.png" alt="" />
                </div>
                <div class="col-xs-6 col2">
                    <h3>มัดจำเงินซื้อสินค้า</h3>
                    <div>
                        ตรวจสอบออเดอร์และมัดจำ  50 -70% ของราคาสินค้า โดยผ่านการโอนเงิน หรือจ่ายโดยตรง
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tutorialstep6" class="turoialstep rs">
        <div class="container rs">
            <div class="row">
                <div class="col-xs-6 col1">
                    <h3>ติดตามออเดอร์</h3>
                    <div>
                        ขั้นตอนออเดอร์ของคุณได้สั่งซื้อและขนส่ง :

                        <div class="numbers">
                            @*<p>
                                สินค้าซื้อที่จีนจะมีรหัสใบตราส่งสินค้าเพื่อติดตาม
                            </p>
                            <p>
                                ร้านค้าส่งสินค้าเข้ามาโกดังของ Likeorder ที่จีน ดำเนินการตีลังไม้ ถ้าลูกค้าเลือกใช้บรการนี้
                            </p>
                            <p>
                                ขนส่งสินค้าจากโกดังที่จีนมาถึงโกดังที่ไทยของ Likeorder
                            </p>
                            <p>
                                รับสินค้าเข้าโกดังที่ไทย ดำเนินการตรวจนับสินค้า
                            </p>
                            <p>แจ้งสรุปออเอดร์</p>*@
                            ออเดอร์ของคุณ อยู่ในขั้นตอน  สั่งซื้อ     &rarr;
                            ร้านค้าส่งสินค้าเข้ามาโกดังของ Likeorder ที่จีน (ลูกค้าสามารถเลือกบริการตีลังไม้ได้ ) 	&rarr; 
                            สินค้ามาถึงโกดัง ของ Likeorderที่ไทย   &rarr; 
                            ดำเนินการตรวจนับสินค้า  &rarr;    
                            แจ้งสรุปออเดอร์
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col2">
                    <img src="~/Content/images/icon-guide/tutorial-img6.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div id="tutorialstep7" class="turoialstep rs">
        <div class="container rs">
            <div class="row">
                <div class="col-xs-6 col1">
                    <img src="~/Content/images/icon-guide/tutorial-img7.png" alt="" />
                </div>
                <div class="col-xs-6 col2">
                    <h3>รับสินค้าและชำระ</h3>
                    <div>
                        คุณลูกค้าจะได้รับอีเมลสรุปออเดอร์ แจ้งให้มารับสินค้า  และ ชำระชำระโดยวิธีโอนเงินหรือมาชำระเอง
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="hometutorial" class="rs">
    <span>สั่งซื้อเลยต้อนนี้</span> <a href="#" class="btn">คลิกที่นี่</a>
</div>

 