@{
    var order = (byte)OrderType.Order;
    var deposit = (byte)OrderType.Deposit;
}
<script type="text/html" id="claimforrefund-list">
    <tr>
        <td data-bind="text: (page-1)*pagesize + $index()+1" class="text-center"></td>
        <td class="text-center">
            <a data-bind="click: $parent.btnViewClaimForRefundDetail" href="javascript:;">
                <strong>
                    <span data-bind="text: Code"></span>
                </strong>
            </a>
        </td>
        <td class="text-center">
            <a data-bind="click: $parent.viewTicketDetail" href="javascript:;">
                <strong>
                    <span data-bind="text: TicketCode"></span>
                </strong>
            </a>
        </td>
        <td class="text-center">
            <!-- ko if: OrderType == @order-->
            <a data-bind="click: orderDetailViewModel.viewOrderDetail.bind($data, OrderId)" href="javascript:;">

                <span data-bind="text: OrderCode"></span>

            </a>
            <!-- /ko -->
            <!-- ko if: OrderType == @deposit-->
            <a data-bind="click: depositDetailViewModel.showModalDialog.bind($data, OrderId)" href="javascript:;">

                <span data-bind="text: OrderCode"></span>

            </a>
            <!-- /ko -->
        </td>
        <td class="text-center" data-bind="text: CustomerFullName"></td>
        <td class="text-center" data-bind="text: formatNumberic(SupporterMoneyRequest, 'N2')"></td>
        <td class="text-center" data-bind="text: formatNumberic(CurrencyDiscount, 'N2')"></td>
        <td class="text-center" data-bind="text: formatNumberic(RealTotalRefund, 'N2')"></td>
        <td class="text-center" data-bind="text: SupportFullName"></td>
        <td class="text-center">
            <span data-bind="text: statusApp.statusClaimForRefund[Status].Name, css: statusApp.statusClaimForRefund[Status].Class">Status</span>
            <span  data-bind="text: moment(LastUpdated).format('DD/MM/YYYY HH:mm')"></span>
        </td>
        <td class="text-center">
            @if (CheckPermision(EnumAction.Approvel, EnumPage.TicketClaimforrefund, EnumPage.ExecuteClaimForRefund))
            {
                <a data-bind="click: $parent.btnViewRefundMoneyModalContinute" href="javscript:;" class="btn btn-success btn-xs" title="Change"><i class="fa fa-user-plus"></i>Handling</a>
            }
            <a class="btn btn-info btn-xs">Approval</a>
            <a href="javscript:;" data-bind="click: $parent.btnDeleteClaimForRefund" class="btn btn-danger btn-xs"><i class="fa fa-times-circle"></i> Cancel</a>
        </td>
    </tr>
</script>