<script type="text/html" id="reportBargain">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Total (CNY) bargain be with Shop of the day(Order successful).</h3>
            <div class="box-tools pull-right">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default pull-right" id="daterange-btnOrderedday">
                        <span>
                            <i class="fa fa-calendar"></i>Start Date
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>
                <button data-bind="click: ExcelMoneyReportOrderedday" class="btn btn-xs btn-success"><i class="fa fa-file-excel-o"></i> Export report</button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="pad">
                        <div id="userOrderedDay" style="min-width: 100px; height: 300px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Total (CNY) bargain be with Shop of the day(Order successful).</h3>
            <div class="box-tools pull-right">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default pull-right" id="daterange-btnFinishedday">
                        <span>
                            <i class="fa fa-calendar"></i>Start Date
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>
                <button data-bind="click: ExcelMoneyReportFinishedday" class="btn btn-xs btn-success"><i class="fa fa-file-excel-o"></i> Export report</button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="pad">
                        <div id="userFinishedDay" style="min-width: 100px; height: 300px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Total (CNY) bargain be with Shop of the day(Order successful).</h3>
            <div class="box-tools pull-right">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default pull-right" id="daterange-btnOrderedAllday">
                        <span>
                            <i class="fa fa-calendar"></i>Start Date
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>
                <button data-bind="click: ExcelMoneyReportOrderedAllday" class="btn btn-xs btn-success"><i class="fa fa-file-excel-o"></i> Export report</button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="pad">
                        <div id="userOrderedAllDay" style="min-width: 100px; height: 300px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Total (CNY) bargain be with Shop of the day(Order successful).</h3>
            <div class="box-tools pull-right">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default pull-right" id="daterange-btnFinishedAllday">
                        <span>
                            <i class="fa fa-calendar"></i>Start Date
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>
                <button data-bind="click: ExcelMoneyReportFinishedAllday" class="btn btn-xs btn-success"><i class="fa fa-file-excel-o"></i> Export report</button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="pad">
                        <div id="userFinishedAllDay" style="min-width: 100px; height: 300px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>