@{
    ViewBag.Title = "Tạo mới đơn hàng";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Tạo mới đơn hàng
        <small>#007612</small>
    </h1>
</section>
<!-- Main content -->
<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i> Order ID: ORD6896253
                <small class="pull-right">Create date: 2/10/2014</small>
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            <address>
                <strong>Account information</strong><br>
                <span class="label label-danger">VIP 1</span> Mã KH: USE0120120102<br>
                Tên khách hàng: Nguyễn Ngọc Phan<br>
                Email: hanoibanhcuon@almasaeedstudio.com<br>
                Phone: 0912349258<br>
                Địa chỉ: 312 Nguyễn Phong Sắc, Đống Đa, Hà Nội
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <address>
                <strong>Thông tin người thanh toán</strong><br>
                Tên khách hàng: Nguyễn Ngọc Phan<br>
                Email: hanoibanhcuon@almasaeedstudio.com<br>
                Phone: 0912349258<br>
                Địa chỉ: 312 Nguyễn Phong Sắc, Đống Đa, Hà Nội
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <b>Đơn hàng số #ORD6896253</b><br>
            <b>Ngày thanh toán:</b> 08/09/2016<br>
            <br />
            <b>Trạng thái:</b> <span class="label label-default">Pending</span>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Số lượng</th>
                        <th>Tên sản phẩm</th>
                        <th>Miêu tả</th>
                        <th>Đơn giá (VNĐ)</th>
                        <th>Thành tiền (VNĐ)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>02</td>
                        <td><a href="#">Giày dép da</a></td>
                        <td>Giày dép da siêu bền</td>
                        <td>50.000 đ</td>
                        <td>100.000 đ</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>11</td>
                        <td><a href="#">Kính xem tivi 3D</a></td>
                        <td>Kính xem tivi đa năng, đặt cọc không giới hạn</td>
                        <td>50.000 đ</td>
                        <td>100.000 đ</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>01</td>
                        <td><a href="#">Đầu đĩa DVD</a></td>
                        <td>Đầu được trang bị khá nhiều đặc tính hay ho</td>
                        <td>50.000 đ</td>
                        <td>100.000 đ</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>40</td>
                        <td><a href="#">Đĩa cứng Blue ray</a></td>
                        <td>Đĩa cứng này phải được gắn trong thông tin sản phẩm</td>
                        <td>50.000 đ</td>
                        <td>100.000 đ</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-8">
            <p class="lead">Hình thức thanh toán:</p>
            <img src="~/Content/dist/img/credit/visa.png" alt="Visa">
            <img src="~/Content/dist/img/credit/mastercard.png" alt="Mastercard">
            <img src="~/Content/dist/img/credit/american-express.png" alt="American Express">
            <img src="~/Content/dist/img/credit/paypal2.png" alt="Paypal">

            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                Ghi chú của khách hàng. Đây là ghi chú của khách hàng !
            </p>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
            <p class="lead">Ngày thanh toán: 2/22/2014</p>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:50%">Tổng tiền:</th>
                        <td>24.000.000</td>
                    </tr>
                    <tr>
                        <th style="width:50%">Deposited:</th>
                        <td>12.000.000</td>
                    </tr>
                    <tr>
                        <th>Thuế (+10%)</th>
                        <td>2.000.000</td>
                    </tr>
                    <tr>
                        <th>Phí vận chuyển:</th>
                        <td>50.000</td>
                    </tr>
                    <tr>
                        <th>Tổng phải trả:</th>
                        <td>15.500.000</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <a href="/Purchase/Order/" target="_blank" class="btn btn-default"><i class="fa fa-arrow-left"></i> Danh sách đơn hàng</a>
            <button type="button" class="btn btn-success pull-right">
                <i class="fa fa fa-print"></i> In đơn hàng
            </button>
            <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
                <i class="fa fa-print"></i> In phiếu
            </button>
        </div>
    </div>
</section>
<!-- /.content -->
<div class="clearfix"></div>
