@{
    ViewBag.Title = "Tạo mới đơn hàng";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @*<h1>
        Tạo mới đơn hàng
    </h1>*@
</section>
<!-- Main content -->
<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i> Order information: ORD6896253 <span class="label label-default">Pending</span>
                <small class="pull-right">Create date: 2/10/2014</small>
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            <address>
                <strong>Account information</strong><br>
                <span class="label label-danger">VIP 1</span> Mã KH: USE0120120102<br>
                Tên khách hàng: Nguyễn Ngọc Phan<br>
                Email: hanoibanhcuon@almasaeedstudio.com<br>
                Phone: 0912349258<br>
               ịa chỉ: 312 Nguyễn Phong Sắc,ốnga, Hà Nội
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <address>
                <strong>Thông tin người thanh toán</strong><br>
                Tên khách hàng: Nguyễn Ngọc Phan<br>
                Email: hanoibanhcuon@almasaeedstudio.com<br>
                Phone: 0912349258<br>
               ịa chỉ: 312 Nguyễn Phong Sắc,ốnga, Hà Nội
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <b>Ngày thanh toán:</b> 08/09/2016<br/>
            <b>Tỷ giá đang áp dụng:</b> 1 NDT = 3.410 VNĐ
        </div>
        <div class="col-sm-12 invoice-col">
            <div class="form-group">
                <b>Dịch vụ sử dụng thêm: </b>
                <label>
                    <input type="checkbox" class="minimal" checked> Dịch vụ kiểm đếm
                </label>
                <label>
                    <input type="checkbox" class="minimal"> Dịch vụ đóng kiện gỗ
                </label>
                <label>
                    <input type="checkbox" class="minimal"> Dịch vụ đóng kiện gỗ
                </label>
                <label>
                    <input type="checkbox" class="minimal"> Dịch vụ đóng kiện gỗ
                </label>
                <label>
                    <input type="checkbox" class="minimal"> Dịch vụ đóng kiện gỗ
                </label>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ảnh sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Đặt tại Shop</th>
                        <th>Miêu tả</th>
                        <th style="color: blue">Số lượng</th>
                        <th style="color: blue">Đơn giá khách (NDT)</th>
                        <th style="color: blue">Thành tiền khách (NDT)</th>
                        <th style="color: red">Đơn giá mặc cả (NDT)</th>
                        <th style="color: red">Thành tiền mặc cả (NDT)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="text-center"><img alt="Avatar" style="width: 50px;" ng-reflect-src="/Content/dist/img/user2-160x160.jpg" src="/Content/dist/img/user2-160x160.jpg"></td>
                        <td><a href="#">Giày dép da</a></td>
                        <td><a href="#">义乌市雅然电子商务商行</a></td>
                        <td>Giày dép da siêu bền</td>
                        <td>02</td>
                        <td>50.00</td>
                        <td>100.00</td>
                        <td>50.00</td>
                        <td>100.00</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td class="text-center"><img alt="Avatar" style="width: 50px;" ng-reflect-src="/Content/dist/img/user2-160x160.jpg" src="/Content/dist/img/user2-160x160.jpg"></td>
                        <td><a href="#">Kính xem tivi 3D</a></td>
                        <td><a href="#">义乌市雅然电子商务商行</a></td>
                        <td>Kính xem tivia năng,ặt cọc không giới hạn</td>
                        <td>11</td>
                        <td>50.00</td>
                        <td>100.00</td>
                        <td>50.00</td>
                        <td>100.00</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td class="text-center"><img alt="Avatar" style="width: 50px;" ng-reflect-src="/Content/dist/img/user2-160x160.jpg" src="/Content/dist/img/user2-160x160.jpg"></td>
                        <td><a href="#">Đầuĩa DVD</a></td>
                        <td><a href="#">义乌市雅然电子商务商行</a></td>
                        <td>Đầuược trang bị khá nhiềuặc tính hay ho</td>
                        <td>01</td>
                        <td>50.00</td>
                        <td>100.00</td>
                        <td>50.00</td>
                        <td>100.00</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td class="text-center"><img alt="Avatar" style="width: 50px;" ng-reflect-src="/Content/dist/img/user2-160x160.jpg" src="/Content/dist/img/user2-160x160.jpg"></td>
                        <td><a href="#">Đĩa cứng Blue ray</a></td>
                        <td><a href="#">义乌市雅然电子商务商行</a></td>
                        <td>Đĩa cứng này phảiược gắn trong thông tin sản phẩm</td>
                        <td>40</td>
                        <td>50.00</td>
                        <td>100.00</td>
                        <td>50.00</td>
                        <td>100.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mã Vận đơn</th>
                        <th>Mã Hợp đồng</th>
                        <th>Thanh toán shop (NDT)</th>
                        <th>Status</th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><strong>227165151863</strong></td>
                        <td><strong>227165151863</strong></td>
                        <td>02</td>
                        <td>50.00</td>
                        <td>100.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-8">
            <p class="lead">Hình thức thanh toán:</p>
            <img src="~/Content/dist/img/credit/visa.png" alt="Visa">
            <img src="~/Content/dist/img/credit/mastercard.png" alt="Mastercard">
            <img src="~/Content/dist/img/credit/american-express.png" alt="American Express">
            <img src="~/Content/dist/img/credit/paypal2.png" alt="Paypal">

            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                Mình Muốn nhập loại gấu teddy ôm trái tim này. Yêu cầu của mình là chỉ nhập vỏ và phụ kiện của gấu teddyãược may thành phẩm, sử dụng tiếng anh, bỏ phần thêu chữ trung quốci, còn phần lõi ruột bên trong mình tự sản xuất vào cho công nhân nhồi sau. Mụcíchể giảmược giá thành nhập khẩu và giảm cước ship về VietnamShip hàng tiểu ngạch về, nhận tạiịa chỉ 79 Ngọc Hồi, Quận Hoàng Mai, TP Hà Nội (CTY TNHH TM VẬN TẢIƯỜNG SẮT NAM VIỆT)Lương Hữu Phúc 0915491899
            </p>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
            <p class="lead">Ngày thanh toán: 2/22/2014</p> 
            (Tỷ giá áp dụng cho đơn hàng này: 1 Tệ = 3,410 VNĐ)
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:50%">Tổng tiền:</th>
                        <td>+ 24.00.00</td>
                    </tr>
                    <tr>
                        <th>Thuế (+10%)</th>
                        <td>+ 2.00.00</td>
                    </tr>
                    <tr>
                        <th>Service rate:</th>
                        <td>+ 250.00</td>
                    </tr>
                    <tr>
                        <th>Tổng phí vận chuyển:</th>
                        <td>+ 100.00</td>
                    </tr>
                    <tr>
                        <th style="width:50%">Đãặt cọc:</th>
                        <td>- 12.00.00</td>
                    </tr>
                    <tr>
                        <th>Tổng phải thanh toán:</th>
                        <td>15.500.00</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <a href="/Purchase/Order/" target="_blank" class="btn btn-default"><i class="fa fa-arrow-left"></i> Danh sáchơn hàng</a>
            <button type="button" class="btn btn-success pull-right">
                <i class="fa fa fa-print"></i> Inơn hàng
            </button>
            <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
                <i class="fa fa-print"></i> In phiếu
            </button>
        </div>
    </div>
</section>
<!-- /.content -->
<div class="clearfix"></div>
