<div id="debitDetailModal" class="modal fade modal-dialog modal-p60" role="dialog">
    <div class="modal-body">
        <section class="importwarehouse">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="page-header">
                        <strong>DETAIL SESSION FORM </strong>
                        <span class="impornumber">Tracking number: <strong data-bind="text: debitModel().Code()"></strong></span>
                        <small data-bind="text: 'Business Day: ' + moment(debitModel().Created()).format('DD/MM/YYYY')"></small>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <th>Name of object type</th>
                                <td data-bind="text: debitModel().SubjectTypeName()"></td>
                            </tr>
                            <tr>
                                <th>Object code:</th>
                                <td data-bind="text: debitModel().SubjectCode()"></td>
                            </tr>
                            <tr>
                                <th>Object name:</th>
                                <td data-bind="text: debitModel().SubjectName()"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <th>Status:</th>
                                <td>
                                    <span data-bind="text: statusApp.statusMustCollect[debitModel().Status()].Name, css: statusApp.statusMustCollect[debitModel().Status()].Class"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>Fund get money:</th>
                                <td data-bind="text: debitModel().FinanceFundName()"></td>
                            </tr>
                            <tr>
                                <th>Account name already collected:</th>
                                <td data-bind="text: debitModel().TreasureName()"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="alert alert-warning alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="false">&times;</button>
                            <h4><i class="icon fa fa-thumb-tack"></i>Staff notes!</h4>
                            <span data-bind="text: debitModel().Note()"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="importwarehouse">
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Amount to be collected (Baht)</th>
                                <th class="text-center">The money have to pay (Baht)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center"><strong data-bind="text: formatNumberic(debitModel().MustCollectMoney(), 'N2')"></strong></td>
                                <td class="text-center" style="color: blue" data-bind="text: formatNumberic(debitModel().MustReturnMoney(), 'N2')"></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="importwarehouse">
            <div class="row signature">
                <div class="col-sm-4" align="center">
                    <span><strong>The person making the ticket</strong></span>
                    <span class="description">(Sign and write full name)</span>
                    <span class="name" data-bind="text: debitModel().UserName()"></span>
                </div>

                <div class="col-sm-4" align="center">
                    <span><strong>Customer</strong></span>
                    <span class="description">(Sign and write full name)</span>
                    <span class="name" data-bind="text: "></span>
                </div>

                <div class="col-sm-4" align="center">
                    <span><strong>Chief accountant</strong></span>
                    <span class="description">(Sign and write full name)</span>
                    <span class="name" data-bind="text: debitModel().UserApprovalName()"></span>
                </div>
            </div>
            <!-- /.row -->
        </section>
    </div>

    <div class="modal-footer">
        <a class="btn btn-primary"><i class="fa fa-print"></i>Print </a>
        <a class="btn btn-default" data-dismiss="modal">Close</a>
    </div>
</div>
