<script type="text/html" id="Noti">
    <div class="box box-primary">
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <div class="row">
                    <section class="col-md-3 form-group">
                          <label for="ddlGroup">Keyword search </label>
                        <i class="fa fa-question-circle tooltips big-tooltip" data-toggle="tooltip" data-placement="right" title="" data-original-title="Title notifacation"></i>
                        <input class="form-control" id="SearchInfo_Keyword" name="SearchInfo.Keyword" placeholder="Title notifacation" type="text" data-bind="value: SearchNotifiModal().Keyword">
                    </section>
                    <section class="col-md-2 form-group">
                        <label for="ddlWarehouse">Select System</label>
                        <select class="form-control select-view" id="ddlWarehouse" style="width: 100%;" data-bind="options: listSystem,optionsText: 'Text',optionsValue: 'Value',value: SearchNotifiModal().SystemId"></select>
                    </section>
                    <section class="col-md-2 form-group">
                        <label for="ddlPage">Status</label>
                        <select class="form-control select-view" style="width: 100%;" data-bind="options: listStatus, optionsText: 'Text', optionsValue: 'Value',value: SearchNotifiModal().Status"></select>
                    </section>
                    <section class="col-md-2 form-group">
                        <!-- Date and time range -->
                        <label>Start Date</label>
                        <div class="input-group">
                            <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                                <span>
                                    <i class="fa fa-calendar"></i>Start Date
                                </span>
                                <i class="fa fa-caret-down"></i>
                            </button>
                        </div>
                    </section>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>&nbsp;</label><br />
                        <button data-bind="click: clickSearch" class="btn btn-danger search-list"><i class="fa fa-search"></i> Search</button>
                        <a data-bind="click: addNotifiModal" href="javascript:;" type="submit" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add new</a>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12" id="body-table">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">System notification list</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="tabbable page-tabs">
                        <ul data-bind="foreach : listSystem" class="nav nav-tabs">
                            <li data-bind="css: Class">
                                <a data-bind="attr: { href: '#tab' + Value, id: 'nav-tab' + Value}, click: function(){ $parent.clickTab(Value)}" data-toggle="tab">
                                    <span data-bind="text: Text"></span>
                                    <span class="label"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!-- First tab -->
                            <div class="tab-pane active fade in" id="all-tasks">
                                <!-- Tasks table -->
                                <div class="box-body table-responsive no-padding">
                                    <div data-bind="css: isRending() == true? 'display-none' : ''">
                                        <div class="spinner">
                                            <div class="rect1"></div>
                                            <div class="rect2"></div>
                                            <div class="rect3"></div>
                                            <div class="rect4"></div>
                                            <div class="rect5"></div>
                                        </div>
                                    </div>
                                    <div data-bind="css: isRending() == true? '' : 'display-none'" class="display-none">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center w-40">#</th>
                                                    <th class="text-center w-250">Title</th>
                                                    <th class="text-center w-120">Created Date</th>
                                                    <th class="text-center w-100">Show<</th>
                                                    <th class="text-center w-150">System</th>
                                                    <th class="text-center w-150">Action </th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="template: { name: 'ListNoti', foreach: listAllData }"></tbody>
                                            <tfoot data-bind="if: listAllData().length == 0">
                                                <tr>
                                                    <td colspan="8">No data</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div data-bind="if: listAllData().length > 0" class="mt15">
                                    <div data-bind="html: pageTitle" class="pull-left"></div>

                                    <ul class="pagination pagination-sm no-margin pull-right">
                                        <li data-bind="if: pageStart">
                                            <a data-bind="click: function(){ setPage({Page: 1})}" href="javascript:;"><i class="fa fa-angle-double-left"></i></a>
                                        </li>
                                        <li data-bind="if: pageNext">
                                            <a data-bind="click: function(){ setPage({Page: (page - 3) < 1 ? 1 : (page - 3) })}" href="javascript:;">...</a>
                                        </li>
                                        <!-- ko foreach: listPage -->
                                        <li data-bind="css: Page == page ? 'active' :''  ">
                                            <a data-bind="text: Page, click: $parent.setPage" href="javascript:;"></a>
                                        </li>
                                        <!-- /ko -->
                                        <li data-bind="if: pagePrev">
                                            <a data-bind="click: function(){ setPage({Page: (page + 3) > pageTotal ? pageTotal: (page + 3) })}" href="javascript:;">...</a>
                                        </li>
                                        <li data-bind="if: pageEnd">
                                            <a data-bind="click: function(){ setPage({Page: pageTotal})}" href="javascript:;"><i class="fa fa-angle-double-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /page tabs -->
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
</script>