<div id="NotifiAddOrEdit" class="modal fade modal-dialog modal-p60" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notification details</h4>
    </div>
    <div class="modal-body">
        <!-- Table row -->
        <div class="row importwarehouse">
            <div class="row">
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="box box-danger">
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal" id="inforNoti">
                            <div class="col-md-12">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Select System: <span class="color-red">(*)</span></label>
                                        <div class="col-sm-9">
                                            <select class="form-control select-view ddlAdd-system" id="ddlPage" style="width: 100%;"
                                                    data-bind="options: listSystemNo, optionsText: 'Text',optionsValue: 'Value', value: notifiModel().SystemId"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Title: <span class="color-red">(*)</span></label>
                                        <div class="col-sm-9">
                                            <input data-bind="value: notifiModel().Title" type="text" class="form-control">
                                            <input data-bind="value: notifiModel().Id" type="hidden">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Terms: <span class="color-red">(*)</span></label>
                                        <div class="col-sm-9">
                                            <textarea data-bind="value: notifiModel().Description" id="txtDescription" class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Show</label>
                                        <div class="col-sm-9">
                                            <input type="checkbox" data-bind="checked: notifiModel().Status" />
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-success" id="btnEdit2" data-bind="click: saveNotifi"><i class="fa fa-plus"></i>Save</a>
        <a class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</a>
    </div>
</div>


